@model CmsWeb.Models.OrgChildrenModel
@using CmsWeb
@{
    Layout = "/Views/Shared/SiteLayout.cshtml";
    ViewBag.Title = "OrgChildren";
    CassetteConfiguration.BundleRefJs();
    Bundles.Reference("OrgChildren");
}
@section head
{
<style>
    td.wide100 * 
    {
        width: 98%;
    }
</style>
}
@if (Model.canedit)
{
@Html.Hidden("canedit", "true")
}
<form id="groupsform" action="/OrgChildren/Update" method="post">
@Html.Partial("Form", Model)
</form>


