@using CmsWeb
<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
    <title>AddAttendeesFromTag</title>
    <link href="/Content/jquery-ui-1.8.22.custom.css" rel="stylesheet" type="text/css" />
    <link href="/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="/Content/jquery.tooltip.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="roundbox">
    <h2>Add Attendees to Meeting From Tag</h2>
    <form action="/AddAttendeesFromTag/Start" method="post">
    @Html.Hidden("meetingid")
    Tag: @Html.DropDownList("tag")</br>
    <label>@Html.CheckBox("addasmembers")Add as Organization Members too</label>
    <input type="submit" class="bt" name="Submit" value="Run" />
    </form>
</div>
</body>
</html>