@using UtilityExtensions
@model CmsWeb.Areas.People.Models.Person.AddressInfo
<p>
    @Model.Address1<br />
    @if (Model.Address2.HasValue())
    {
        @Model.Address2<br />
    }
    @Model.CityStateZip()
</p>
