@using UtilityExtensions
@model CmsWeb.Areas.People.Models.Person.CellPhoneInfo
<div class="control-group">
    @Html.LabelFor(m=> m, new { @class = "control-label nwrap"})
    <div class="controls">
        <p>
            @Model.Number.FmtFone()
            @* todo: helptext for what the checkbox means *@
            @if (Model.ReceiveText)
            {
                <label class="addon"> <i class="icon-check"></i> <span>SMS Opt-in</span></label>
            }
            else
            {
                <label class="addon"> <i class="icon-check-empty"></i> <span>SMS Opt-in</span></label>
            }
        </p>
    </div>
</div>
