@model CmsWeb.Areas.People.Models.Person.BasicPersonInfo
<div class="control-group">
    <label class="control-label">Do Not Contact</label>
    <div class="controls">
        <p>@Model.DoNotContact</p>
    </div>
</div>
