@model CmsWeb.Areas.People.Models.Person.EmailInfo
@{
    var label = ViewData.ModelMetadata.AdditionalValues["label"];
    var classes = ViewData.ModelMetadata.AdditionalValues["classes"];
}
<div class="control-group @classes">
    <label for="">@label</label>
    <div class="controls">
        <p>
            @Model.Address
            @if (Model.Send)
            {
                <i class="icon-check"></i>
            }
            else
            {
                <i class="icon-check-empty"></i>
            }
        </p>
    </div>
</div>
