@model CmsWeb.Areas.People.Models.Person.EmailInfo
<div class="control-group">
    @Html.LabelFor(m=> m, new { @class = "control-label nwrap"})
    <div class="controls">
        <p>
            @Model.Address<br/>
            @* todo: use help text *@
            @if (Model.Send)
            {
                <label class="addon"> <i class="icon-check"></i> <span>Active</span> </label>
            }
            else
            {
                <label class="addon"> <i class="icon-check-empty"></i> <span>Active</span> </label>
            }
        </p>
    </div>
</div>
