@model CmsWeb.Areas.People.Models.Person.EmailInfo
<div class="control-group">
    @* Dave: Look at what is happening with a long email address, e.g. Pam Yarbrough *@
    @Html.LabelFor(m=> m, new { @class = "control-label nwrap"})
    <div class="controls">
        <p>
            @Model.Address
            @if (Model.Send)
            {
                <i class="icon-check"></i>
            }
            else
            {
                <i class="icon-check-empty"></i>
            }
        </p>
    </div>
</div>
