@model CmsWeb.Areas.People.Models.Person.EmailInfo
<div class="control-group">
    @Html.LabelFor(m=> m, new { @class = "control-label nwrap"})
    <div class="controls">
        <p>
            @if (Model.Send)
            {
                <span class="email_display">@Model.Address</span>
            }
            else
            {
                <del class="email_display">@Model.Address</del>
            }
        </p>
    </div>
</div>
