@model CmsWeb.Areas.Finance.Models.BundlesModel
@using CmsWeb
@using UtilityExtensions
@{
    ViewBag.Title = "Contribution Bundles";
    Layout = "/Views/Shared/SiteLayout.cshtml";
    CassetteBundleConfiguration.BundleRefJs();
    Bundles.Reference("bundles");
}
<table class="roundbox">
    <tr><td nowrap="nowrap"><h2>Contribution Bundles</h2></td></tr>
    <tr><td class="right">
            @Html.ActionLink( "Create New Bundle", "NewBundle", "Bundles", null,
                              new { @class="bt blue", onclick = "return confirm('Are you sure?');" } )
        </td>
    </tr>
</table>
<form id="results">
@Html.Partial("Results", Model)
</form>