@using CmsWeb
@model CmsWeb.Models.DivisionModel
@{
    Layout = "/Views/Shared/SiteLayout.cshtml";
    ViewBag.Title = "Divisions";
}
@section scripts 
{
@Html.Script("/Scripts/Divisions.js")
}
<form id="progform">
Filter for Program: @Html.DropDownList("ProgramId", Model.ProgramIds())
<input id="refresh" type="submit" value="Refresh" />
Target Program: @Html.DropDownList("TagProgramId", Model.ProgramIds())
</form>
<h2>Divisions</h2>
@Html.Partial("Results", Model) 
@using (Html.BeginForm("Create", "Division"))
{ 
    <p><input id="create" type="submit" value="Create" /></p>
} 