<html>
<body>
    <div>
    <h2>Opt Out Confirmation</h2>
        <div>You have been removed from any more emails from address: <strong>@ViewData["fromemail"]</strong></div>
    </div>
</body>
</html>

