@model CmsWeb.Models.OrganizationPage.MemberModel
@{ ViewData["OrgMemberContext"] = true;
   @Html.Partial("ExportToolBar")
   ViewData["OrgMemberContext"] = false; 
}
&nbsp;<div style="clear: both"></div>
<p>
Count: <strong>@Model.Count()</strong>&nbsp;&nbsp;
<a class="filtergroupslink bt" href="#" title="filter by name or group">Filter @(Html.Raw(Model.isFiltered ? "<span style='color:red'>(filtered)</span>" : ""))</a>
@if(User.IsInRole("Edit"))
{ 
<a href="/SearchAdd/Index/@Model.OrganizationId?type=org" class="addmembers bt">add members</a>
<a href="/AddToOrgFromTag/Index/@Model.OrganizationId" class="addfromtag bt" title="Add Members From Tag">add from tag</a>
<a id="currMembersUpdate" href="/OrgMembersDialog/Index/@Model.OrganizationId" title="Update Members" class="memberdialog bt">update members</a>
} 
</p>
 @Html.Partial("MemberGrid", Model) 

