@model CmsWeb.Models.OrganizationPage.MemberModel
@Html.Partial("ExportToolBar") 
&nbsp;<div style="clear: both"></div>
<p style="bottom-margin:5px">
Count: <strong>@Model.Count()</strong>
<a class="filtergroupslink bt" href="#" title="Filter by name/group">Filter@(Model.isFiltered ? "(filtered)" : "")</a>
@if(User.IsInRole("Edit"))
{ 
<a href="/OrgMembersDialog/Index/@Model.OrganizationId?inactives=true" title="Update Inactive Members" class="memberdialog bt">update</a>
} 
</p>
@Html.Partial("MemberGrid", Model) 
