@model CmsData.Registration.Settings
@using CmsWeb
@using CmsWeb.Models.OrganizationPage
@using UtilityExtensions
<p><i>Drag the grey bars up/down arrow to reorder items.</i></p>
<div>
<a href="/Organization/OnlineRegAdminUpdate/@Model.OrgId" class="submitbutton bt blue">Save Changes</a>
<a class="displayedit bt" href="/Organization/OnlineRegAdmin/@Model.OrgId">Cancel</a>
</div>
<div class="formerror">@Html.ValidationMessage("Form")</div>
<ul class="enablesort edit">
@Html.EditorFor(m => m, "TabAdmin")
</ul>
<div>
<a href="/Organization/OnlineRegAdminUpdate/@Model.OrgId" class="submitbutton bt blue">Save Changes</a>
<a class="displayedit bt" href="/Organization/OnlineRegAdmin/@Model.OrgId">Cancel</a>
</div>
<div class="formerror">@Html.ValidationMessage("Form")</div>
