@model CmsData.Registration.Settings
@using CmsWeb
@using UtilityExtensions
@if (User.IsInRole("Edit"))
{ 
<a class="displayedit bt edit regsettingedit" href="/Organization/OnlineRegFeesEdit/@Model.OrgId">Edit</a>
}
<div class="formerror">@Html.ValidationMessage("Form")</div>
<ul class="noedit">
@Html.EditorFor(m => m, "TabFees")
</ul>