@model CmsData.Registration.Settings
@using CmsWeb
@using CmsData
@using UtilityExtensions
<p><i>Click on the boxed text to edit the HTML</i></p>
<div>
<a href="/Organization/OnlineRegMessagesUpdate/@Model.OrgId" class="submitbutton bt blue">Save Changes</a>
<a class="displayedit bt" href="/Organization/OnlineRegMessages/@Model.OrgId">Cancel</a>
</div>
<div>@Html.ValidationMessage("Form")</div>
<ul class="enablesort">
@Html.EditorFor(m => m, "TabMessages")
</ul>
<div>
<a href="/Organization/OnlineRegMessagesUpdate/@Model.OrgId" class="submitbutton bt blue">Save Changes</a>
<a class="displayedit bt" href="/Organization/OnlineRegMessages/@Model.OrgId">Cancel</a>
</div>
<div>@Html.ValidationMessage("Form")</div>
