@model CmsData.Registration.Settings
@using CmsWeb
@using UtilityExtensions
<div>
@if (User.IsInRole("Edit"))
{ 
<a class="displayedit bt edit regsettingedit" href="/Organization/OnlineRegQuestionsEdit/@Model.OrgId">Edit</a>
}
</div>
<div>@Html.ValidationMessage("form")</div>
<ul id="QuestionList" class="noedit">
@Html.EditorFor(m => m, "TabQuestions")
</ul>