@model CmsData.Registration.Settings
@using CmsWeb
@using UtilityExtensions
<div>
@if (User.IsInRole("Edit"))
{ 
<a class="displayedit bt edit regsettingedit" href="/Organization/OnlineRegQuestionsEdit/@Model.OrgId">Edit</a>
}
</div>
<div>
	<span class="keyword big tip" title="TargetExtraValues
     |Small groups will actually refer to ExtraValue fields on the Person's record option
     |This option is not normally used">
		TargetExtraValues:</span> @Model.TargetExtraValues
</div>
<div class="formerror">@Html.ValidationMessage("Form")</div>
<ul id="QuestionList" class="noedit">
@Html.EditorFor(m => m, "TabQuestions")
</ul>