@model CmsData.RegSettings
        <b><a id="orgpicklist" href="/Organization/OrgPickList">Choose Organizations</a></b>
        @foreach (var o in CmsData.RegSettings.OrganizationsFromIdString(Model.org))
        {
            <div><a href="/Organization/Index/@o.OrganizationId" target="otherorg">@o.OrganizationName</a></div>
        }
