@model CmsData.Registration.Settings
        <b><a id="orgpicklist" href="/Organization/OrgPickList/@Model.OrgId">Choose Organizations</a></b>
        @foreach (var o in Model.OrganizationsFromIdString(Model.org))
        {
            <div><a href="/Organization/Index/@o.OrganizationId" target="otherorg">@o.OrganizationName</a></div>
        }
