@using CmsWeb
@using UtilityExtensions
@using CmsData
@using CmsWeb.Models.OrganizationPage
@model CmsWeb.Models.OrganizationPage.OrganizationModel
@if (User.IsInRole("Edit"))
{ 
<a class="displayedit bt edit" href="/Organization/SettingsMeetingsEdit/@Model.OrganizationId">Edit</a>
}
<ul class="noedit">
@Html.EditorFor(m => m, "TabMeetings")
</ul>