@using CmsWeb
@using CmsData
@using UtilityExtensions
@model CmsWeb.Models.OrganizationPage.OrganizationModel
<p><i>Drag the grey bars up/down arrow to reorder items.</i></p>
<div>
<a class="displayedit bt" href="/Organization/SettingsMeetings/@Model.OrganizationId">Cancel</a>
<a href="/Organization/SettingsMeetingsUpdate/@Model.OrganizationId" class="submitbutton bt blue">Save Changes</a>
</div>
<div class="formerror">@Html.ValidationMessage("Form")</div>
<ul class="enablesort edit">
@Html.EditorFor(m => m, "TabMeetings")
</ul>
<div>
<a class="displayedit bt" href="/Organization/SettingsMeetings/@Model.OrganizationId">Cancel</a>
<a href="/Organization/SettingsMeetingsUpdate/@Model.OrganizationId" class="submitbutton bt blue">Save Changes</a>
</div>
<div class="formerror">@Html.ValidationMessage("Form")</div>
