@using CmsWeb
<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
    <title>AddToOrgFromTag</title>
    <link href="/Content/styles/jquery-ui-1.10.0.custom.css" rel="stylesheet" type="text/css" />
    <link href="/Content/styles/Site.css" rel="stylesheet" type="text/css" />
    <link href="/Content/styles/jquery.tooltip.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="roundbox">
    <h2>Add To Org (@ViewBag.orgname) From Tag</h2>
    <form action="/AddToOrgFromTag/Start" method="post">
    @Html.Hidden("orgid")
        Tag: @Html.DropDownList("tag")<br/>
    <input type="submit" class="bt blue" name="Submit" value="Run" />
    </form>
</div>
</body>
</html>