@using CmsWeb
<html>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
    <title>AddToOrgFromTag</title>
@Html.Raw(SquishIt.Framework.Bundle.Css()
        .Add("/Content/jquery-ui-1.8.13.custom.css")
        .Add("/Content/site.css")
        .Add("/Content/jquery.tooltip.css")
    .Render("/Content/OrgMembers_#.css")
)
</head>
<div class="roundbox">
    <h2>Add To Org (@ViewBag.orgname) From Tag</h2>
    <form action="/AddToOrgFromTag/Start" method="post">
    @Html.Hidden("orgid")
    Tag: @Html.DropDownList("tag")</br>
    <input type="submit" class="bt" name="Submit" value="Run" />
    </form>
</div>
</html>