ul.BlogPostList
{
	list-style-type: none;
	margin: 20px 0pt 0pt;
	padding: 0px;
}
.BlogPostArea
{
	background-image: url(../images/blogs.png);
	background-position: left top;
	background-repeat: no-repeat;
	border-color: #EEEEEE;
	border-style: solid;
	border-width: 0pt 0pt 1px;
	margin: 0pt 0pt 20px;
	min-height: 46px;
	padding: 0pt 0pt 20px 70px;
}
.BlogPostArea.External
{
	background-image: url(../images/external.png);
}
.BlogPostArea.None
{
	background-image: none;
	padding-left: 0pt;
}
.BlogPostHeader
{
	font-size: 150%;
	font-weight: normal;
	margin: 0pt 0pt 8px;
	padding: 0pt;
}
.BlogRating
{
	background-color: #CCCCCC;
	background-image: url(../images/Common/blog_comment_background.gif);
	color: #666666;
	height: 80px;
	line-height: 20px;
	margin: 5px 10px 0pt 0pt;
	padding: 8px 2px 2px;
	text-align: center;
	vertical-align: top;
	width: 80px;
}
.BlogRating a:link, .BlogRating a:visited, .BlogRating a:active, .BlogRating a:hover
{
	color: #666666;
	text-decoration: none;
}
.BlogPostContent
{
	font-size: 100%;
}
.BlogPostFooter
{
	color: #000000;
	font-size: 80%;
	margin: 8px 0pt 0pt;
}
.BlogBlogNameColumn
{
	width: 25%;
}
.BlogAuthorColumn
{
	width: 14%;
}
.BlogLastPostColumn
{
	width: 25%;
}
.BlogPostsColumn
{
	text-align: center;
	width: 9%;
}
.BlogArticlesColumn
{
	text-align: center;
	width: 9%;
}
.BlogCommentsColumn
{
	text-align: center;
	width: 9%;
}
.BlogTrackbacksColumn
{
	text-align: center;
	width: 9%;
}
ul.BlogLinkCategoryLinkList
{
	list-style-type: square;
	margin: 0pt 0pt 0pt 24px;
	padding: 0pt;
}
ul.BlogLinkCategoryLinkList li
{
	padding-top: 4px;
}
ul.BlogLinkCategoryLinkList li a
{
	font-weight: bold;
}
.BlogLinkCategoryArea
{
	padding: 4px;
}
.BlogSubscriptionItem
{
	margin-bottom: 3px;
}
