/* recover from old-browser styling */

.oldbl {display: block !important;}
.oldin {display: inline !important;}
img.pic {display: block !important;}
.ahem, .skipper, #aboutsite, #aboutsite * {display: none !important;}

/* NS6.x-specific fix(es) */

*|*:-moz-list-bullet, *|*:-moz-list-number {font-size: 1em;}

/* misc */

#present {z-index: 100000 !important;}
