@model CmsWeb.Models.SavedQueryModel
@using CmsWeb
@{
    ViewBag.Title = "SavedQuery";
    Layout = "~/Views/Shared/SiteLayout.cshtml";
}
@section scripts 
{
@Html.Script("/Scripts/SavedQuery.js")
}
<h2>Index</h2>
@using (Html.BeginForm("Results", "SavedQuery")) {
    Html.RenderPartial("Results", Model);
}
