@model CmsWeb.Models.SavedQueryModel
@{
    var pager = Html.Partial("Pager2", Model.Pager);
}
Only Mine: @Html.CheckBoxFor(m => m.onlyMine)
<table cellpadding="4" class="grid">
<thead>
<tr><td>@pager</td></tr>
<tr>
<td>Name</td>
</tr>
</thead>
<tbody>
@foreach (var r in Model.FetchQueries())
{
    Html.RenderPartial("Row", r);
}
</tbody>
<tfoot><tr><td>@pager</td></tr></tfoot>
</table>
