@model CmsWeb.Models.SavedQueryModel
@using CmsWeb
@{
    ViewBag.Title = "SavedQuery";
    Layout = "~/Views/Shared/SiteLayout.cshtml";
    CassetteBundleConfiguration.BundleRefJs();
    Bundles.Reference("SavedQuery");
}
<div class="roundbox" style="display: table">
<h2>Saved Search Builder Queries</h2>
@using (Html.BeginForm("Results", "SavedQuery")) {
    Html.RenderPartial("Results", Model);
}
</div>
