/*
Run this script on:

        50.57.113.64.CMS_testdb    -  This database will be modified

to synchronize it with:

        (local).CMS_Bellevue

You are recommended to back up your database before running this script

Script created by SQL Compare version 10.0.0 from Red Gate Software Ltd at 3/3/2012 9:43:05 AM

*/
SET NUMERIC_ROUNDABORT OFF
GO
SET ANSI_PADDING, ANSI_WARNINGS, CONCAT_NULL_YIELDS_NULL, ARITHABORT, QUOTED_IDENTIFIER, ANSI_NULLS ON
GO
IF EXISTS (SELECT * FROM tempdb..sysobjects WHERE id=OBJECT_ID('tempdb..#tmpErrors')) DROP TABLE #tmpErrors
GO
CREATE TABLE #tmpErrors (Error int)
GO
SET XACT_ABORT ON
GO
SET TRANSACTION ISOLATION LEVEL SERIALIZABLE
GO
BEGIN TRANSACTION
GO
PRINT N'Dropping foreign keys from [disc].[BlogNotify]'
GO
ALTER TABLE [disc].[BlogNotify] DROP CONSTRAINT[FK_BlogNotify_Blog]
ALTER TABLE [disc].[BlogNotify] DROP CONSTRAINT[FK_BlogNotify_Users]
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Dropping foreign keys from [disc].[BlogPost]'
GO
ALTER TABLE [disc].[BlogPost] DROP CONSTRAINT[FK_BlogPost_Blog]
ALTER TABLE [disc].[BlogPost] DROP CONSTRAINT[FK_BlogPost_Users]
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Dropping foreign keys from [disc].[OtherNotify]'
GO
ALTER TABLE [disc].[OtherNotify] DROP CONSTRAINT[FK_OtherNotify_Blog]
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Dropping foreign keys from [disc].[Blog]'
GO
ALTER TABLE [disc].[Blog] DROP CONSTRAINT[FK_Blog_Group]
ALTER TABLE [disc].[Blog] DROP CONSTRAINT[FK_Blog_Users]
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Dropping foreign keys from [disc].[BlogCategoryXref]'
GO
ALTER TABLE [disc].[BlogCategoryXref] DROP CONSTRAINT[FK_BlogCategoryXref_Category]
ALTER TABLE [disc].[BlogCategoryXref] DROP CONSTRAINT[FK_BlogCategoryXref_BlogPost]
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Dropping foreign keys from [disc].[BlogComment]'
GO
ALTER TABLE [disc].[BlogComment] DROP CONSTRAINT[FK_BlogComment_BlogPost]
ALTER TABLE [disc].[BlogComment] DROP CONSTRAINT[FK_BlogComment_Users]
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Dropping foreign keys from [disc].[PodCast]'
GO
ALTER TABLE [disc].[PodCast] DROP CONSTRAINT[FK_PodCast_BlogPost]
ALTER TABLE [disc].[PodCast] DROP CONSTRAINT[FK_PodCast_Users]
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Dropping foreign keys from [disc].[ForumEntry]'
GO
ALTER TABLE [disc].[ForumEntry] DROP CONSTRAINT[FK_ForumEntry_Forum]
ALTER TABLE [disc].[ForumEntry] DROP CONSTRAINT[Replies__RepliedTo]
ALTER TABLE [disc].[ForumEntry] DROP CONSTRAINT[ThreadEntries__ThreadPost]
ALTER TABLE [disc].[ForumEntry] DROP CONSTRAINT[FK_ForumEntry_Users]
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Dropping foreign keys from [disc].[Forum]'
GO
ALTER TABLE [disc].[Forum] DROP CONSTRAINT[FK_Forum_Group]
ALTER TABLE [disc].[Forum] DROP CONSTRAINT[FK_Forum_Users]
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Dropping foreign keys from [disc].[ForumNotify]'
GO
ALTER TABLE [disc].[ForumNotify] DROP CONSTRAINT[FK_ForumNotify_ForumEntry]
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Dropping foreign keys from [disc].[ForumUserRead]'
GO
ALTER TABLE [disc].[ForumUserRead] DROP CONSTRAINT[FK_ForumUserRead_ForumEntry]
ALTER TABLE [disc].[ForumUserRead] DROP CONSTRAINT[FK_ForumUserRead_Users]
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Dropping foreign keys from [disc].[GroupRoles]'
GO
ALTER TABLE [disc].[GroupRoles] DROP CONSTRAINT[FK_GroupRoles_Group]
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Dropping foreign keys from [disc].[Invitation]'
GO
ALTER TABLE [disc].[Invitation] DROP CONSTRAINT[FK_Invitation_Group]
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Dropping foreign keys from [disc].[Group]'
GO
ALTER TABLE [disc].[Group] DROP CONSTRAINT[Groups__WelcomeText]
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Dropping foreign keys from [disc].[UserGroupRole]'
GO
ALTER TABLE [disc].[UserGroupRole] DROP CONSTRAINT[FK_UserGroupRole_GroupRoles]
ALTER TABLE [disc].[UserGroupRole] DROP CONSTRAINT[FK_UserGroupRole_Users]
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Dropping foreign keys from [disc].[PageContent]'
GO
ALTER TABLE [disc].[PageContent] DROP CONSTRAINT[CreatedPages__CreatedBy]
ALTER TABLE [disc].[PageContent] DROP CONSTRAINT[ModifiedPages__ModifiedBy]
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Dropping foreign keys from [disc].[PageVisit]'
GO
ALTER TABLE [disc].[PageVisit] DROP CONSTRAINT[FK_PageVisit_Users]
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Dropping foreign keys from [disc].[PendingNotifications]'
GO
ALTER TABLE [disc].[PendingNotifications] DROP CONSTRAINT[FK_PendingNotifications_People]
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Dropping foreign keys from [disc].[PrayerSlot]'
GO
ALTER TABLE [disc].[PrayerSlot] DROP CONSTRAINT[FK_PrayerSlot_People]
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Dropping foreign keys from [disc].[TemporaryToken]'
GO
ALTER TABLE [disc].[TemporaryToken] DROP CONSTRAINT[FK_TemporaryToken_Users]
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Dropping foreign keys from [disc].[VerseCategoryXref]'
GO
ALTER TABLE [disc].[VerseCategoryXref] DROP CONSTRAINT[FK_VerseCategoryXref_Verse]
ALTER TABLE [disc].[VerseCategoryXref] DROP CONSTRAINT[FK_VerseCategoryXref_VerseCategory]
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Dropping foreign keys from [disc].[Verse]'
GO
ALTER TABLE [disc].[Verse] DROP CONSTRAINT[FK_Verse_Users]
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Dropping foreign keys from [disc].[VerseCategory]'
GO
ALTER TABLE [disc].[VerseCategory] DROP CONSTRAINT[FK_VerseCategory_Users]
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Dropping constraints from [disc].[Blog]'
GO
ALTER TABLE [disc].[Blog] DROP CONSTRAINT [PK_Blog]
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Dropping constraints from [disc].[Blog]'
GO
ALTER TABLE [disc].[Blog] DROP CONSTRAINT [DF_Blog_NotOnMenu]
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Dropping constraints from [disc].[Blog]'
GO
ALTER TABLE [disc].[Blog] DROP CONSTRAINT [DF__Blog__PrivacyLev__73501C2F]
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Dropping constraints from [disc].[BlogCategory]'
GO
ALTER TABLE [disc].[BlogCategory] DROP CONSTRAINT [PK_Category]
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Dropping constraints from [disc].[BlogCategoryXref]'
GO
ALTER TABLE [disc].[BlogCategoryXref] DROP CONSTRAINT [PK_bc]
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Dropping constraints from [disc].[BlogComment]'
GO
ALTER TABLE [disc].[BlogComment] DROP CONSTRAINT [PK_BlogComment]
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Dropping constraints from [disc].[BlogNotify]'
GO
ALTER TABLE [disc].[BlogNotify] DROP CONSTRAINT [PK_BlogNotify]
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Dropping constraints from [disc].[BlogPost]'
GO
ALTER TABLE [disc].[BlogPost] DROP CONSTRAINT [PK_BlogPost]
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Dropping constraints from [disc].[BlogPost]'
GO
ALTER TABLE [disc].[BlogPost] DROP CONSTRAINT [DF_BlogPost_IsPublic]
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Dropping constraints from [disc].[BlogPost]'
GO
ALTER TABLE [disc].[BlogPost] DROP CONSTRAINT [DF_BlogPost_NotifyLater]
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Dropping constraints from [disc].[Forum]'
GO
ALTER TABLE [disc].[Forum] DROP CONSTRAINT [PK_Forum]
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Dropping constraints from [disc].[ForumEntry]'
GO
ALTER TABLE [disc].[ForumEntry] DROP CONSTRAINT [PK_ForumEntry]
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Dropping constraints from [disc].[ForumNotify]'
GO
ALTER TABLE [disc].[ForumNotify] DROP CONSTRAINT [PK_ForumNotify]
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Dropping constraints from [disc].[ForumUserRead]'
GO
ALTER TABLE [disc].[ForumUserRead] DROP CONSTRAINT [PK_ForumUserRead]
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Dropping constraints from [disc].[Group]'
GO
ALTER TABLE [disc].[Group] DROP CONSTRAINT [PK_Group]
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Dropping constraints from [disc].[GroupRoles]'
GO
ALTER TABLE [disc].[GroupRoles] DROP CONSTRAINT [PK_GroupRoles]
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Dropping constraints from [disc].[Invitation]'
GO
ALTER TABLE [disc].[Invitation] DROP CONSTRAINT [PK_Invitation]
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Dropping constraints from [disc].[OtherNotify]'
GO
ALTER TABLE [disc].[OtherNotify] DROP CONSTRAINT [PK_OtherNotify]
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Dropping constraints from [disc].[PageContent]'
GO
ALTER TABLE [disc].[PageContent] DROP CONSTRAINT [PK_CMS_Page]
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Dropping constraints from [disc].[PageContent]'
GO
ALTER TABLE [disc].[PageContent] DROP CONSTRAINT [DF_Page_createdOn]
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Dropping constraints from [disc].[PageContent]'
GO
ALTER TABLE [disc].[PageContent] DROP CONSTRAINT [DF_Page_modifiedOn]
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Dropping constraints from [disc].[PageContent]'
GO
ALTER TABLE [disc].[PageContent] DROP CONSTRAINT [DF_CMS_Page_Deleted]
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Dropping constraints from [disc].[PageVisit]'
GO
ALTER TABLE [disc].[PageVisit] DROP CONSTRAINT [PK_PageVisit]
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Dropping constraints from [disc].[ParaContent]'
GO
ALTER TABLE [disc].[ParaContent] DROP CONSTRAINT [PK_Content]
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Dropping constraints from [disc].[ParaContent]'
GO
ALTER TABLE [disc].[ParaContent] DROP CONSTRAINT [DF_Content_CreatedOn]
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Dropping constraints from [disc].[PendingNotifications]'
GO
ALTER TABLE [disc].[PendingNotifications] DROP CONSTRAINT [PK_PendingNotifications_1]
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Dropping constraints from [disc].[PodCast]'
GO
ALTER TABLE [disc].[PodCast] DROP CONSTRAINT [PK_PodCast]
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Dropping constraints from [disc].[PrayerSlot]'
GO
ALTER TABLE [disc].[PrayerSlot] DROP CONSTRAINT [PK_PrayerSlot_1]
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Dropping constraints from [disc].[ReadPlan]'
GO
ALTER TABLE [disc].[ReadPlan] DROP CONSTRAINT [PK_ReadPlan_1]
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Dropping constraints from [disc].[TemporaryToken]'
GO
ALTER TABLE [disc].[TemporaryToken] DROP CONSTRAINT [PK_TemporaryTokens]
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Dropping constraints from [disc].[TemporaryToken]'
GO
ALTER TABLE [disc].[TemporaryToken] DROP CONSTRAINT [DF_TemporaryTokens_expired]
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Dropping constraints from [disc].[UploadAuthenticationXref]'
GO
ALTER TABLE [disc].[UploadAuthenticationXref] DROP CONSTRAINT [PK_UploadAuthenticationXref]
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Dropping constraints from [disc].[UserGroupRole]'
GO
ALTER TABLE [disc].[UserGroupRole] DROP CONSTRAINT [PK_UserGroupRole]
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Dropping constraints from [disc].[Verse]'
GO
ALTER TABLE [disc].[Verse] DROP CONSTRAINT [PK_btea_Verse_1D7E4B61]
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Dropping constraints from [disc].[VerseCategory]'
GO
ALTER TABLE [disc].[VerseCategory] DROP CONSTRAINT [PK_btea_VerseCategory_3D610094]
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Dropping constraints from [disc].[VerseCategoryXref]'
GO
ALTER TABLE [disc].[VerseCategoryXref] DROP CONSTRAINT [PK_VerseCategoryXref_1]
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Dropping index [IX_Blog] from [disc].[Blog]'
GO
DROP INDEX [IX_Blog] ON [disc].[Blog]
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Dropping index [IX_OtherNotify] from [disc].[OtherNotify]'
GO
DROP INDEX [IX_OtherNotify] ON [disc].[OtherNotify]
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Dropping index [IX_VisitTime] from [disc].[PageVisit]'
GO
DROP INDEX [IX_VisitTime] ON [disc].[PageVisit]
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Dropping index [IX_UserGroupRole] from [disc].[UserGroupRole]'
GO
DROP INDEX [IX_UserGroupRole] ON [disc].[UserGroupRole]
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Dropping index [IX_VerseCategory] from [disc].[VerseCategory]'
GO
DROP INDEX [IX_VerseCategory] ON [disc].[VerseCategory]
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Dropping index [iVerseCategories_btea_VerseCategoriesVerses_5CB9F1B2] from [disc].[VerseCategoryXref]'
GO
DROP INDEX [iVerseCategories_btea_VerseCategoriesVerses_5CB9F1B2] ON [disc].[VerseCategoryXref]
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Dropping index [iVerseCategoriesVerses_btea_VerseCategoriesVerses_5FC63DDC] from [disc].[VerseCategoryXref]'
GO
DROP INDEX [iVerseCategoriesVerses_btea_VerseCategoriesVerses_5FC63DDC] ON [disc].[VerseCategoryXref]
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Dropping index [iVerses_btea_VerseCategoriesVerses_1161F2C4] from [disc].[VerseCategoryXref]'
GO
DROP INDEX [iVerses_btea_VerseCategoriesVerses_1161F2C4] ON [disc].[VerseCategoryXref]
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Dropping [disc].[UploadAuthenticationXref]'
GO
DROP TABLE [disc].[UploadAuthenticationXref]
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Dropping [disc].[ReadPlan]'
GO
DROP TABLE [disc].[ReadPlan]
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Dropping [disc].[GetProfile]'
GO
DROP FUNCTION [disc].[GetProfile]
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Dropping [disc].[DayOfYear]'
GO
DROP FUNCTION [disc].[DayOfYear]
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Dropping [dbo].[VerseCategoriesView]'
GO
DROP VIEW [dbo].[VerseCategoriesView]
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Dropping [dbo].[PodcastSummary]'
GO
DROP VIEW [dbo].[PodcastSummary]
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Dropping [disc].[VerseSummaryForCategory2]'
GO
DROP FUNCTION [disc].[VerseSummaryForCategory2]
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Dropping [dbo].[BlogCategoriesView]'
GO
DROP VIEW [dbo].[BlogCategoriesView]
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Dropping [disc].[Blog]'
GO
DROP TABLE [disc].[Blog]
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Dropping [disc].[BlogPost]'
GO
DROP TABLE [disc].[BlogPost]
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Dropping [disc].[PageContent]'
GO
DROP TABLE [disc].[PageContent]
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Dropping [disc].[TemporaryToken]'
GO
DROP TABLE [disc].[TemporaryToken]
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Dropping [disc].[OtherNotify]'
GO
DROP TABLE [disc].[OtherNotify]
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Dropping [disc].[Invitation]'
GO
DROP TABLE [disc].[Invitation]
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Dropping [disc].[GroupRoles]'
GO
DROP TABLE [disc].[GroupRoles]
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Dropping [disc].[ForumNotify]'
GO
DROP TABLE [disc].[ForumNotify]
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Dropping [disc].[Group]'
GO
DROP TABLE [disc].[Group]
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Dropping [disc].[ParaContent]'
GO
DROP TABLE [disc].[ParaContent]
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Dropping [disc].[PodCast]'
GO
DROP TABLE [disc].[PodCast]
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Dropping [disc].[VerseInCategory]'
GO
DROP FUNCTION [disc].[VerseInCategory]
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Dropping [disc].[BlogCategory]'
GO
DROP TABLE [disc].[BlogCategory]
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Dropping [dbo].[VerseSummary]'
GO
DROP VIEW [dbo].[VerseSummary]
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Dropping [disc].[VersePos]'
GO
DROP FUNCTION [disc].[VersePos]
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Dropping [disc].[PendingNotifications]'
GO
DROP TABLE [disc].[PendingNotifications]
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Dropping [disc].[PrayerSlot]'
GO
DROP TABLE [disc].[PrayerSlot]
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Dropping [disc].[BlogCategoryXref]'
GO
DROP TABLE [disc].[BlogCategoryXref]
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Dropping [disc].[BlogComment]'
GO
DROP TABLE [disc].[BlogComment]
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Dropping [disc].[BlogNotify]'
GO
DROP TABLE [disc].[BlogNotify]
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Dropping [disc].[Forum]'
GO
DROP TABLE [disc].[Forum]
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Dropping [disc].[ForumEntry]'
GO
DROP TABLE [disc].[ForumEntry]
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Dropping [disc].[ForumUserRead]'
GO
DROP TABLE [disc].[ForumUserRead]
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Dropping [disc].[PageVisit]'
GO
DROP TABLE [disc].[PageVisit]
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Dropping [disc].[UserGroupRole]'
GO
DROP TABLE [disc].[UserGroupRole]
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Dropping [disc].[Verse]'
GO
DROP TABLE [disc].[Verse]
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Dropping [disc].[VerseCategory]'
GO
DROP TABLE [disc].[VerseCategory]
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Dropping [disc].[VerseCategoryXref]'
GO
DROP TABLE [disc].[VerseCategoryXref]
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
IF EXISTS (SELECT * FROM #tmpErrors) ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT>0 BEGIN
PRINT 'The database update succeeded'
COMMIT TRANSACTION
END
ELSE PRINT 'The database update failed'
GO
DROP TABLE #tmpErrors
GO
