@using CmsWeb.Areas.People.Models
@model AddressInfo
<div class="modal-header">
    <a class="close" data-dismiss="modal">x</a>
    <h3>Address Saved</h3>
</div>
<div class="modal-body">
    <p class="alert">
        @Html.Raw(Model.AddrCityStateZip().Replace("\n", "<br/>\n"))
    </p>
</div>
<div class="modal-footer">
    <a href="/Person2/Addresses/@Model.PeopleId" class="btn btn-success close-saved-address" data-dismiss="modal">Close</a>
</div>
