@{
    Layout = "/Views/Shared/Site2.cshtml";
    ViewBag.Title = "Download Login";
}
@using (Html.BeginForm("Download", "Sales"))
{ 
    <div>
        <fieldset>
            <legend>Download Credentials</legend>
            <p>
                <label for="username">Username:</label>
                @Html.TextBox("username")
            </p>
            <p>
                <label for="password">Password:</label>
                @Html.Password("password")
            </p>
            <p>
                <input type="submit" value="Log On" />
                @Html.ValidationMessage("login")
            </p>
        </fieldset>
    </div>
} 