@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Find Duplicates</title>
</head>
<body>
    <h2>
        Find Duplicates</h2>
    <a href="/">Home</a>
    <form action="/Duplicates/Find" method="post">
    <table>
        <tr> <th> Created on or after date: </th> <td> @Html.TextBox("FromDate") m/d/yy</td> </tr>
        <tr> <th> Created on or before date: </th> <td> @Html.TextBox("ToDate") m/d/yy</td></tr>
        <tr> <td colspan="2" align="center"> <input type="submit" class="bt" name="Submit" value="Run" /></td></tr>
    </table>
    </form>
</body>
</html>
