@model CmsWeb.Models.MergeModel
@using UtilityExtensions
<html>
<head>
    <title>Contribution Statements</title>
    <script type="text/javascript">
        window.setTimeout('document.location.replace(document.location.href);', 5000);
    </script>
</head>
<body>
<h1>@ViewData["count"]</h1>
</body>
</html>