@using UtilityExtensions
@model CmsWeb.Areas.People.Models.SearchAddModel
<table id="people" class="table table-condensed">
    <thead>
        <tr>
            <th>Name</th>
            <th>Address</th>
            <th>CityStateZip</th>
            <th>Age</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @for (var n = 0; n < Model.List.Count; n++)
        {
            var p = Model.List[n];
            p.index = n;
            @Html.Partial("PersonDisplay", p)
        }
    </tbody>
</table>
