<div class="toolbar">
<ul horizontal-offset="-70">
    <li>
        <a href='#' class="trigger-dropdown">
            Email <img src="/images/dnarrow.png" />
        </a>
        <div class="dropdown-menu has-tip">
            <ul>
                <li><a href='/Email/Index/@ViewData["queryid"]'> Individuals</a></li>
                <li><a href='/Email/Index/@ViewData["queryid"]?parents=true'> Parents</a></li>
            </ul>
        </div>
    </li>
@if (User.IsInRole("Developer"))
{
    <li>
        <a href='/Person/TestSMS/@ViewData["queryid"]'>
            SMS
        </a>
    </li>
}
    <li>
        <a href='#' class="trigger-dropdown">
            Export <img src="/images/dnarrow.png" />
        </a>
        <div class="dropdown-menu has-tip">
            <ul>
            <li><a href='/ExportExcel.aspx?id=@ViewData["queryid"]' class="ChooseLabelType" title="For mail merge"> Excel</a></li>
            <li><a href='/ExportExcel.aspx?id=@ViewData["queryid"]&format=AllFamily' title="For mail merge"> Excel Family</a></li>
            <li><a href='/ExportExcel.aspx?id=@ViewData["queryid"]&format=IndividualPicture' title="For picture directory word merge"> Excel Pictures</a></li>
            <li><a href='/Export/UpdatePeople/@ViewData["queryid"]' title="For Doing a Mass Update"> Excel Update</a></li>
            <li><a href='/bulkmail.aspx?id=@ViewData["queryid"]' class="ChooseLabelType" title="Comma separated values text file, opens in excel, for bulk mailings"> Bulk (csv)</a></li>
            <li><a href='/ExportExcel.aspx?id=@ViewData["queryid"]&format=Library' title="For Atrium Library Import"> Excel Library</a></li>
            <li><a href='/Export/QueryBits/@ViewData["queryid"]' title="SearchBits in Columns"> Search Bits Export</a></li>
            <li><a href='/Export/ExtraValues/@ViewData["queryid"]' title="ExtraValues in Columns"> Extra Values Export</a></li>
@if ((bool?)ViewData["OrganizationContext"] ?? false)
{ 
            <li><a href='/ExportExcel.aspx?id=@ViewData["queryid"]&format=Organization' title="Includes Org Member info"> Member Export</a></li>
     if ((bool?)ViewData["OrgMemberContext"] ?? false)
     { 
            <li><a href='/ExportExcel.aspx?format=Groups' title="Includes Org Member and Small Group columns"> Groups Export</a></li>
     } 
            <li><a href='/ExportExcel.aspx?id=@ViewData["queryid"]&format=Promotion' title="Just for Promotion Mail Merge"> Promotion Export</a></li>
 } 
            </ul>
        </div>
    </li>
    <li>
        <a href='#' class="trigger-dropdown">
            Reports <img src="/images/dnarrow.png" />
        </a>
        <div class="dropdown-menu has-tip">
            <ul>
                <li><a href='/Reports/Prospect/@ViewData["queryid"]' target="_blank"> Inreach/Outreach</a></li>
                <li><a href='/Reports/Prospect/@ViewData["queryid"]?Form=true' target="_blank"> Inreach/Outreach with Form</a></li>
                <li><a href='/Reports/Contacts/@ViewData["queryid"]' target="_blank" title="Report for Robo-calling Contacts"> Contact Report</a></li>
                <li><a href='/Reports/WeeklyAttendance/@ViewData["queryid"]' target="_blank" title="General Attendance Stats"> Weekly Attend</a></li>
                <li><a href='/ExportExcel.aspx?id=@ViewData["queryid"]&format=Involvement' target="_blank" title="Personal, Contact and Enrollment Info"> Involvement</a></li>
                <li><a href='/Reports/Family/@ViewData["queryid"]' target="_blank"> Family Report</a></li>
                <li><a href="/Reports/PictureDirectory/@ViewData["queryid"]" target="_blank"> Picture Directory</a></li>
                <li><a href="/Reports/FamilyDirectory/@ViewData["queryid"]" target="_blank"> Family Directory</a></li>
                <li><a href="/Reports/FamilyDirectoryCompact/@ViewData["queryid"]" target="_blank"> Compact Directory</a></li>
                <li><a href='/Volunteers/Index/@ViewData["queryid"]' target="_blank"> Volunteer Report</a></li>
            @if ((bool?)ViewData["OrganizationContext"] ?? false)
            { 
                <li><a id="RollsheetLink" href='#' title="Rollsheet Report"> Rollsheet Report</a></li>
                <li><a id="RallyRollsheetLink" href='#' title="Rally Rollsheet Report"> Rally Rollsheet</a></li>
                <li><a href='/Reports/Registration/@ViewData["queryid"]?oid=@Util2.CurrentOrgId' target="_blank"> Registration Report</a></li>
            }
            else
            { 
                <li><a href='/Reports/Registration/@ViewData["queryid"]' target="_blank"> Registration Rpt</a></li>
            }    
                <li><a href='/ExportExcel.aspx?id=@ViewData["queryid"]&format=Attend' target="_blank" title="Contains attendance information for their class"> BF Attendance</a></li>
                <li><a href='/ExportExcel.aspx?id=@ViewData["queryid"]&format=Children' target="_blank" title="Contains emergency contact, who brought child info"> Children</a></li>
                <li><a href='/ExportExcel.aspx?id=@ViewData["queryid"]&format=Church' target="_blank" title="Contains other Church Info"> Other Churches</a></li>
            </ul>
        </div>
    </li>
    <li>
        <a href='#' class="trigger-dropdown">
            Labels <img src="/images/dnarrow.png" />
        </a>
        <div class="dropdown-menu has-tip">
            <ul>
            <li><a href='/Reports/RollLabels/@ViewData["queryid"]' class="ChooseLabelType" title="Labels (pdf for Datamax label printer)" target="_blank"> Roll Labels</a></li>
            <li><a href='/Reports/BarCodeLabels/@ViewData["queryid"]' target="_blank" title="Labels for Choir Attendance"> Barcode Labels</a></li>
            <li><a href='/Reports/Avery/@ViewData["queryid"]' title="Avery Name Labels" target="_blank">  Avery Labels</a></li>
            <li><a href='/Reports/Avery3/@ViewData["queryid"]' title="Avery 3 Across Labels (person per row)" target="_blank">  Avery Labels 3</a></li>
            <li><a href='/Reports/AveryAddress/@ViewData["queryid"]' class="ChooseLabelType" title="Address Labels"> Avery Address</a></li>
			<li><a href="/Reports/EmployerAddress/@ViewData["queryid"]" target="_blank"> Avery Employer</a></li>
            </ul>
        </div>
    </li>
    <li>
        <a href='#' class="trigger-dropdown">
            Tag <img src="/images/dnarrow.png" />
        </a>
        <div class="dropdown-menu has-tip">
            <ul>
            <li><a id="TagAll" href='@ViewData["TagAction"]'> Add All</a></li>
            <li><a id="UnTagAll" href='@ViewData["UnTagAction"]'> Remove All</a></li>
            </ul>
        </div>
    </li>
    <li>
        <a href='#' class="trigger-dropdown">
            Other <img src="/images/dnarrow.png" />
        </a>
        <div class="dropdown-menu has-tip">
            <ul>
            <li><a id="AddContact" href='@ViewData["AddContact"]'> Add Contact</a></li>
            <li><a id="AddTasks" href='@ViewData["AddTasks"]'> Add Tasks</a></li>
@if (User.IsInRole("Admin"))
{
            <li><a href='/Manage/ExtraValues/Add/@ViewData["queryid"]' class="ChooseExtraValues"> Add Extra Values</a></li>
            <li><a href='/Manage/ExtraValues/Delete/@ViewData["queryid"]' class="ChooseExtraValues"> Delete Extra Values</a></li>
            <li><a href="/Reports/ExtraValuesGrid/@ViewData["queryid"]">Extra Values Grid</a></li>
}
            <li><a href='/Task/NotesExcel/@ViewData["queryid"]'> Export Task Notes</a></li>
            </ul>
        </div>
    </li>
</ul>
</div>

