<footer class="container">
    <p class="vcard ten columns alpha">
        <span class="org">@DbUtil.Db.Setting("nameofchurch", "Name of Church")</span>
        <span class="phone">@DbUtil.Db.Setting("phone", "phone")</span>
        <span class="email">@DbUtil.AdminMail</span>
    </p>
    <p class="powered six columns omega">Powered by BVCMS</p>
</footer>
