@inherits System.Web.Mvc.WebViewPage
<ol id="homeTut" style="display:none" continues="yes">
  <li data-id="bdays">This is <b><u>experimental</u></b> feature coming soon.<br /><br /></li>
  <li data-id="bdays">Upcoming birthdays here<br /><br /></li>
  <li data-id="tags">This is where your tags are.<br /><br /></li>
  <li data-id="tasks">This is where your tasks are.<br /><br /></li>
  <li data-id="name">Test for items in an iframe.<br /><br /></li>
  <li data-id="helplink" data-text="Click Here To Continue">This is how you get help<br /><br /></li>
</ol>
<ol id="addPersonTutorial" style="display:none" continues="yes">
  <li data-id="PeopleMenu">Hover over People and click Add Person to add a person.<br /><br /></li>
</ol>