@inherits System.Web.Mvc.WebViewPage
<ol id="homeTut" style="display:none" continues="yes">
  <li data-id="bdays">This is experimental feature coming soon.<br /><br /></li>
  <li data-id="bdays">Upcoming birthdays here<br /><br /></li>
  <li data-id="tags">This is where your tags are.<br /><br /></li>
  <li data-id="tasks">This is where your tasks are.<br /><br /></li>
  <li data-id="name">Test for items in an iframe.<br /><br /></li>
  <li data-id="helplink" data-options="tipLocation:left" data-text="Click Here To Continue">This is how you get help<br /><br /></li>
</ol>
<ol id="attendanceTut" style="display:none">
  <li data-id="OrgSearchLink">
  <p>This is experimental feature coming soon.<br />
  Hover over Organization,<br />
  Then click the Search item.</p>
  </li>
</ol>