/* Event Pop CSS Document */

/* //////////////START EVENT DETAIL STYLES /////////////////////// */

ul.detail_bar{
  list-style: none;
  margin: 0px;
  padding: 5px 0px;
  width: 100%;
  background: #86221B;
  text-align: center;
}

ul.detail_bar li{
  display: inline;
  padding: 5px 15px;
}

ul.detail_bar li a{
  color: white;
  text-decoration: none;
}

ul.detail_bar li a:hover{
  color: white;
}

#detail_frame{
  text-align: left;
  width: 300px;
  margin: 0px auto;
  padding: 5px;
  background: white;
}

#detail_header{
 
}

#detail_image{
  width: 300px;
  overflow: hidden;
  padding: 0px 0px 5px 0px;
  text-align: center;
}

#detail_header h3{
  font: normal 14px Georgia, "Times New Roman", Times, serif;
}


#detail_header dl{
  background: #ccc;
  width: 300px;
}

#detail_header dl dt{
  float: left;
  margin: 0px; 
  padding: 0px;
  width: 70px;
}

#detail_header dl dd{
  float: left;
  margin: 0px; 
  padding: 0px;
  width: 220px;
}

#detail_content_text h1{
  margin: 0px;
}

#detail_content_text{
  clear: both;
  width: 280px;
  padding: 0px 10px;
}

#detail_content_text h5{
  margin: 0px; 
  padding: 0px;
}

a.form_link {
  background: #612C34;
  width: 280px;
  text-align: center;
  color: #fff;
  display: block;
  text-decoration: none;
  padding: 5px 0px;
  margin: 0px;
}
/* //////////////END EVENT DETAIL STYLES /////////////////////// */