#feedbackForm p{
  padding: 5px;
}

#feedbackForm dl{
  float: left;
  clear: both;
  width: 100%;
  margin: 0px;
  padding: 3px 0px;
  display: block;
}

#feedbackForm dl.checkbox dt{
  width: 25px;
}

#feedbackForm dl dt{
  float: left;
  width: 30%;
  text-align: left;
  margin: 0px;
  padding: 0px;
  height: auto;
  padding-left: 15px;
}

#feedbackForm dl dt select{
  width: 90px;
}

#feedbackForm dl dt.required{
  font-weight: bold;
  background: url(required-1.gif) no-repeat left top;
  padding: 0px 0px 5px 15px;
}

#feedbackForm dl dd{
  float: left;
  margin: 0px;
  padding: 0px;
  height: auto;
  width: 60%;
  margin-left: 5%;
}

#feedbackForm dl dd select{
  width: auto;
  margin: 0px;
  padding: 0px;
  height: auto;
}

#feedbackForm dl dd table{
  border-collapse: collapse;
}

#feedbackForm dl dd table td{
  padding: 2px 0px 2px 3px;
  vertical-align: top;
}

#feedbackForm dl dd table td input{
  margin: -1px 3px 1px 0px;
}

#feedbackForm tr.required{
  font-weight: bold;
  background: url(required-1.gif) no-repeat left 5px;
}

#feedbackForm dl dd ul{
  display: block;
  list-style: none;
  margin: 0px;
  padding: 0px;
}

#feedbackForm dl dd ul li{
  background: none;
  padding: 0px;
  list-style-image: none;
}

#feedbackForm #submit{
  padding-left: 25%;
  padding-top: 5px;
}

#feedbackForm #submit button,
#feedbackForm #submit .formButton,
#feedbackForm #submit .formButtonLong{
  float: left;
  clear: none;
  margin: 0px 5px;
}

#feedbackForm form textarea{
  width: 200px;
  height: 120px;
  font-size: 11px;
  font-family: Arial, Helvetica, sans-serif;
}