#nav{
  float: left;
  width: 920px;
  height: 30px;
  padding: 0px 0px;
  margin: 16px 0px 0px;
}

#nav ul{
  margin: 0px;
  padding: 0px;
  display: inline;
}

#nav ul li{
  float: left;
  list-style: none;
  font: normal 14px Arial, Helvetica, sans-serif;
  color: white;
  padding: 0px 10px;
  text-transform: uppercase;
  display: none;
}

#nav ul li a{
  text-decoration: none;
  display: block;
  color: white;
  padding: 0px;
}

#nav ul li:hover, 
#nav ul li.sfhover{}

#nav ul li ul{
  position: absolute;
  z-index: 1;
  width: 155px;
  left: auto;
  visibility: hidden;
  padding: 0px 0px 5px;
  border: 5px solid white; 
  border-top: none;
  background: #0E77BA;
}

#nav ul li ul.hidden{
  display: none;
}

#nav ul li:hover ul,
#nav ul li.sfhover ul{
  visibility: visible;
}

#nav ul li ul li{
  clear: both;
  font: normal 14px Arial, Helvetica, sans-serif;
  display: block;
  width: 155px;
  height: auto;
  padding: 0px;
  margin: 0px;
  background: #4F4F4F;
  text-transform: uppercase;
}

#nav ul li ul li.li_alt{}

#nav ul li ul li a{
  text-align: left;
  display: block;
  width: 145px;
  padding: 5px;
  color: white;
  height: auto;
}

#nav ul li ul li a:hover{
  background: gray;
  color: white;
  font-weight: bold;
}