@media print{
  #header,
  #content_narrow,
  #footer,
  #nav,
  #page_title object,
  #page_header object{
    display: none;
  }
  
  #page_title h1,
  #page_header h1{
    border: none;
	border-bottom: 3px solid #DDD;
    display: block;
  }

  p{
    font-size: 12px;
  }

  body,
  .frame,
  #content #container #content_scroll,
  #content #container #content_scroll #content_text,
  #content #container #content_text,
  #content #container #content_text #post,
  #content #container #content_text #post .article,
  #content #container #content_text #post .article .body,
  #content #container #content_wide,
  #content #container #content_wide #content_text,
  #content #container #content_wide #content_scroll,
  #content #container #content_wide #content_scroll #content_text,
  #content,
  #container,
  #content_wide,
  #content_scroll,
  #content_text,
  #so_link,
  #so_link_text{
    float: left;
	overflow: visible;
	margin: 0px;
	padding: 0px;
    width: 650px;
	height: auto;
	line-height: 20px;
	color: black;
	border: none;
	display: block;
	clear: both;
  }
}