@import "layout.css";
@import "print.css";
@import "nav.css";
@import "sidenav.css";
fieldset
{
    border: 1px solid #CCCCCC;
    margin: 1em 0;
    padding: 1em;
}
fieldset p
{
    margin: 2px 12px 10px 10px;
}
fieldset label
{
    display: block;
}
fieldset label.inline
{
    display: inline;
}
legend
{
    font-size: 1.1em;
    font-weight: 600;
    padding: 2px 4px 8px;
}
input[type="text"]
{
    border: 1px solid #CCCCCC;
    width: 200px;
}
input[type="password"]
{
    border: 1px solid #CCCCCC;
    width: 200px;
}
textarea
{
    height: 3em;
    width: 200px;
}
table#slots
{
    border: 1px solid #E8EEF4;
}
table#slots td
{
    border: 1px solid #E8EEF4;
    padding: 5px;
}
table#slots th
{
    background-color: #E8EEF4;
    border: 1px solid #E8EEF4;
    padding: 6px 5px;
    text-align: center;
}
.clear
{
    clear: both;
}
.error
{
    color: Red;
}
#menucontainer
{
    margin-top: 40px;
}
div#title
{
    display: block;
    float: left;
    text-align: left;
}
#logindisplay
{
    color: White;
    display: block;
    font-size: 1.1em;
    margin: 10px;
    text-align: right;
}
#logindisplay a:link
{
    color: white;
    text-decoration: underline;
}
#logindisplay a:visited
{
    color: white;
    text-decoration: underline;
}
#logindisplay a:hover
{
    color: white;
    text-decoration: none;
}
.field-validation-error
{
    color: #FF0000;
}
.input-validation-error
{
    background-color: #FFEEEE;
    border: 1px solid #FF0000;
}
.validation-summary-errors
{
    color: #FF0000;
    font-weight: bold;
}
table#slots
{
    border: 2px solid black;
}
th.slot, td.slot
{
    border-left: 2px solid black;
    border-right: 2px solid black;
    text-align: center;
    width: 4em;
}
td.we
{
    background-color: #EEEEEE;
}
td.o3
{
    background-color: #FF6666;
}
td.o2
{
    background-color: #FF9999;
}
td.o1
{
    background-color: #FFCCCC;
}
td.m3
{
    background-color: #006600;
}
td.m2
{
    background-color: #00CC00;
}
td.m1
{
    background-color: #00FF00;
}
div.growlUI
{
    background: transparent url(check48.png) no-repeat scroll 10px 10px;
}
div.growlUI2
{
    background: transparent url(attention48.png) no-repeat scroll 10px 10px;
}
div.growlUI h1, div.growlUI h2, div.growlUI2 h1, div.growlUI2 h2
{
    color: white;
    padding: 5px 5px 5px 75px;
    text-align: left;
}
table#leg
{
    margin-left: 2em;
    margin-top: 4em;
}
table#leg td
{
    border: 1px solid #DDDDDD;
    padding: 5px;
}
.DisplayEdit
{
    position: relative;
}
.DisplayEdit a.displayedit
{
    font-size:9px;
    height:18px;
    line-height:18px;
    padding-right:22px;
    position:absolute;
    right:0;
    text-align:right;
    top:0;
}
form.DisplayEdit input[type=text]
{
    width: 20em;
}
form.DisplayEdit a.submitbutton,a.button {
    padding:5px;
    border-color:#D9DFEA #0E1F5B #0E1F5B #D9DFEA;
    background-color:#3B5998;
    border: 1px solid;
    color:#FFFFFF;
    text-decoration:none;
}
form.DisplayEdit input.short 
{
    width: 1.5em;
}