@charset "utf-8";
/* CSS Document */

#cmenu {
	width: 100%;
	margin-top: .5em;
}
.dropdown > div > a,
.dropdown > div > a:visited, 
.dropdown > div > a.active
{
	color:#000000;
	text-decoration:none;
	padding: .3em .6em 0 .6em;
}

.dropdown > div > a:hover
{
	background-color: #D0D0D0;
}

.dropdown div.sublinks
{
	display:none;
	position::absolute;
	z-index:1000;
	border-top:#878787 1px solid;
}

.dropdown div.sublinks a
{
	color:#000000;
	background-color:#f6f6f6;
	text-decoration:none;
	display:block;
	width:150px;
	font-size: 90%;
	border:#878787 1px solid;
	border-top:none;
	padding: .3em .6em .3em .6em;
}
.dropdown div.sublinks a:hover
{
	background-color: #D0D0D0;
}
.dropdown div.sublinks a.heading {
	background-color: #fff;
}

