.pager
{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: smaller;
}
.page-numbers
{
    font-family: Trebuchet MS,Helvetica,sans-serif;
    border: 1px solid #ccc;
    color: #808185;
    display: block;
    float: left;
    margin-right: 3px;
    padding: 4px 4px 3px;
    text-decoration: none;
}
.page-numbers.desc
{
    border: none;
}
.page-numbers:hover
{
    text-decoration: none;
}
.page-numbers.next, .page-numbers.prev
{
    border: 1px solid #fff;
}
.page-numbers.current
{
    background-color: #808185;
    border: 1px solid #808185;
    color: white;
    font-weight: bold;
}
.page-numbers.dots
{
    border: 1px solid #fff;
}
