body, html {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background-image: none;
	font-size: 12px;
}
table, tbody, tfoot, thead, tr, th, td
{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
}
img {
	border:none;
}


#topNotice {
}
#container {
	margin-top: .7em;
	margin-left: 4%;
	margin-right: 4%;
}
.header {
	width: 100%;
	font-size: 16px;
}
.header div,
.header dl,
.header dt,
.header dd,
.header ul,
.header ol,
.header li,
.header h1,
.header h2,
.header h3,
.header h4,
.header h5,
.header h6,
.header pre,
.header code,
.header form,
.header fieldset,
.header legend,
.header input,
.header textarea,
.header p,
.header blockquote,
.header th,
.header td {
	margin:0;
	padding:0;
	font-size: 100%;
}
.header li {
	list-style:none;
}
.header table {
	border-collapse:collapse;
	border-spacing:0;
}

#urgentNotice {
	background-color: #FF0;
	font-size: 120%;
	padding: .2em 1em .2em 1em;
}
.header a ,
.header a:hover,
.header a:visited,
.header a:active{
	color: #555;
	text-decoration: none;
}

.header h1 {
	font-size:150%;
	font-weight: normal;
}
.header h2 {
	font-size:80%;
	font-weight: normal;
	color: #666;
}
.header td #userarea{
	font-size: 80%;
	margin-top: 0px;
}
#userarea a 
{
	color: #74A500;
	font-size: 110%;
}

#userarea .dropdown a:hover
{
	background-color: #fff;
}
#userarea .sublinks 
{
	text-align: left;
}

#toolbar {
	border-collapse:collapse;
}
#toolbar tr td {
	border: 1px solid;
	background-color: #D0E2A7;
	border-color: #668129;
	padding-bottom: 1px;
}
#toolbar .dropdown a,
#toolbar .dropdown a:visited, 
#toolbar .dropdown a.active
{
	color:#000000;
	padding: .3em .6em .3em .6em;
	display:block;
}

#toolbar .dropdown a:hover
{
	text-decoration:none;
	padding: .3em .6em .3em .6em;
	background-color: #b1cf6d;
}


#userarea strong {
	font-weight: normal;
}
#userarea input  {
}
.header td.left {
	vertical-align: text-top;
}
.header td.center {
	text-align: center;
	vertical-align: middle;
}
.header td.right {
	text-align: right;
	vertical-align: middle;
}
a, a:visited, a:focus {
	text-decoration:none;
	color: #212121;
}
a:hover, a:active {
	text-decoration:underline;
	color: #212121;
}
.grid a, .grid a:visited {
	text-decoration:none;
	color: #212121;
}
.grid a:hover, .grid a:active {
	text-decoration:underline;
	color: #212121;
}

#main {
	margin-top: 8px;
	width: 100%;
}
#mainlayout tr td    {
	vertical-align: top;
	height: 100%;
}
#mainlayout {
	width: 100%;
}
#main div.homebox {
	height: 500px;
	width: 30%;
	float: left;
}
.floatleft 
{
	float: left;
}
.floatclear
{
	clear:both;
}
.roundbox  {
	border: 1px solid #808183;
	-moz-border-radius: 10px;
	border-radius: 10px;
	padding: 1%;
	margin-bottom: 5px;
	margin-top: 5px;
	background-color: #F8F8F8;
}
.roundbox.pad10 
{
    padding: 10px;
}
.roundbox h2  {
	color: #666;
	border-bottom-color: #97BE3E;
	border-bottom-width: 3px;
	border-bottom-style: solid;
	margin-top: .6em;
	margin-bottom: 6px;
	font-size: 160%;
}
.roundbox h3  {
	font-size: 120%;
	font-weight: bold;
	margin-top: .3em;
	border-bottom: 1px solid #ccc;
	color: #666;
}
.roundbox p  {
	font-size: 90%;
}
#main li {
	list-style:none;
}
#ConditionGrid {
	font-size: 120%;
	list-style-type: none;
	margin-bottom: 0;
	margin-left: 0;
	margin-top: 0;
	padding-left: 0;
}
#ConditionText {
	font-size: 140%;
}
#main tr.ConditionTitle {
	font-size:120%;
}
#ConfigCondition tbody .QBConditionTitle td    {
	font-size: 130%;
}

#CommonFooter
{
	clear: both;
	margin: 40px 0 0 0;
	padding: 24px 0 24px 0;
	width: 100%;
	overflow: hidden;
	text-align: center;
	font-size: 85%;
	font-weight: bold;
	color: #aaa;
}
div.drow {
	padding-top: 3px;
	padding-bottom: 3px;
}
div.drow span.isnew {
	font-weight: 700;
	font-size:130%;
	color: #86BE00;
} 
.alt {
	background-color: #EEE;
}


#QueryConditionSelect 
{
	display:none;
	width: 750px;
	height:575px;
	background: #FFF;
	font-size:80%;
}
#QueryConditionSelect div.FieldLink
{
	margin-top: .2em;
}
#QueryConditionSelect div.FieldLink a
{
	color:#336699;
	font-size: 180%;
}
#QueryConditionSelect div.moreinfo {
	margin-left:3em;
	font-color: #999;
	font-size: 110%;
	font-style: italic;
}

.QBConditionTitle {
	background-color: #a9cfe2;
	border: solid 1px Gray;
	color: Black;
	font-size: 130%;
}
.jspVerticalBar .jspCap {
	height: 20px;
}
.jspCap {
	display: block;
	background: #eeeef4;
}
.jscroll {
	height: 10em;
	overflow: auto;
	width: 100%;
}
table.aspgrid tr td, 
table.aspgrid tr th {
	padding : 4px; 
}
.edit {
	position: absolute;
	right: 0px;
	margin-right: 22px;
}
#main-tab {
	z-index: 500!important;	
}
#SearchText {
background-image:url('/Content/magnifier.png');
background-repeat: no-repeat;
background-position: top left;
padding-left: 1.5em;
height: 1.5em;
	font-size: 110%;
	border-style: solid;
	border-width: 1px;
	border-color: #999;
	width: 10em;
	margin-top: 7px;
}
.field-validation-error
{
	color: #FF0000;
}
.input-validation-error
{
	background-color: #FFEEEE;
	border: 1px solid #FF0000;
}
.validation-summary-errors
{
	color: #FF0000;
	font-weight: bold;
}/*
div.roundbox select {
	min-width: 20em;
	margin-right:1em;
}*/
.center  {
	margin-left: auto;
	margin-right: auto;
}
.error {
	color:red;
}
.disabled 
{
    color: #999 !important;
}
.selectbox.fixed_width .display{
  width:73px;
  padding:0 24px 0 3px; /* remember padding contributes to the overall width. padding-right is large enough here for the arrow graphic. */
}
.selectbox.fixed_width.items{
  width:100px; /* width of display text plus the padding (73 + 27) = 100, so they line up */
}
a.helplink /* for dialog boxes */
{
    position:absolute;
    top: 15px; 
    right: 20px;
}
table.grid
{
	border-collapse: collapse;
	text-align: left;
}
table.grid th
{
	font-size: 110%;
	padding: 5px;
}
table.grid thead
{
	border-bottom: 2px solid #555;
}
table.grid td
{
	padding: 5px;
}
a.sz1.bt
{
    font-size: .85em;
}