/*
Generics
*/

body, html
{
	margin: 0;
	padding: 0;
	color: #333;
	background-color: #fff;
	background-image: none;
	font-family: Helvetica, Arial;
	font-size: 12px;
}
div.main
{
    background-color: #fff;
    padding-left: 2em;
}
form
{
	background-color: #fff;
	margin: 0;
	padding: 0;
}

#CommonHeader
{
	margin: 0;
	width: 100%;
	border-top: solid 9px #3E8CB5;
	background-image: url(header-gradient.png);
	background-repeat: repeat-x;
	background-position: left top;
	z-index: 2000;
}

#CommonHeaderImage
{
	vertical-align: top;
	float:left;
}

#CommonHeaderImage a
{
	display: block;
	margin: 0 8px 0 0;
	position: relative;
	z-index: 100;
}

#CommonHeaderTitleBlock
{
	float:left;
}
#CommonHeaderTitleBlock h1
{
	margin: 0;
	padding: 0;
	font-size: 300%;
	color: #A0AE5A;
}
#CommonHeaderTitleBlock h2
{
	margin: 0;
	padding: 0;
	font-size:small;
}

#CommonHeaderUserArea
{
	float:right;
	margin: 0;
	padding: 0;
	margin-right: 5px;
	position: relative;
	z-index: 100;
}

#CommonFooter
{
	clear: both;
	margin: 40px 0 0 0;
	padding: 24px 0 24px 0;
	width: 100%;
	overflow: hidden;
	background-color: #EAECE0;
	text-align: center;
	font-size: 85%;
	font-weight: bold;
	color: #aaa;
	line-height: 240%;
}

#CommonNavigationShadow
{
	background-image: url(navigation-shadow.png);
	background-repeat: repeat-x;
	background-position: left top;
	background-color: #fff;
	height: 10px;
	margin: 0;
	padding: 0;
	clear: both;
}

#menuone
{
	clear:both;
	padding-top: 4px;
	font-size:  medium;
	font-family: Tahoma;
}
.CommonNavigationSearch
{
	float:right;
	margin-right:5px;
}

a, a:link, a:visited {
	color: #336699;
	text-decoration: none;
}
a:hover, a:active, a:focus {
	text-decoration: underline;
}



.PersonHead
{
	background: #2b637d;
	width: 100%;
	font: large Arial, Helvetica, sans-serif;
	color: white;
	margin: 1px 0 .5em 0;
}
.SearchDialog
{
    width: 600px; 
    height: 475px;
}

a
{
	color: #393939;
	text-decoration: underline;
}
a:hover
{
	color: #78a;
	text-decoration: underline;
}
.pagerstyle
{
	color: #444444;
	background-color: #e5e5e5;
	font-size: x-small;
	text-align: right;
}
.pagerstyle select
{
	font-size: x-small;
}
.leadername
{
	float: right;
}

/*Hover Menu*/
.popupMenu
{
	position: absolute;
	display: none;
	background-color: #FFFFCC;
	border: 1px outset black;
	list-style-type: none;
	padding: 2px;
	z-index: 2004; 
}
.modalBackground
{
	background-color: Gray;
	-ms-filter: alpha(opacity=70);
	-ms-opacity: 0.7;
}

.modalPopup
{
	background-color: #eff3fb;
	border-width: 3px;
	border-style: solid;
	border-color: Gray;
	padding: 10px;
}
.SelectedRow
{
	background-color: #d0ddee;
}
.HoverRow
{
    background-color: #FFFFCC;
}
.QBConditionTitle
{
	background-color: #a9cfe2;
	border: solid 1px Gray;
	color: Black;
	font-size: medium;
}

.FieldLink
{
	font-size:large;
}

table.Design2 th {
    border: solid 1px #EEEEEE;
    text-align: left;
    font-weight: lighter;
    color: #4B4B4B;
    font-size: 85%;
    background-color: #EFF3FB;
    empty-cells : show;
}


.modalBackground 
{
    background-color:Gray;
    filter:alpha(opacity=70);
    opacity:0.7;
}
.modalDiv
{
	font-family:lucida grande,arial,helvetica,sans-serif;
	font-size:11px;
	background-color:#fff;
	border:solid 2px #000;
	padding:4px;
}
.modalDiv .footer
{
	text-align:right;
	padding:8px;
}
.pagination {
            font-size: 80%;
}
        
.pagination a {
    text-decoration: none;
	border: solid 1px #AAE;
	color: #15B;
}

.pagination a, .pagination span {
    display: block;
    float: left;
    padding: 0.3em 0.5em;
    margin-right: 5px;
	margin-bottom: 5px;
}

.pagination .current {
    background: #26B;
    color: #fff;
	border: solid 1px #AAE;
}

.pagination .current.prev, .pagination .current.next{
	color:#999;
	border-color:#999;
	background:#fff;
}
input#GradeCompleted
{
    width: 2em;
}
div#VBS
{
    border: 1px solid #999999;
    display: inline-block;
    margin-bottom: 1em;
}
#VBS img
{
    vertical-align: bottom;
}
#VBS form
{
    background-color: #eee;
}
tr.alt td
{
    background-color: #eee;
}
.Bold
{
    font-weight: bold;
}
.error
{
    color: red;
    font-weight:bold;
}
ul#ConditionGrid
{
    list-style-type: none; 
    margin-left: 0; 
    padding-left: 0; 
    font-size: large;
    margin-top: 0px; 
    margin-bottom: 0px;
}
.urgentNotice
{
    font-size: x-large;
    color:Red;
    background-color: Yellow;
    padding-left: 1em;
    padding-right: 1em;
}
div.growlUI { background: url(check48.png) no-repeat 10px 10px }
div.growlUI2 { background: url(attention48.png) no-repeat 10px 10px }
div.growlUI h1, div.growlUI h2, div.growlUI2 h1, div.growlUI2 h2 {
	color: white; padding: 5px 5px 5px 75px; text-align: left
}
