<connectionStrings>
  <add name="Disc" connectionString="Data Source=bbc001\SqlServer;Initial Catalog=Disciples;user=sa;password=Thi5t1e" />
  <add name="CMS" connectionString="Data Source=bbc001\SqlServer;Initial Catalog=CMS2;user=sa;password=Thi5t1e"
      providerName="System.Data.SqlClient" />
</connectionStrings>