@using CmsWeb.Models
@using CmsWeb
@model SearchUsersModel
<form>
    @Html.Hidden("ordered", Model.ordered)
    @Html.Hidden("singlemode", Model.singlemode)
    <div>
        <div>
            <div>
                <input name="name" type="text" title="Starting letters of First&lt;space>Last or just Last" class="span2 search-query">
                <a href="/SearchUsers/Results" type="submit" class="search bt">Search</a>
            </div>
        </div>
    </div>
    <div style="overflow-y: auto;max-height: 400px">
@Html.Partial("Results", Model)
    </div>
    <div style="float:right;margin-top:1em;">
        <button class="close bt">Close</button>
        <button class="UpdateSelected blue bt">Save changes</button>
    </div>
</form>