<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="CMSBuilderService" type="CMSBuilder.CMSBuilderSection, CMSBuilder"
             requirePermission="false"/>
  </configSections>
  <CMSBuilderService defaultProvider="CMS">
    <providers>
      <clear/>
      <add name="CMS" type="CMSBuilder.SqlDataProvider, CMSBuilder"
           connectionStringName="CMS"
           generatedNamespace="CMSModel"/>
    </providers>
  </CMSBuilderService>
  <appSettings/>
  <connectionStrings>
    <add name="CMS" connectionString="Data Source=.\SqlServer2008;Initial Catalog=CMS2;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="CMSModel.Properties.Settings.CMS2ConnectionString"
      connectionString="Data Source=.\SqlServer2008;Initial Catalog=CMS2;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>