<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="DbmlBuilderService" type="DbmlBuilder.DbmlBuilderSection, DbmlBuilder" requirePermission="false"/>
  </configSections>
  <DbmlBuilderService defaultProvider="CMS">
    <providers>
      <clear/>
      <add name="CMS" type="DbmlBuilder.SqlDataProvider, DbmlBuilder" connectionStringName="CMS" generatedNamespace="CmsData"/>
    </providers>
  </DbmlBuilderService>
  <appSettings/>
  <connectionStrings>
    <add name="CMS" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=CMS_bellevue;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="CmsData.Properties.Settings.CMS2ConnectionString" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=CMS_bellevue;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
<startup>
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
</configuration>
