@model IQueryable<CmsData.Content>
@{
    Layout = "/Views/Shared/SiteLayout.cshtml";
    ViewBag.Title = "Special Content";
}
<h2>Html Content</h2>
<table class="grid" cellspacing="4">
    <tr>
        <th> Name </th>
        <th> Title </th>
    </tr>
@foreach (var item in Model.Where(cc => (cc.TextOnly ?? false) == false))
{ 
    <tr>
        <td> @Html.ActionLink(item.Name, "Page", new { id = item.Name }) </td>
        <td> @item.Title </td>
    </tr>
}
</table>

<h2>Text Content</h2>
<table class="grid" cellspacing="4">
    <tr>
        <th> Name </th>
    </tr>
@foreach (var item in Model.Where(cc => cc.TextOnly == true))
{
    <tr>
        <td> @Html.ActionLink(item.Name, "File", new { id = item.Name }) </td>
    </tr>
}
</table>
