@model IQueryable<CmsData.Content>
@{
    Layout = "/Views/Shared/SiteLayout.cshtml";
    ViewBag.Title = "Special Content";
}
@section scripts
{
    <script type="text/javascript">
        $(function () {
        	$("a[newtype]").click(function (e) {
                e.preventDefault();
                $("#newType").val($(this).attr("newtype"));
                $("#newMessage").html($(this).attr("newmessage"));
                $.blockUI({ message: $('#askName') });
            });
            $("a.bt").button();
        });
    </script>
}
<table cellspacing="5" width="100%">
<tr>
	<td width="33%" valign="top">
		<div class="roundbox">
			<h2>Html Content</h2>
			<center><a href="#" newtype="0" newmessage="Create New HTML File" class="bt">New HTML File</a></center>
			<table class="grid" cellspacing="4">
				 <tr>
					  <th><b>Name/Title</b></th>
				 </tr>
			@foreach (var item in Model.Where(cc => cc.TypeID == 0))
			{ 
				 <tr>
					  <td>
					  @Html.ActionLink(item.Name, "ContentEdit", new { id = item.Id })<br />
					  &nbsp;-- @item.Title
					  </td>
				 </tr>
			}
			</table>
		</div>
	</td>
	<td width="33%" valign="top">
		<div class="roundbox">
			<h2>Text Content</h2>
			<center><a href="#" newtype="1" newmessage="Create New Text File" class="bt">New Text File</a></center>
			<table class="grid" cellpadding="4">
				 <tr>
					  <th><b>Name</b></th>
				 </tr>
			@foreach (var item in Model.Where(cc => cc.TypeID == 1))
			{
				 <tr>
					  <td> @Html.ActionLink(item.Name, "ContentEdit", new { id = item.Id }) </td>
				 </tr>
			}
			</table>
		</div>
	</td>
	<td width="33%" valign="top">
		<div class="roundbox">
			<h2>e-Mail Templates</h2>
			<center><a href="#" newtype="2" newmessage="Create New e-Mail Template" class="bt">New e-Mail Template</a></center>
			<table class="grid" cellspacing="4">
				 <tr>
					  <th><b>Name</b></th>
				 </tr>
			@foreach (var item in Model.Where(cc => cc.TypeID == 2))
			{
				 <tr>
					  <td> @Html.ActionLink(item.Name, "ContentEdit", new { id = item.Id }) </td>
				 </tr>
			}
			</table>
		</div>
	</td>
</tr>
</table>
<div id="askName" style="display:none">
	<br />
	<span id="newMessage" style="font-weight:bold"></span>
	<form action="/Display/ContentCreate/" method="post">
    <p>FileName: <input name="newName" /></p>
    <input type="hidden" id="newType" name="newType" value="0" />
    <input type="submit" class="bt" value="Submit" /> &nbsp;&nbsp; <input type="button" class="bt" onclick="$.unblockUI()" value="Cancel" />
	 </form>
	 <br />
</div>