@using CmsWeb;
@model CmsWeb.Models.CheckinTimeModel
@{
	ViewBag.Title = "Check-in Activity";
	Layout = "/Views/Shared/SiteLayout.cshtml";
}
@section head {
	<style type="text/css">
		.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
		.ui-timepicker-div dl { text-align: left; }
		.ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
		.ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
		.ui-timepicker-div td { font-size: 90%; }
		.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }
	</style>
}
@section scripts
{
	<script type="text/javascript">
		$(document).ready(function () {
			function doUpdate(q) { $.post("/Manage/CheckinTime/List", q, function (ret) { $("#form").html(ret); $.preformat(); }); }

			$.setPageSize = function (ev) {
				$('#Page').val(1);
				$("#PageSize").val($(ev).val());
				doUpdate($(ev).closest('form').serialize());
			};

			$.gotoPage = function (ev, pg) {
				$('#Page').val(pg);
				doUpdate($(ev).closest('form').serialize());
			};

			$.preformat = function () {
				$('table.grid > tbody > tr:even').addClass('alt');

				$('.sortable').bind('click', function (ev) {
					ev.preventDefault();

					var n = $(this).attr('id');
					var o = $("#Sort").val();

					$("#Sort").val(n);

					var dir = $("#Direction").val();
					if (o == n && dir == '0') $("#Direction").val('1');
					else $("#Direction").val('0');

					doUpdate($(this).closest('form').serialize());
					return false;
				});

				$('a.person').bind('click', function (ev) {
					ev.preventDefault();
					$("#Person").val($(this).attr('id'));

					alert("ID: " + $(this).attr('id'));

					doUpdate($(this).closest('form').serialize());
					return false;
				});

				$('#filter').bind('click', function (ev) {
					ev.preventDefault();
					doUpdate($(this).closest('form').serialize());
					return false;
				});

				$('#clear').bind('click', function (ev) {
					ev.preventDefault();
					$("#Person").val(0);
					$("#Activity").val(0);
					$("#dateStart").val("");
					$("#dateEnd").val("");

					doUpdate($(this).closest('form').serialize());
					return false;
				});

				$(".bt").button();
				$(".datepicker").datepicker();
			}

			$.preformat();
		});
	</script>
}
<form id="form" method="post" action="/Manage/CheckinTime/List">
@{ Html.RenderPartial("List", Model); }
</form>
