@model CmsWeb.Models.OrgGroupsModel
@{
    Layout = "/Views/Shared/SiteLayout.cshtml";
    ViewBag.Title = "OrgGroups";
}           
@Html.Raw(SquishIt.Framework.Bundle.JavaScript()
        .Add("/Scripts/OrgGroups.js")
        .Render("/Content/OrgGroups_#.js")
)        
<form id="groupsform" action="/OrgGroups/Update" method="post">
@Html.Partial("Form", Model) 
</form>



