@model CmsWeb.Models.OrgGroupsModel
@using CmsWeb
@{
    Layout = "/Views/Shared/SiteLayout.cshtml";
    ViewBag.Title = "OrgGroups";
}           
@section scripts
{
@Html.Script("/Content/js/jquery.multiSelect.js")
@Html.Script("/Scripts/OrgGroups.js")
}
@section head
{
@Html.Css("/Content/css/jquery.multiselect.css")
<style>
    td.wide100 * 
    {
        width: 98%;
    }
</style>
}
<form id="groupsform" action="/OrgGroups/Update" method="post">
@Html.Partial("Form", Model)
</form>


