@model CmsWeb.Models.OrgGroupsModel
@using System.Web.Optimization
@using CmsWeb
@{
    Layout = "/Views/Shared/SiteLayout.cshtml";
    ViewBag.Title = "OrgGroups";
}           
@section scripts
{
@Scripts.Render("~/bundles/single/OrgGroups-js")
}
@section head
{
<style>
    td.wide100 * 
    {
        width: 98%;
    }
</style>
}
<form id="groupsform" action="/OrgGroups/Update" method="post">
@Html.Partial("Form", Model)
</form>


