body, html
{
	background-color: #EAECE0;
	background-image: none;
	color: #333333;
	font-family: Arial,Helvetica;
	margin: 0pt;
	padding: 0pt;
}
form
{
	background-color: #FFFFFF;
	min-width: 960px;
}
.Common
{
	margin: 0pt auto;
	padding: 0pt;
	width: 960px;
}
#CommonHeader
{
	background-image: url(../images/common/header-gradient.png);
	background-position: left top;
	background-repeat: repeat-x;
	border-top: 10px solid #3A477A;
	margin: 0pt;
	overflow: hidden;
	padding: 0pt 0pt 24px;
	width: 100%;
}
#CommonHeader table
{
	margin: 0pt 0pt 0pt -33px;
	padding: 18px 0pt 0pt;
}
#CommonHeaderImage
{
	vertical-align: bottom;
}
#CommonHeaderImage a
{
	display: block;
	margin: 0pt 8px 0pt 0pt;
	position: relative;
	z-index: 100;
}
#CommonHeaderTitle
{
	color: #636364;
	font-size: 120%;
	letter-spacing: -1px;
	line-height: 90%;
	margin: 0pt;
	padding: 0pt;
	vertical-align: bottom;
}
#CommonHeaderTitle h1
{
	color: #A0AE5A;
	font-size: 280%;
	font-weight: bold;
	letter-spacing: -2px;
	line-height: 120%;
	margin: 0pt;
	padding: 0pt;
}
#CommonHeaderDescription
{
	margin: 0pt;
	padding: 0pt 0pt 0pt 4px;
}
#CommonHeaderUserArea
{
	float: right;
	margin: 0pt -5px 0pt 0pt;
	padding: 0pt;
	position: relative;
	z-index: 100;
}
#CommonHeaderUserArea table
{
	margin: 0pt;
	padding: 0pt;
}
#CommonHeaderUserArea a:link, #CommonHeaderUserArea a:visited, #CommonHeaderUserArea a:active
{
	color: #FFFFFF;
}
#CommonHeaderUserContent
{
	background-color: #3A477A;
	color: #FFFFFF;
	padding: 4px 12px 7px;
	text-align: right;
}
#CommonHeaderUserWelcome
{
	font-size: 80%;
	font-weight: bold;
}
#CommonHeaderSearch
{
	padding-top: 4px;
}
#CommonHeaderUserRoundBottom, #CommonHeaderUserRoundLeft, #CommonHeaderUserRoundRight
{
	height: 5px;
	margin: 0pt;
	overflow: hidden;
	padding: 0pt;
	width: inherit;
}
#CommonHeaderUserRoundLeft, #CommonHeaderUserRoundRight
{
	width: 6px;
}
#CommonHeaderUserRoundBottom .r1, #CommonHeaderUserRoundBottom .r2, #CommonHeaderUserRoundBottom .r3, #CommonHeaderUserRoundBottom .r4, #CommonHeaderUserRoundLeft .r1, #CommonHeaderUserRoundLeft .r2, #CommonHeaderUserRoundLeft .r3, #CommonHeaderUserRoundLeft .r4, #CommonHeaderUserRoundRight .r1, #CommonHeaderUserRoundRight .r2, #CommonHeaderUserRoundRight .r3, #CommonHeaderUserRoundRight .r4
{
	background-color: #3A477A;
	height: 1px;
	overflow: hidden;
}
#CommonHeaderUserRoundBottom .r4
{
	margin: 0pt 5px;
}
#CommonHeaderUserRoundBottom .r3
{
	margin: 0pt 3px;
}
#CommonHeaderUserRoundBottom .r2
{
	margin: 0pt 2px;
}
#CommonHeaderUserRoundBottom .r1
{
	height: 2px;
	margin: 0pt 1px;
}
#CommonHeaderUserRoundLeft .r1
{
	width: 6px;
}
#CommonHeaderUserRoundLeft .r2
{
	margin: 0pt 0pt 0pt 2px;
	width: 4px;
}
#CommonHeaderUserRoundLeft .r3
{
	margin: 0pt 0pt 0pt 4px;
	width: 2px;
}
#CommonHeaderUserRoundLeft .r4
{
	height: 2px;
	margin: 0pt 0pt 0pt 5px;
	width: 1px;
}
#CommonHeaderUserRoundRight .r1
{
	width: 6px;
}
#CommonHeaderUserRoundRight .r2
{
	width: 4px;
}
#CommonHeaderUserRoundRight .r3
{
	width: 2px;
}
#CommonHeaderUserRoundRight .r4
{
	height: 2px;
	width: 1px;
}
#CommonHeaderSearchContent
{
	padding-top: 12px;
	text-align: right;
}
#CommonFooter
{
	background-color: #EAECE0;
	clear: both;
	color: #AAAAAA;
	font-size: 85%;
	font-weight: bold;
	line-height: 240%;
	margin: 40px 0pt 0pt;
	overflow: hidden;
	padding: 24px 0pt;
	text-align: center;
	width: 100%;
}
#CommonNavigation
{
	background-color: #9AB5EC;
	background-image: url(../images/common/navigation-gradient.png);
	background-position: left top;
	background-repeat: repeat-x;
	clear: both;
	font-size: 130%;
	margin: 0pt;
	overflow: hidden;
	padding: 0pt;
	width: 100%;
}
#CommonNavigationShadow
{
	background-image: url(../images/common/navigation-shadow.png);
	background-position: left top;
	background-repeat: repeat-x;
	clear: both;
	margin: 0pt;
	min-height: 6px;
	padding: 0pt;
}
#CommonNavigation ul
{
	display: block;
	list-style-type: none;
	margin: 0pt;
	padding: 0pt;
}
#CommonNavigation ul li
{
	color: #000000;
	display: block;
	float: left;
	font-weight: bold;
	margin-right: 32px;
}
#CommonNavigation a:link, #CommonNavigation a:active, #CommonNavigation a:visited
{
	color: #000000;
	display: block;
	padding-right: 0pt;
	padding-left: 0pt;
	padding-bottom: 6px;
	padding-top: 6px;
	text-decoration: none;
}
#CommonNavigation a:hover
{
	color: #FFFFFF;
	display: block;
	padding-right: 0pt;
	padding-left: 0pt;
	padding-bottom: 6px;
	padding-top: 6px;
	text-decoration: none;
}
#CommonNavigation a.Selected:link, #CommonNavigation a.Selected:active, #CommonNavigation a.Selected:visited
{
	color: #FFFFFF;
}
#CommonNavigation a.Selected:hover
{
	color: #FFFFFF;
}
#CommonContent
{
	height: 1%;
	margin: 0pt;
	overflow: hidden;
	padding: 0pt;
}
#CommonContentInner
{
	overflow: hidden;
	width: 100%;
}
#CommonSidebarLeft
{
}
#CommonSidebarLeft .CommonSidebar
{
	float: left;
	margin: 0pt;
	overflow: hidden;
	padding: 16px 20px 20px 0pt;
	width: 312px;
}
#CommonSidebarRight
{
}
#CommonSidebarRight .CommonSidebar
{
	float: right;
	margin: 0pt;
	overflow: hidden;
	padding: 16px 0pt 20px 20px;
	width: 312px;
}
a:link, a:active
{
	color: #000000;
}
a:visited
{
	color: #666666;
}
a:hover
{
	text-decoration: underline;
}
select, textarea, input, button
{
	font-family: Arial,Helvetica;
	font-size: 90%;
}
table
{
	empty-cells: show;
}
.CommonFeedArea
{
	font-size: 90%;
	font-weight: bold;
	padding: 4px 0pt;
}
.CommonPagingArea
{
	color: #000000;
	font-size: 90%;
	font-weight: bold;
	margin: 0pt 3px;
	padding: 4px;
}
.CommonPagingArea a:link, .CommonPagingArea a:visited
{
	color: #000000;
}
.CommonBreadCrumbArea
{
	background-color: #E9EEF9;
	background-image: url(../images/common/navigation-shadow.png);
	background-position: left top;
	background-repeat: repeat-x;
	color: #000000;
	font-size: 85%;
	margin: 0pt;
	padding: 8px 0pt;
}
.CommonBreadCrumbArea a:link, .CommonBreadCrumbArea a:visited, .CommonBreadCrumbArea a:active
{
	color: #000000;
}
.CommonFilterArea
{
	font-size: 90%;
	font-weight: bold;
	margin: 0pt 40px 0pt 3px;
	padding: 4px;
}
.CommonSearchResults
{
	font-size: 80%;
	font-weight: bold;
	padding: 8px;
}
.CommonSearchResultsArea
{
	margin: 16px 0pt;
}
.CommonTreeFormArea
{
	border: 1px solid #999999;
	height: 175px;
	margin: 4px 4px 2px;
	overflow: auto;
	padding: 2px;
	width: 350px;
}
.CommonTreeFormTree
{
	padding: 0pt;
}
.CommonTreeFormNode
{
	cursor: pointer;
	font-size: 90%;
}
.CommonTreeFormNodeSelected
{
	background-color: #DDDDDD;
	border: 1px solid #CCCCCC;
	cursor: pointer;
	font-size: 90%;
	font-weight: bold;
	padding: 1px;
}
.CommonTreeFormNodeHover
{
	cursor: pointer;
	font-size: 90%;
}
.CommonFormArea
{
	margin: 16px 0pt;
}
.CommonFormTitle
{
	color: #AAAAAA;
	font-size: 180%;
	font-weight: bold;
	letter-spacing: -1px;
	margin: 0pt 0pt 16px;
	padding: 0pt;
}
.CommonFormDescription
{
	padding: 8px 2px 8px 0pt;
}
td.CommonFormFieldName
{
	color: #000000;
	font-weight: bold;
	padding: 2px 8px 2px 2px;
}
div.CommonFormFieldName
{
	color: #000000;
	font-weight: bold;
	padding: 8px 2px 2px;
}
td.CommonFormFieldDescription
{
	font-size: 90%;
	font-weight: normal;
	padding: 2px;
}
div.CommonFormFieldDescription
{
	font-size: 90%;
	font-weight: normal;
	padding: 2px;
}
td.CommonFormField
{
	color: #000000;
	padding: 2px;
}
div.CommonFormField
{
	color: #000000;
	padding: 2px;
}
.CommonMessageArea
{
	background-color: #FFFFFF;
	margin: 64px 0pt;
	width: 50%;
}
.CommonMessageTitle
{
	background-color: #E1E1E1;
	border: 1px solid #E1E1E1;
	color: #999999;
	font-size: 180%;
	font-weight: bold;
	letter-spacing: -1px;
	margin: 0pt;
	padding: 6px 6px 6px 8px;
	text-align: left;
}
.CommonMessageContent
{
	border-color: #E1E1E1;
	border-style: solid;
	border-width: 0pt 1px 1px;
	color: #000000;
	font-size: 100%;
	padding: 8px 8px 16px;
	text-align: left;
}
.CommonInlineMessageArea
{
	background-color: #FFFFFF;
	background-position: left top;
	background-repeat: repeat-x;
	border: 1px solid #E1E1E1;
	margin: 4px 0pt;
}
.CommonInlineMessageTitle
{
	background-color: #E1E1E1;
	border-color: #E1E1E1;
	border-style: solid;
	border-width: 0pt 0pt 1px;
	color: #999999;
	font-size: 100%;
	font-weight: bold;
	margin: 0pt;
	padding: 6px 6px 6px 8px;
	text-align: left;
}
ol.CommonInlineMessageList, ul.CommonInlineMessageList
{
	margin: 0pt;
	padding: 0pt;
}
.CommonInlineMessageList li
{
	margin-left: 30px;
}
.CommonInlineMessageContent
{
	color: #333333;
	font-size: 80%;
	padding: 8px;
	text-align: left;
}
.CommonMessageSuccess
{
	background-color: #66AA55;
	border: 2px solid #003300;
	color: #FFFFFF;
	font-size: 100%;
	font-weight: bold;
	margin: 8px 0pt;
	padding: 8px;
}
.CommonMessageError
{
	background-color: #AA0000;
	border: 2px solid #330000;
	color: #FFFFFF;
	font-size: 100%;
	font-weight: bold;
	margin: 8px 0pt 12px;
	padding: 8px;
}
.CommonTextBig
{
	font-size: 120%;
	font-weight: bold;
	margin: 1px;
	padding: 5px;
}
.CommonInputBig
{
	font-size: 130%;
	width: 90%;
}
.CommonContentArea
{
	margin: 16px 0pt 0pt;
}
.CommonTitle, .CommonProfileTitle
{
	color: #AAAAAA;
	font-size: 280%;
	font-weight: bold;
	letter-spacing: -1px;
	margin: 0pt 0pt 16px;
	padding: 0pt;
}
.CommonTitle a:link, .CommonTitle a:active, .CommonTitle a:visited
{
	color: #AAAAAA;
	text-decoration: none;
}
.CommonTitle a:hover
{
	text-decoration: underline;
}
.CommonSubTitle
{
	color: #AAAAAA;
	font-size: 180%;
	font-weight: bold;
	letter-spacing: -1px;
	margin: 0pt 0pt 16px;
	padding: 0pt;
}
.CommonHeader
{
	color: #AAAAAA;
	font-size: 130%;
	font-weight: bold;
	margin: 8px 0pt 0pt;
	padding: 0pt;
}
.CommonContent
{
}
.CommonGroupedContentArea
{
	border-color: #EEEEEE;
	border-style: solid;
	border-width: 0pt 0pt 1px;
	margin: 0pt 0pt 16px;
	padding: 0pt 0pt 8px;
}
.CommonSidebarArea
{
	margin: 0pt;
	overflow: hidden;
	padding: 0pt 0pt 12px;
	width: 100%;
}
.CommonSidebarRoundTop, .CommonSidebarRoundBottom
{
	height: 5px;
}
.CommonSidebarRoundTop .r1, .CommonSidebarRoundTop .r2, .CommonSidebarRoundTop .r3, .CommonSidebarRoundTop .r4, .CommonSidebarRoundBottom .r1, .CommonSidebarRoundBottom .r2, .CommonSidebarRoundBottom .r3, .CommonSidebarRoundBottom .r4
{
	border-left: 1px solid;
	border-right: 1px solid;
	height: 1px;
	overflow: hidden;
}
.CommonSidebarRoundBottom .r1, .CommonSidebarRoundBottom .r2, .CommonSidebarRoundBottom .r3, .CommonSidebarRoundBottom .r4
{
	background-image: url(../images/common/sidebar-bottom.png);
	background-position: left top;
	background-repeat: repeat;
}
.CommonSidebarRoundTop .r1, .CommonSidebarRoundBottom .r4
{
	border-left-width: 0pt;
	border-right-width: 0pt;
	border-top: 1px solid;
	height: 0pt;
	margin: 0pt 5px;
}
.CommonSidebarRoundTop .r2, .CommonSidebarRoundBottom .r3
{
	border-left-width: 2px;
	border-right-width: 2px;
	margin: 0pt 3px;
}
.CommonSidebarRoundTop .r3, .CommonSidebarRoundBottom .r2
{
	margin: 0pt 2px;
}
.CommonSidebarRoundTop .r4, .CommonSidebarRoundBottom .r1
{
	height: 2px;
	margin: 0pt 1px;
}
.CommonSidebarHeader
{
	border-bottom: 1px solid #FFFFFF;
	color: #333333;
	font-size: 160%;
	font-weight: bolder;
	margin: 0pt 0pt 8px;
	padding: 2px 0pt 4px;
}
.CommonSidebarHeader a:link, .CommonSidebarHeader a:visited, .CommonSidebarHeader a:active
{
	text-decoration: none;
}
.CommonSidebarInnerArea
{
	background-image: url(../images/common/sidebar-gradient.png);
	background-position: left bottom;
	background-repeat: repeat-x;
	border-left: 1px solid;
	border-right: 1px solid;
	margin: 0pt;
	min-height: 109px;
	overflow: hidden;
	padding: 0pt 8px 8px;
}
.CommonSidebarContent
{
	font-size: 85%;
}
.CommonSidebarInnerArea, .CommonSidebarRoundTop .r1, .CommonSidebarRoundTop .r2, .CommonSidebarRoundTop .r3, .CommonSidebarRoundTop .r4, .CommonSidebarRoundBottom .r1, .CommonSidebarRoundBottom .r2, .CommonSidebarRoundBottom .r3, .CommonSidebarRoundBottom .r4
{
	background-color: #D7D7CE;
	border-color: #999999;
}
.CommonSidebarFooter
{
	border-top: 1px solid #FFFFFF;
	font-size: 85%;
	margin: 8px 0pt 0pt;
	padding: 4px 0pt 0pt;
}
ul.CommonSidebarList
{
	margin: 0pt;
	padding: 0pt;
}
ul.CommonSidebarList li
{
	list-style-type: none;
	margin-bottom: 5px;
	margin-left: 16px;
}
ol.CommonSidebarList
{
	margin: 0pt;
	padding: 0pt;
}
ol.CommonSidebarList li
{
	margin: 0pt 0pt 5px 20px;
}
li.CommonSidebarRssListItem
{
	list-style-image: url(../images/common/feed-icon-12x12.png);
	margin: 0pt 0pt 5px 16px;
	padding: 0pt 0pt 1px;
}
.CommonDescription
{
	font-size: 90%;
	margin: 0pt 0pt 16px;
}
.CommonSidebarImage
{
	background-color: #EEEEEE;
	border: 1px solid #FFFFFF;
	margin: 4px 0pt;
	padding: 3px;
	text-align: center;
}
ul.CommonSidebarImageList
{
	list-style-type: none;
	margin: 0pt;
	padding: 0pt;
}
.CommonTextButton
{
	background-color: #EEEEEE;
	border-color: #CCCCCC rgb(153, 153, 153) rgb(153, 153, 153) rgb(204, 204, 204);
	border-style: solid;
	border-width: 1px;
	color: #333333;
	display: -moz-inline-box;
	font-size: 80%;
	font-weight: bold;
	margin: 1px;
	padding: 4px;
	white-space: nowrap;
}
.CommonTextButton:link, .CommonTextButton:visited
{
	background-color: #EEEEEE;
	color: #333333;
	text-decoration: none;
}
.CommonTextButton:active
{
	color: #333333;
	text-decoration: none;
}
.CommonTextButton:hover
{
	background-color: #DDDDDD;
	color: #333333;
	text-decoration: underline;
}
 .
.CommonTextButton.Big
{
	font-size: 120%;
	padding: 10px;
}
.CommonTextButtonHighlight
{
	background-color: #BBBBBB;
	border-color: #CCCCCC rgb(153, 153, 153) rgb(153, 153, 153) rgb(204, 204, 204);
	border-style: solid;
	border-width: 1px;
	color: #333333;
	display: -moz-inline-box;
	font-size: 80%;
	font-weight: bold;
	margin: 1px;
	padding: 4px;
	white-space: nowrap;
}
.CommonTextButtonHighlight:link, .CommonTextButtonHighlight:visited, .CommonTextButtonHighlight:active, .CommonTextButtonHighlight:hover
{
	background-color: #BBBBBB;
	color: #333333;
	text-decoration: none;
}
.CommonImageTextButton
{
	background-color: #EEEEEE;
	background-position: 2px center;
	background-repeat: no-repeat;
	border-color: #CCCCCC rgb(153, 153, 153) rgb(153, 153, 153) rgb(204, 204, 204);
	border-style: solid;
	border-width: 1px;
	color: #333333;
	display: -moz-inline-box;
	font-size: 80%;
	font-weight: bold;
	line-height: normal;
	margin: 1px;
	padding: 4px 4px 4px 22px;
	white-space: nowrap;
}
.CommonImageTextButton:link, .CommonImageTextButton:visited
{
	color: #333333;
	margin: 1px;
	text-decoration: none;
}
.CommonImageTextButton:active
{
	color: #333333;
	text-decoration: none;
}
.CommonImageTextButton:hover
{
	background-color: #DDDDDD;
	color: #333333;
	text-decoration: underline;
}
 .
.CommonImageTextButton.Big
{
	background-position: 4px center;
	font-size: 130%;
	padding-left: 30px;
	padding-right: 10px;
}
.CommonImageTextButtonHighlight
{
	background-color: #BBBBBB;
	background-position: 2px center;
	background-repeat: no-repeat;
	border-color: #CCCCCC rgb(153, 153, 153) rgb(153, 153, 153) rgb(204, 204, 204);
	border-style: solid;
	border-width: 1px;
	color: #333333;
	display: -moz-inline-box;
	font-size: 80%;
	font-weight: bold;
	line-height: normal;
	margin: 1px;
	padding: 4px 4px 4px 22px;
	white-space: nowrap;
}
.CommonImageTextButtonHighlight:link, .CommonImageTextButtonHighlight:visited, .CommonImageTextButtonHighlight:active, .CommonImageTextButtonHighlight:hover
{
	background-color: #BBBBBB;
	color: #333333;
	text-decoration: none;
}
.CommonPrivateMessageButton
{
	background-image: url(../images/common/privatemessage.gif);
}
.CommonEmailButton
{
	background-image: url(../images/common/email.gif);
}
.CommonEmailSubscriptionButtonEnabled
{
	background-image: url(../images/common/tracktopic-on.gif);
}
.CommonEmailSubscriptionButtonDisabled
{
	background-image: url(../images/common/tracktopic.gif);
}
.CommonEmailSubscriptionButtonProcessing
{
	background-image: url(../images/common/tracktopic-wait.gif);
}
.CommonFavoriteButton
{
	background-image: url(../images/common/favorite.gif);
}
.CommonContactButton
{
	background-image: url(../images/common/contact.gif);
}
.CommonEditButton
{
	background-image: url(../images/common/edit.gif);
}
.CommonDeleteButton
{
	background-image: url(../images/common/delete.gif);
}
.CommonUploadButton
{
	background-image: url(../images/common/upload.gif);
}
.CommonDownloadButton
{
	background-image: url(../images/common/download.gif);
}
.CommonPostButton
{
	background-image: url(../images/common/newpost.gif);
}
.CommonReplyButton
{
	background-image: url(../images/common/reply.gif);
}
.CommonPreviousButton
{
	background-image: url(../images/common/previoustopic.gif);
}
.CommonNextButton
{
	background-image: url(../images/common/nexttopic.gif);
}
.CommonViewButton
{
	background-image: url(../images/common/view.gif);
}
.CommonLockedButton
{
	background-image: url(../images/common/locked.gif);
}
.CommonHomepageButton
{
	background-image: url(../images/common/homepage.gif);
}
.CommonWeblogButton
{
	background-image: url(../images/common/weblog.gif);
}
.CommonStandardTopAdArea
{
	border-color: #999999;
	border-style: solid;
	border-width: 1px 0pt 0pt;
	margin: 0pt 0pt 4px;
	padding: 4px;
	text-align: center;
}
.CommonStandardTopAdArea iframe
{
	margin: 0pt auto;
}
.CommonStandardBottomAdArea
{
	border-color: #999999;
	border-style: solid;
	border-width: 1px 0pt 0pt;
	margin: 4px 0pt 0pt;
	padding: 4px;
	text-align: center;
}
.CommonStandardBottomAdArea iframe
{
	border: 1px solid #999999;
	margin: 0pt auto;
}
.CommonListArea
{
	padding: 8px 0pt;
}
.CommonListTitle
{
	color: #000000;
	font-size: 180%;
	font-weight: bold;
	margin: 0pt;
	padding: 6px 6px 6px 0pt;
}
.CommonListTitle a, .CommonListTitle a:visited, .CommonListTitle a:active
{
	color: #000000;
	text-decoration: none;
}
.CommonListTitle a:hover
{
	text-decoration: underline;
}
.CommonListHeaderLeftMost
{
	background-color: #E1E1E1;
	border: 1px solid #E1E1E1;
	color: #999999;
	font-size: 80%;
	font-weight: bold;
	padding: 4px;
	text-align: left;
}
.CommonListHeader
{
	background-color: #E1E1E1;
	border-color: #E1E1E1;
	border-style: solid;
	border-width: 1px 1px 1px 0pt;
	color: #999999;
	font-size: 80%;
	font-weight: bold;
	padding: 4px;
	text-align: left;
}
.CommonListCellLeftMost
{
	border-color: #E1E1E1;
	border-style: solid;
	border-width: 0pt 1px 1px;
	color: #333333;
	font-size: 80%;
	padding: 4px;
}
.CommonListCell
{
	border-color: #E1E1E1;
	border-style: solid;
	border-width: 0pt 1px 1px 0pt;
	color: #333333;
	font-size: 80%;
	padding: 4px;
	text-align: left;
}
.CommonListRow
{
}
.CommonListRowAlt td
{
	background-color: #FFFFCC;
}
.CommonSearchResultArea
{
	background-position: left top;
	background-repeat: no-repeat;
	border-color: #EEEEEE;
	border-style: solid;
	border-width: 0pt 0pt 1px;
	margin: 0pt 0pt 20px;
	min-height: 46px;
	padding: 0pt 0pt 20px 70px;
}
 .
.CommonSearchResultArea.Weblog
{
	background-image: url(../images/blogs.png);
}
 .
.CommonSearchResultArea.Forum
{
	background-image: url(../images/forums.png);
}
 .
.CommonSearchResultArea.FileGallery
{
	background-image: url(../images/files.png);
}
 .
.CommonSearchResultArea.Gallery
{
	background-image: url(../images/photos.png);
}
.CommonSearchResult
{
	font-size: 100%;
}
.CommonSearchResultName
{
	font-size: 150%;
	font-weight: normal;
	margin: 0pt 0pt 4px;
	padding: 0pt;
}
.CommonSearchResultDetails
{
	color: #000000;
	font-size: 80%;
	margin: 4px 0pt 0pt;
}
.CommonSearchStatistics
{
	color: #000000;
	font-size: 80%;
	margin: 4px 0pt 0pt;
}
ul.CommonSearchResultList
{
	list-style-type: none;
	margin: 0pt;
	padding: 0pt;
}
.CommonValidationWarning
{
	color: #FF0000;
	font-size: 100%;
	font-weight: bold;
	padding: 2px;
}
.CommonContentPartBorderOff
{
	padding: 1px;
}
.CommonContentPartBorderOn
{
	background-color: #EFEFEF;
	border: 1px dashed #999999;
}
.CommonContextMenuGroup
{
	background-color: #FFFFFF;
	border: 1px solid #999999;
}
.CommonContextMenuItem
{
	background-color: #FFFFFF;
	border: 1px solid #FFFFFF;
	cursor: pointer;
	font-size: 90%;
	padding: 3px;
}
.CommonContextMenuItemHover
{
	background-color: #F4F4F4;
	border: 1px solid #E1E1E1;
	color: #000000;
	cursor: pointer;
	font-size: 90%;
	padding: 3px;
}
.CommonContextMenuItemExpanded
{
	background-color: #E1E1E1;
	border: 1px solid #F4F4F4;
	color: #000000;
	cursor: pointer;
	font-size: 90%;
	padding: 3px;
}
.CommonContextMenuSeperatorItem
{
	background-color: #999999;
	border: 4px solid #FFFFFF;
	cursor: pointer;
	height: 1px;
}
.CommonModalMask
{
	background-color: #333333;
	opacity: 0.4;
}
.CommonModal
{
	padding: 0pt 7px;
}
.CommonModal1, .CommonModal2, .CommonModal3, .CommonModal4, .CommonModal5
{
	background-color: #CCCCCC;
	background-image: url(../images/common/navigation-gradient.png);
	background-position: left -20px;
	background-repeat: repeat-x;
	border-left: 1px solid #666666;
	border-right: 1px solid #666666;
}
.CommonModal1
{
	border-bottom: 1px solid #666666;
	border-top: 1px solid #666666;
	border-width: 1px 0px;
	margin: 0pt -2px;
	padding: 0pt;
}
.CommonModal2
{
	border-left-width: 2px;
	border-right-width: 2px;
	margin: 0pt -2px;
	padding: 1px 0pt;
}
.CommonModal3
{
	margin: 0pt -3px;
	padding: 1px 0pt;
}
.CommonModal4
{
	margin: 0pt -2px;
	padding: 2px 0pt;
}
.CommonModal5
{
	margin: 0pt -2px;
	padding: 1px 0pt;
}
.CommonModalTitle
{
	border-bottom: 1px solid #666666;
	color: #000000;
	cursor: move;
	font-size: 130%;
	font-weight: bold;
	min-height: 16px;
	padding: 3px 6px 6px;
}
.CommonModalContent
{
	background-color: #FFFFFF;
}
.CommonModalFooter
{
	border-top: 1px solid #666666;
	height: 20px;
	width: 100%;
}
.CommonModalClose
{
	background-image: url(../images/common/close.gif);
	background-repeat: no-repeat;
	cursor: pointer;
	height: 12px;
	overflow: hidden;
	position: absolute;
	right: 6px;
	width: 33px;
}
.CommonModalResize
{
	background-image: url(../images/common/resize.gif);
	background-repeat: no-repeat;
	cursor: se-resize;
	height: 14px;
	margin-top: 4px;
	overflow: hidden;
	position: absolute;
	right: 6px;
	width: 14px;
}
.CommonRateControlReadOnly
{
	background-color: #FFFFFF;
	border: 1px solid #999999;
	display: -moz-inline-box;
	padding: 1px;
	white-space: nowrap;
}
.CommonRateControl
{
	background-color: #EEEEEE;
	border: 1px solid #999999;
	cursor: pointer;
	display: -moz-inline-box;
	padding: 1px;
	white-space: nowrap;
}
.CommonRateControlActive
{
	background-color: #FFCC66;
	border: 1px solid #CC9933;
	cursor: pointer;
	display: -moz-inline-box;
	padding: 1px;
	white-space: nowrap;
}
.CommonContentSelectorTreeArea
{
	background-color: #FFFFFF;
	border: 1px solid #999999;
	height: 330px;
	margin: 5px 5px 5px 0pt;
	overflow: auto;
}
.CommonContentSelectorItemsArea
{
	background-color: #FFFFFF;
	border: 1px solid #999999;
	height: 322px;
	margin: 5px 0pt;
	overflow: auto;
	padding: 4px;
}
.CommonContentSelectorOptionsArea
{
	background-color: #FFFFFF;
	border: 1px solid #999999;
	margin: 0pt;
	padding: 4px;
}
.CommonContentSelectorTree
{
	height: 330px;
	overflow: visible;
	padding: 0pt;
	width: 215px;
}
.CommonContentSelectorTreeNode
{
	cursor: pointer;
}
.CommonContentSelectorTreeNodeSelected
{
	cursor: pointer;
	font-weight: bold;
}
.CommonContentSelectorTreeNodeHover
{
	cursor: pointer;
}
.CommonContentSelectorItemArea
{
	float: left;
}
.CommonContentSelectorItem
{
	border: 1px solid #CCCCCC;
	cursor: pointer;
	font-size: 90%;
	height: 79px;
	margin: 6px 6px 0pt;
	overflow: hidden;
	padding: 3px;
	text-align: center;
	vertical-align: middle;
	width: 79px;
}
.CommonContentSelectorItemSelected
{
	border: 3px solid #999999;
	cursor: pointer;
	font-size: 90%;
	height: 79px;
	margin: 6px 6px 0pt;
	overflow: hidden;
	padding: 1px;
	text-align: center;
	vertical-align: middle;
	width: 79px;
}
.CommonContentSelectorItem img, .CommonContentSelectorItemSelected img
{
	margin-bottom: auto;
	margin-top: auto;
}
.CommonContentSelectorItemName
{
	cursor: pointer;
	font-size: 90%;
	font-weight: normal;
	height: 12px;
	margin: 1px 6px 16px;
	overflow: hidden;
	padding: 2px;
	text-align: center;
	width: 83px;
}
.CommonContentSelectorItemNameSelected
{
	background-color: #999999;
	cursor: pointer;
	font-size: 90%;
	font-weight: normal;
	height: 12px;
	margin: 1px 6px 16px;
	overflow: hidden;
	padding: 2px;
	text-align: center;
	width: 83px;
}
.CommonContentSelectorButtonArea
{
	margin: 5px;
	text-align: right;
}
p.MsoNormal, li.MsoNormal, div.MsoNormal
{
	margin: 0pt 0pt 0.0001pt;
}
#CommonCommentForm, #CommonContactForm
{
	font-size: 0.95em;
	padding: 0pt;
}
#CommonCommentForm h2, #CommonContactForm h2
{
	margin-bottom: 0pt;
}
#CommonCommentForm h3, #CommonContactForm h3
{
	font-size: 1.3em;
	font-weight: 600;
	letter-spacing: 0pt;
	margin: 0pt 10px 0pt 0pt;
	padding: 10px 0pt 5px;
}
#CommonCommentForm p, #CommonContactForm p
{
	font-size: 0.95em;
	padding: 0em;
}
#CommonCommentForm dl, #CommonContactForm dl
{
	margin: 0pt;
	padding: 0pt;
}
#CommonCommentForm dt, #CommonContactForm dt
{
	font-size: 1em;
	margin: 0pt;
	padding: 5px 0pt;
}
#CommonCommentForm dd, #CommonContactForm dd
{
	color: #777777;
	margin-left: 0pt;
}
#CommonCommentForm dt em, #CommonContactForm dt em
{
	font-size: 0.95em;
}
#CommonCommentForm .smallbox, #CommonContactForm .smallbox
{
	padding: 2px;
	width: 350px;
}
#CommonCommentForm textarea, #CommonContactForm textarea
{
	font-size: 1em;
	height: 150px;
	padding: 2px;
	width: 500px;
}
#comments table, .FileCommentsContent table
{
	table-layout: fixed;
	width: 100%;
}
.Comment
{
	border-color: #EEEEEE;
	border-style: solid;
	border-width: 0pt 0pt 1px;
	padding: 12px 8px 8px;
}
.CommentOwner
{
	background-color: #F4F4F4;
	border-bottom: 12px solid #FFFFFF;
	padding: 8px;
}
.CommentAvatar
{
	white-space: nowrap;
	width: 15%;
}
.CommentAvatar img
{
	margin-right: 8px;
}
.CommentContent
{
	overflow: hidden;
	width: 85%;
}
.CommentTitle
{
	font-size: 110%;
	margin: 0pt;
	padding: 0pt;
}
.CommentText
{
	padding: 2px 0pt;
}
.CommentFooter
{
	color: #999999;
	font-size: 80%;
}
.CommonHelpIcon
{
	background-image: url(../images/common/help_out.gif);
	background-position: left top;
	background-repeat: no-repeat;
	border-style: none;
	cursor: help;
	display: -moz-inline-box;
	height: 20px;
	width: 20px;
}
.CommonHelpIconHover
{
	background-image: url(../images/common/help_hover.gif);
	background-position: left top;
	background-repeat: no-repeat;
	border-style: none;
	cursor: help;
	display: -moz-inline-box;
	height: 20px;
	width: 20px;
}
.CommonHelpToolTip
{
	background-color: #FFFFCC;
	border: 2px solid #000000;
	color: #000000;
	font-size: 8pt;
	padding: 8px;
	width: 250px;
}
.CommonPollMoveUpButton
{
	background-color: #EEEEEE;
	background-image: url(../images/common/up.gif);
	background-position: left top;
	background-repeat: no-repeat;
	border-color: #CCCCCC rgb(153, 153, 153) rgb(153, 153, 153) rgb(204, 204, 204);
	border-style: solid;
	border-width: 1px;
	color: #333333;
	display: -moz-inline-box;
	font-size: 80%;
	font-weight: bold;
	height: 20px;
	line-height: normal;
	margin: 1px;
	width: 20px;
}
.CommonPollMoveUpButton:hover
{
	background-color: #DDDDDD;
	color: #333333;
	text-decoration: none;
}
.CommonPollMoveDownButton
{
	background-color: #EEEEEE;
	background-image: url(../images/common/down.gif);
	background-position: left top;
	background-repeat: no-repeat;
	border-color: #CCCCCC rgb(153, 153, 153) rgb(153, 153, 153) rgb(204, 204, 204);
	border-style: solid;
	border-width: 1px;
	color: #333333;
	display: -moz-inline-box;
	font-size: 80%;
	font-weight: bold;
	height: 20px;
	line-height: normal;
	margin: 1px;
	width: 20px;
}
.CommonPollMoveDownButton:hover
{
	background-color: #DDDDDD;
	color: #333333;
	text-decoration: none;
}
.CommonPollDeleteButton
{
	background-color: #EEEEEE;
	background-image: url(../images/common/delete.gif);
	background-position: left top;
	background-repeat: no-repeat;
	border-color: #CCCCCC rgb(153, 153, 153) rgb(153, 153, 153) rgb(204, 204, 204);
	border-style: solid;
	border-width: 1px;
	color: #333333;
	display: -moz-inline-box;
	font-size: 80%;
	font-weight: bold;
	height: 20px;
	line-height: normal;
	margin: 1px;
	width: 20px;
}
.CommonPollDeleteButton:hover
{
	background-color: #DDDDDD;
	color: #333333;
	text-decoration: none;
}
ol.CommonPollAnswerList
{
	margin: 0pt;
	padding: 0pt;
}
ol.CommonPollAnswerList li
{
	margin-left: 24px;
}
.CommonPollArea
{
	background-color: #F4F4F4;
	border: 1px solid #BBBBBB;
	margin: 0pt auto;
	width: 375px;
}
.CommonPollQuestion
{
	background-color: #E2EECD;
	border-color: #BBBBBB;
	border-style: solid;
	border-width: 0pt 0pt 1px;
	color: #698D73;
	font-size: 105%;
	margin: 0pt;
	padding: 4px;
}
.CommonPollContent
{
	padding: 4px;
}
.CommonPollDescription
{
}
.CommonPollSwitchedContent
{
	margin: 6px auto;
	width: 275px;
}
ul.CommonPollAnswerList
{
	list-style-type: none;
	margin: 0pt;
	padding: 0pt;
}
ul.CommonPollAnswerList li
{
	margin: 6px 0pt 0pt;
	padding: 0pt;
}
.CommonPollAnswer
{
	padding: 2px;
}
.CommonPollUserVote
{
	color: #777777;
}
.CommonPollFooter
{
	background-color: #CCCCCC;
	border-color: #999999;
	border-style: solid;
	border-width: 1px 0pt 0pt;
	font-size: 80%;
	padding: 2px;
}
ul.CommonPollFooterList
{
	list-style-type: none;
	margin: 0pt;
	text-align: center;
}
ul.CommonPollFooterList li
{
	display: inline;
	margin: 0pt 6px;
}
.CommonTagCloud
{
	background-color: #F7F7F7;
	color: #999999;
	line-height: 250%;
	list-style-type: none;
	margin: 32px 0pt;
	padding: 16px 8px;
}
.CommonSidebarTagCloud
{
	line-height: 225%;
	list-style-type: none;
	margin: 0pt;
	padding: 0pt;
}
.CommonTag1, .CommonTag2, .CommonTag3, .CommonTag3, .CommonTag4, .CommonTag5, .CommonTag6
{
	display: inline;
	margin: 0pt;
	padding: 0pt;
}
.CommonTag1 a:link, .CommonTag1 a:visited, .CommonTag1 a:active
{
	color: #000000;
	font-size: 225%;
	font-weight: 900;
	margin-right: 6px;
	text-decoration: none;
}
.CommonTag2 a:link, .CommonTag2 a:visited, .CommonTag2 a:active
{
	color: #111111;
	font-size: 175%;
	font-weight: 800;
	margin-right: 6px;
	text-decoration: none;
}
.CommonTag3 a:link, .CommonTag3 a:visited, .CommonTag3 a:active
{
	color: #222222;
	font-size: 150%;
	font-weight: 600;
	margin-right: 6px;
	text-decoration: none;
}
.CommonTag4 a:link, .CommonTag4 a:visited, .CommonTag4 a:active
{
	color: #333333;
	font-size: 120%;
	font-weight: 500;
	margin-right: 6px;
	text-decoration: none;
}
.CommonTag5 a:link, .CommonTag5 a:visited, .CommonTag5 a:active
{
	color: #444444;
	font-size: 100%;
	font-weight: 300;
	margin-right: 6px;
	text-decoration: none;
}
.CommonTag6 a:link, .CommonTag6 a:visited, .CommonTag6 a:active
{
	color: #555555;
	font-size: 80%;
	font-weight: 200;
	margin-right: 6px;
	text-decoration: none;
}
.CommonTag1 a:hover, .CommonTag2 a:hover, .CommonTag3 a:hover, .CommonTag4 a:hover, .CommonTag5 a:hover, .CommonTag6 a:hover
{
	text-decoration: underline;
}
.CommonPane
{
	background-color: #FFFFFF;
	border-color: #999999;
	border-style: solid;
	border-width: 0pt 1px 1px;
	font-size: 10pt;
	padding: 8px;
}
.CommonPaneTabSet
{
	background-image: url(../images/common/tabset.gif);
	background-position: left bottom;
	background-repeat: repeat-x;
	color: #000000;
	font-size: 11px;
	padding: 0pt;
	white-space: nowrap;
}
.CommonPaneTab
{
	background-image: url(../images/common/tab-right.gif);
	background-position: right top;
	background-repeat: no-repeat;
	height: 21px;
	margin-top: 1px;
	padding-right: 4px;
}
.CommonPaneTab1
{
	background-image: url(../images/common/tab-left.gif);
	background-position: left top;
	background-repeat: no-repeat;
	padding-left: 3px;
}
.CommonPaneTab2
{
	background-image: url(../images/common/tab.gif);
	background-position: left top;
	background-repeat: repeat-x;
	cursor: pointer;
	height: 13px;
	overflow: hidden;
	padding: 4px;
	text-align: center;
	white-space: nowrap;
}
.CommonPaneTabSelected
{
	background-image: url(../images/common/tab-selected-right.gif);
	background-position: right top;
	background-repeat: no-repeat;
	height: 21px;
	margin-top: 1px;
	padding-right: 4px;
}
.CommonPaneTabSelected1
{
	background-image: url(../images/common/tab-selected-left.gif);
	background-position: left top;
	background-repeat: no-repeat;
	padding-left: 3px;
}
.CommonPaneTabSelected2
{
	background-image: url(../images/common/tab-selected.gif);
	background-position: left top;
	background-repeat: repeat-x;
	cursor: pointer;
	font-weight: bold;
	height: 13px;
	overflow: hidden;
	padding: 3px 4px 5px;
	text-align: center;
	white-space: nowrap;
}
.CommonPaneTabHover
{
	background-image: url(../images/common/tab-hover-right.gif);
	background-position: right top;
	background-repeat: no-repeat;
	height: 21px;
	margin-top: 1px;
	padding-right: 4px;
}
.CommonPaneTabHover1
{
	background-image: url(../images/common/tab-hover-left.gif);
	background-position: left top;
	background-repeat: no-repeat;
	padding-left: 3px;
}
.CommonPaneTabHover2
{
	background-image: url(../images/common/tab-hover.gif);
	background-position: left top;
	background-repeat: repeat-x;
	cursor: pointer;
	height: 13px;
	overflow: hidden;
	padding: 4px;
	text-align: center;
	white-space: nowrap;
}
.CommonInlineTagEditor
{
	background-color: #F3F3F3;
	border: 1px solid #999999;
	padding: 4px;
}
ul.CommonTreeList
{
	margin: 0pt;
	padding: 0pt;
}
ul.CommonTreeList li
{
	list-style-type: none;
	margin: 0pt;
	padding: 5px 0pt 0pt 18px;
}
.CommonTreeListItemSelected
{
	background-image: url(../images/common/folder_open.gif);
	background-position: left 3px;
	background-repeat: no-repeat;
	font-weight: bold;
	padding: 5px 0pt 0pt 18px;
}
.CommonTreeListItem
{
	background-image: url(../images/common/folder.gif);
	background-position: left 3px;
	background-repeat: no-repeat;
	font-weight: normal;
	padding: 5px 0pt 0pt 18px;
}
.CommonTreeListItemSelected a:link, .CommonTreeListItemSelected a:visited, .CommonTreeListItemSelected a:active, .CommonTreeListItem a:link, .CommonTreeListItem a:visited, .CommonTreeListItem a:active
{
	color: #000000;
	text-decoration: none;
}
.CommonTreeListItemSelected a:hover, .CommonTreeListItem a:hover
{
	color: #000000;
	text-decoration: underline;
}
.CommonHalfWidthArea
{
	float: left;
	width: 50%;
}
.CommonHalfWidthContent
{
	padding: 10px 10px 10px 0pt;
}
.CommonHalfWidthBreak
{
	clear: both;
}
.CommonInlineListArea
{
}
.CommonInlineListHeader
{
	font-size: 115%;
	font-weight: bold;
	margin: 0pt 0pt 0pt 0.4em;
}
.CommonInlineList
{
	margin: 0pt;
	padding: 0pt;
}
.CommonInlineList li
{
	list-style-type: square;
	margin: 0pt 0pt 0.5em 25px;
	padding: 0pt;
}
.CommonAvatarListArea
{
	float: left;
	font-size: 120%;
	height: 100px;
	margin: 12px 12px 0pt 0pt;
	overflow: hidden;
	padding: 3px 3px 3px 0pt;
	text-align: center;
	vertical-align: middle;
	width: 80px;
}
.CommonAvatarAreaHighlight
{
	background-color: #EEEEEE;
	border: 1px solid #CCCCCC;
	display: block;
}
.CommonAvatarArea
{
	display: block;
	padding: 1px;
}
