@model CmsData.User
@{
    Layout = "/Views/Shared/SiteLayout.cshtml";
    ViewBag.Title = "AddUser";
}
<h2>New User Added</h2>
<table>
<tr><td>Userid:</td><td>@Model.UserId</td></tr>
<tr><td>Name:</td><td>@Model.Name</td></tr>
<tr><td>Username:</td><td>@Model.Username</td></tr>
</table>
@using (Html.BeginForm("SendNewUserEmail", "Account"))
{ 
   @Html.Hidden("userid", Model.UserId)
   <input type="submit" class="bt" name="SendNewUserWelcome" value="Send Email" />
} 
@using (Html.BeginForm("UsersPage", "Account"))
{ 
   <input type="submit" class="bt" name="Submit" value="Go directly to Users" /> 
}


