@{
    Layout = "/Views/Shared/SiteLayout.cshtml";
    ViewBag.Title = "ChangePassword";
}
<table class="roundbox" align="center" cellspacing="5">
<tr><td nowrap="nowrap"> <h2>Change Password</h2> </td></tr>
<tr><td width="20em">
    Your password has been changed successfully.
    Click the logo to go back to your home page.
    </td></tr>
</table>


