@{
Layout = "/Views/Shared/Site3.cshtml";
ViewBag.Title = "ForgotPassword";
}
<h2>Forgot Password</h2>
<p>
Use the form below to request a new password.
Note: you will need to provide a username or the email address we have on your record for this to work.
</p>
<form action="/Account/ForgotPassword" method="post">
    <div>
        <fieldset>
            <legend>Account Information</legend>
            <p>
                <label for="currentPassword">Username or email address:</label>
                @Html.TextBox("username")
                @Html.ValidationMessage("username")
            </p>
            <p>
                <input type="submit" class="bt" value="Request New Password" />
            </p>
        </fieldset>
    </div>
</form>
