@{
    Layout = "/Views/Shared/Site3.cshtml";
    ViewBag.Title = "ForgotUsername";
}
<h2>Forgot Username</h2>
<p> Use the form below to request your username. </p>
<form action="/Account/ForgotUsername" method="post">
    <div>
        <fieldset>
            <legend>Account Information</legend>
            <p>
                <label for="currentPassword">Email Address on record:</label>
                @Html.TextBox("email")
                @Html.ValidationMessage("email")
            </p>
            <p>
                <input type="submit" value="Request Username" />
            </p>
        </fieldset>
    </div>
</form>


