@{
Layout = "/Views/Shared/Site3.cshtml";
ViewBag.Title = "RequestPassword";
}
<h2>Password Reset Notice Sent</h2>
<p>You should receive an email at @((string)TempData["email"]) shortly with a link to reset your password if you gave us your correct username.</p>


