@{
Layout = "/Views/Shared/Site3.cshtml";
ViewBag.Title = "ForgotUsername";
}
<h2>Username Request</h2>
<p>You should receive an email shortly with your username if you gave us your correct email.</p>


