@{
Layout = "/Views/Shared/Site3.cshtml";
ViewBag.Title = "ResetPassword";
}
<h2>Change Password</h2>
<p>
Your password has been changed successfully.<br />
You should receive an email shortly with your new password.
</p>


