@using CmsWeb;
@using UtilityExtensions;
@model CmsWeb.Models.UsersModel
@{
    Layout = "/Views/Shared/SiteLayout.cshtml";
    ViewBag.Title = "Users";
}
@section scripts
{
    <script type="text/javascript" src="@Fingerprint.Tag("/Scripts/Admin/Users.js")"></script>
}
@section head 
{
    <link href="/Content/styles/jquery.multiSelect.css" rel="stylesheet" type="text/css" />
}
<form id="usersearch" method="post" action="/Manage/Users/Index">
	<table class="roundbox" cellspacing="5">
		<tr><td colspan="2">
    		<h2>Users</h2>
			</td></tr>
		<tr><td class="right">Name/Username:</td><td>@Html.TextBox("name")</td></tr>
		<tr><td class="right">Roles:</td><td>@Html.ListBoxFor(x => x.Role, Model.Roles(), new { style = "display: none" })</td></tr>
	    <tr><td class="right" colspan="2">
	            <a id="clear" href="#" class="bt">Clear</a>
	            <a id="search" href="/Manage/Users/Results" class="submitbutton bt blue">Search</a>
	        </td>
	    </tr>
	</table>
@Html.Partial("Results", Model)
</form>
