@using CmsData;
@model CmsData.Person
<!DOCTYPE html>
<html>
<head>
    <title>DialogType</title>
</head>
<body>
    <form action="/Volunteering/CreateCheck/@Model.PeopleId" method="post">
        <table>
            <tr>
                <td align="right" valign="top"><b>Person:</b></td>
                <td valign="top">@Model.Name</td>
            </tr>
            <tr>
                <td align="right" valign="top"><b>Type:</b></td>
                <td valign="top">@Html.DropDownList("sCombo",  new SelectList( ProtectMyMinistryHelper.TYPES ) )</td>
            </tr>
            <tr><td>&nbsp;</td></tr>
            <tr>
                <td colspan="2" align="center"><input type="submit" value="Submit" /> &nbsp;&nbsp; <input type="button" value="Cancel" onclick="closeSubmitDialog();" /></td>
            </tr>
        </table>
    </form>
</body>
</html>
