@using CmsData;
@model CmsData.BackgroundCheck
@{
    var labels = from e in DbUtil.Db.BackgroundCheckLabels
                 orderby e.Name
                 select e;
}
<!DOCTYPE html>
<html>
<head>
    <title>DialogType</title>
</head>
<body>
    <form action="/Volunteering/EditCheck/@Model.Id" method="post">
        <table>
            <tr>
                <td align="right" valign="top"><b>Check For:</b></td>
                <td valign="top">@Model.Person.Name</td>
            </tr>
            <tr>
                <td align="right" valign="top"><b>Label:</b></td>
                <td valign="top">@Html.DropDownList("label",  new SelectList( labels, "ID", "Name", @Model.ReportLabelID ) )</td>
            </tr>
            <tr><td>&nbsp;</td></tr>
            <tr>
                <td colspan="2" align="center"><input type="submit" value="Submit" /> &nbsp;&nbsp; <input type="button" value="Cancel" onclick="closeSubmitDialog();" /></td>
            </tr>
        </table>
    </form>
</body>
</html>