@using CmsData;
@{
    int iID = ViewBag.ID;

    var check = (from e in DbUtil.Db.BackgroundChecks
                 where e.Id == iID
                 select e).First();
}
<!DOCTYPE html>
<html>
<head>
    <title>DialogType</title>
</head>
<body>
    <form action="/Volunteering/DeleteCheck/@iID" method="post">
        <table>
            <tr>
                <td>Are you sure you want to delete the following background check?<br /><br /></td>
            </tr>
            <tr>
                <td class="center"><b>@(check.ServiceCode) for @check.Person.Name</b></td>
            </tr>
            <tr><td>&nbsp;<br /><br /></td></tr>
            <tr>
                <td align="center"><input class="bt" type="submit" value="Yes" /> &nbsp;&nbsp; <input class="bt" id="closeSubmitDialog" type="button" value="No" /></td>
            </tr>
        </table>
    </form>
</body>
</html>