#navcontainer ul
{
margin-left: 0;
padding-left: 0;
list-style-type: none;
font-family: Arial, Helvetica, sans-serif;
}

#navcontainer a
{
display:block;
padding: 3px;
border-bottom: 1px solid #fff;
padding-left: 15px;
}

#navlist a
{
    text-decoration: none;
    color: Black;
    background-color: #D3E0F8;
}

#navlist a:hover
{
    background-color: #699BD8;
    color: #fff;
}
ul#navlist li.active a
{
    text-decoration: none;
    color: #fff;
    background-color: #699BD8;
}
ul#navlist li a:hover, ul#navlist li.active a:hover
{
background-color: #699BD8;
color: #fff;
}
/* main content */

#content 
{
    margin-left: 225px;
    margin-right:20px;
    margin-bottom:20px;
    width: 70%;
}
#main
{
    padding-left: 15px;
    padding-right: 15px;
}
.byline
{
    font-size: 90%;
    margin-bottom: 8px;
}
.commentcount
{
    float: right;
    min-height: 18px;
}
.blogbody
{
    font-weight: normal;
    line-height: 130%;
    margin-bottom: 50px;
}
.title
{
    color: #555;
    font-size:130%;
    margin-top: 4px;
}
hr
{
    height: 1px;
}
.comments
{
    clear: both;
    color: #666;
    font-weight: bold;
    margin-bottom: 5px;
}
.comment
{
    background-color: #F5F5F5;
    margin-bottom: 10px;
    padding: 5px 5px 16px 10px;
    line-height: 140%;
    color: #333;
}
.comment submit
{
    font-weight: bold;
}
.commenter
{
    margin-left: 20px;
}
.comment.owner
{
    background-color: #FFECC7;
}
#links 
{
    width: 200px;
    padding-left: 15px;
    float: left;
}
a.title-link 
{
    color: #555 !important;
    text-decoration: none;
}
blockquote
{
    background: #f5f5f5 none repeat
    color: #333;
    padding: 5px;
}
.posted
{
    color: #000;
    margin-bottom: 15px;
}
.sidetitle
{
    color: #555;
    font-weight: bold;
    letter-spacing: .3em;
    margin-top: 15px;
    padding: 2px;
    text-transform: uppercase;
}
.side
{
    font-size: 90%;
    line-height: 140%;
    padding: 2px;
}