#main {
    font-size: 10px;
}

#person header #snapshot img {
    width: auto;
    height: auto;
}

#nav-tab {
    background: transparent;
    border: none;
}

    #nav-tab .ui-widget-content {
        border: none;
        background: none;
    }

    #nav-tab .ui-widget-header {
        background: transparent;
        border: none;
        border-bottom: 1px solid #c0c0c0;
        -moz-border-radius: 0px;
        -webkit-border-radius: 0px;
        border-radius: 0px;
    }

    #nav-tab .ui-tabs-nav .ui-state-default {
        background: transparent;
        border: none;
    }

    #nav-tab .ui-tabs-nav .ui-state-active {
        /*background: transparent url(img/uiTabsArrow.png) no-repeat bottom center;*/
        border: none;
    }
