body, html {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    background-image: none;
    font-size: 12px;
    color: #222;
}

table, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
}

img {
    border: none;
}
.ui-front {
    z-index: 9999;
}


#topNotice {
}

#container {
    margin-top: .7em;
    margin-left: 4%;
    margin-right: 4%;
}

.header {
    width: 100%;
    font-size: 16px;
}

    .header div,
    .header dl,
    .header dt,
    .header dd,
    .header ul,
    .header ol,
    .header li,
    .header h1,
    .header h2,
    .header h3,
    .header h4,
    .header h5,
    .header h6,
    .header pre,
    .header code,
    .header form,
    .header fieldset,
    .header legend,
    .header input,
    .header textarea,
    .header p,
    .header blockquote,
    .header th,
    .header td {
        margin: 0;
        padding: 0;
        font-size: 100%;
    }

    .header li {
        list-style: none;
    }

    .header table {
        border-collapse: collapse;
        border-spacing: 0;
    }

#urgentNotice {
    background-color: #FF0;
    font-size: 120%;
    padding: .2em 1em .2em 1em;
}

.header a,
.header a:hover,
.header a:visited,
.header a:active {
    color: #555;
    text-decoration: none;
}

.header h1 {
    font-size: 150%;
    font-weight: normal;
}

.header h2 {
    font-size: 80%;
    font-weight: normal;
    color: #666;
}

.header td #userarea {
    font-size: 80%;
    margin-top: 0px;
}

.header #welcome {
    font-size: 110%;
}

    .header #welcome > a {
        color: #7c9c33;
        font-weight: bold;
    }

.header td.left {
    vertical-align: text-top;
}

.header td.center {
    text-align: center;
    vertical-align: middle;
}

.header td.right {
    text-align: right;
    vertical-align: middle;
}

a, a:visited, a:focus {
    text-decoration: none;
    color: #3E553B;
}

    a:hover, a:active {
        text-decoration: underline;
        color: #3E553B;
    }

.grid a, .grid a:visited {
    text-decoration: none;
    color: #3E553B;
}

    .grid a:hover, .grid a:active {
        text-decoration: underline;
        color: #3E553B;
    }

#main {
    margin-top: 8px;
    width: 100%;
}

#mainlayout tr td {
    vertical-align: top;
    height: 100%;
}

#mainlayout {
    width: 100%;
}

#main div.homebox {
    height: 570px;
    width: 30%;
    float: left;
}

.floatleft {
    float: left;
}

.floatclear {
    clear: both;
}

.roundbox {
    border: 1px solid #808183;
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding: 1%;
    margin-bottom: 5px;
    margin-top: 5px;
    background-color: #F8F8F8;
}

    .roundbox.pad10 {
        padding: 10px;
    }

    .roundbox h2 {
        color: #666;
        border-bottom-color: #7c9c33;
        border-bottom-width: 3px;
        border-bottom-style: solid;
        margin-top: .6em;
        margin-bottom: 6px;
        font-size: 160%;
    }

    .roundbox h3 {
        font-size: 120%;
        font-weight: bold;
        margin-top: .3em;
        border-bottom: 1px solid #ccc;
        color: #666;
    }

    .roundbox p {
        font-size: 90%;
    }

#ConditionGrid {
    font-size: 120%;
    list-style-type: none;
    margin-bottom: 0;
    margin-left: 0;
    margin-top: 0;
    padding-left: 0;
}

#ConditionText {
    font-size: 140%;
}

#main tr.ConditionTitle {
    font-size: 120%;
}

#ConfigCondition tbody .QBConditionTitle td {
    font-size: 130%;
}

#CommonFooter {
    clear: both;
    margin: 40px 0 0 0;
    padding: 24px 0 24px 0;
    width: 100%;
    overflow: hidden;
    text-align: center;
    font-size: 85%;
    font-weight: bold;
    color: #aaa;
}

div.drow {
    padding-top: 3px;
    padding-bottom: 3px;
}

    div.drow.isnew0 a {
        color: #BE3D00;
        font-weight: bold;
    }

    div.drow.isnew1 a {
        color: #b74700;
        font-weight: bold;
    }

    div.drow.isnew2 a {
        color: #b05200;
        font-weight: bold;
    }

    div.drow.isnew3 a {
        color: #a85c00;
        font-weight: bold;
    }

    div.drow.isnew4 a {
        color: #a16700;
        font-weight: bold;
    }

    div.drow.isnew5 a {
        color: #997100;
        font-weight: bold;
    }

    div.drow.isnew6 a {
        color: #927c00;
        font-weight: bold;
    }

    div.drow.isnew7 a {
        color: #8a8700;
        font-weight: bold;
    }

.alt:not(.section) {
    background-color: #EEE;
}

#QueryConditionSelect {
    display: none;
    width: 750px;
    height: 575px;
    background: #FFF;
    font-size: 80%;
}

    #QueryConditionSelect div.FieldLink {
        margin-top: .2em;
    }

        #QueryConditionSelect div.FieldLink a {
            color: #336699;
            font-size: 180%;
        }

    #QueryConditionSelect div.moreinfo {
        margin-left: 3em;
        font-color: #999;
        font-size: 110%;
        font-style: italic;
    }

.QBConditionTitle {
    background-color: #a9cfe2;
    border: solid 1px Gray;
    color: Black;
    font-size: 130%;
}

.jspVerticalBar .jspCap {
    height: 20px;
}

.jspCap {
    display: block;
    background: #eeeef4;
}

.jscroll {
    height: 10em;
    overflow: auto;
    width: 100%;
}

table.aspgrid tr td,
table.aspgrid tr th {
    padding: 4px;
}

.displayedit.edit {
    position: absolute;
    right: 0px;
    margin-right: 22px;
}

#main-tab {
    z-index: 500!important;
}

#SearchText {
    background-image: url('/images/magnifier.png');
    background-repeat: no-repeat;
    background-position: top left;
    padding-left: 1.5em;
    height: 1.5em;
    font-size: 110%;
    border-style: solid;
    border-width: 1px;
    border-color: #999;
    width: 10em;
    margin-top: 7px;
}

.field-validation-error {
    color: #FF0000;
}

.input-validation-error {
    background-color: #FFEEEE;
    border: 1px solid #FF0000;
}

.validation-summary-errors {
    color: #FF0000;
    font-weight: bold;
}
/*
div.roundbox select {
	min-width: 20em;
	margin-right:1em;
}*/
.center {
    margin-left: auto;
    margin-right: auto;
}

.error, .red {
    color: red;
}
.white {
    color: white;
}
.blue {
    color: blue;
}

.disabled {
    color: #999 !important;
}

.selectbox.fixed_width .display {
    width: 73px;
    padding: 0 24px 0 3px; /* remember padding contributes to the overall width. padding-right is large enough here for the arrow graphic. */
}

.selectbox.fixed_width.items {
    width: 100px; /* width of display text plus the padding (73 + 27) = 100, so they line up */
}

a.helplink /* for dialog boxes */ {
    position: absolute;
    top: 15px;
    right: 20px;
}

table.grid {
    border-collapse: collapse;
    text-align: left;
}

    table.grid thead {
        border-bottom: 2px solid #555;
        font-weight: bold;
        color: #555;
    }

        table.grid thead th, table.grid thead td {
            padding-left: 5px;
            padding-right: 5px;
        }

    table.grid td {
        padding: 5px;
    }

a.sz1.bt {
    font-size: .85em;
}

.section {
    font-size: 110%;
    color: #888;
    font-style: italic;
    border-bottom: #888 1px solid;
}

.indent {
    padding-left: 10px !important;
}

.text-label {
    color: #cdcdcd;
    font-weight: bold;
}

#selectquestions {
    display: none;
    border: 1px dashed gray;
    line-height: 24px;
    overflow: auto;
}

    #selectquestions ul {
        float: left;
        margin: 0 2em 0 0;
        padding: 0 0 5px 0;
    }

    #selectquestions span {
        text-decoration: line-through;
        color: #555;
    }


.blue.ui-state-default {
    color: #ffffff;
    background-color: #0064cd;
    background-repeat: repeat-x;
    background-image: -khtml-gradient(linear, left top, left bottom, from(#049cdb), to(#0064cd));
    background-image: -moz-linear-gradient(top, #049cdb, #0064cd);
    background-image: -ms-linear-gradient(top, #049cdb, #0064cd);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #049cdb), color-stop(100%, #0064cd));
    background-image: -webkit-linear-gradient(top, #049cdb, #0064cd);
    background-image: -o-linear-gradient(top, #049cdb, #0064cd);
    background-image: linear-gradient(top, #049cdb, #0064cd);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#049cdb', endColorstr='#0064cd', GradientType=0);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    border-color: #0064cd #0064cd #003f81;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

.blue.ui-state-hover {
    color: #ffffff;
    background-position: 0 -15px;
    text-decoration: none;
}

.green.ui-state-default {
    color: #ffffff;
    background-color: #7c9c33;
    background-repeat: repeat-x;
    background-image: -khtml-gradient(linear, left top, left bottom, from(#96bd3e), to(#7c9c33));
    background-image: -moz-linear-gradient(top, #96bd3e, #7c9c33);
    background-image: -ms-linear-gradient(top, #96bd3e, #7c9c33);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #96bd3e), color-stop(100%, #7c9c33));
    background-image: -webkit-linear-gradient(top, #96bd3e, #7c9c33);
    background-image: -o-linear-gradient(top, #96bd3e, #7c9c33);
    background-image: linear-gradient(top, #96bd3e, #7c9c33);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7c9c33', endColorstr='#96bd3e', GradientType=0);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    border-color: #7c9c33 #7c9c33 #96bd3e;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

.green.ui-state-hover {
    color: #ffffff;
    background-position: 0 -15px;
    text-decoration: none;
}

div.toolbar > ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

    div.toolbar > ul > li {
        display: inline;
        text-align: left;
    }

        div.toolbar > ul > li > a {
            text-decoration: none;
            border-width: 1px;
            padding: .4em .5em;
            white-space: nowrap;
            line-height: 1.8em;
            color: #ffffff;
            background-color: #7c9c33;
            background-repeat: repeat-x;
            background-image: -khtml-gradient(linear, left top, left bottom, from(#96bd3e), to(#7c9c33));
            background-image: -moz-linear-gradient(top, #96bd3e, #7c9c33);
            background-image: -ms-linear-gradient(top, #96bd3e, #7c9c33);
            background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #96bd3e), color-stop(100%, #7c9c33));
            background-image: -webkit-linear-gradient(top, #96bd3e, #7c9c33);
            background-image: -o-linear-gradient(top, #96bd3e, #7c9c33);
            background-image: linear-gradient(top, #96bd3e, #7c9c33);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7c9c33', endColorstr='#96bd3e', GradientType=0);
            text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
            border-color: #7c9c33 #7c9c33 #96bd3e;
            border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
        }

            div.toolbar > ul > li > a:hover {
                background-position: 0 -15px;
            }

#vtab {
    margin: auto;
    width: 800px;
    height: 100%;
}

    #vtab > ul > li {
        width: 110px;
        height: 110px;
        background-color: #fff !important;
        list-style-type: none;
        display: block;
        text-align: center;
        margin: auto;
        padding-bottom: 10px;
        border: 1px solid #fff;
        position: relative;
        border-right: none;
        opacity: .3;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
        filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
    }

        #vtab > ul > li.home {
        }

        #vtab > ul > li.login {
        }

        #vtab > ul > li.support {
        }

        #vtab > ul > li.selected {
            opacity: 1;
            -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
            filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
            border: 1px solid #ddd;
            border-right: none;
            z-index: 10;
            background-color: #fafafa !important;
            position: relative;
        }

    #vtab > ul {
        float: left;
        width: 110px;
        text-align: left;
        display: block;
        margin: auto 0;
        padding: 0;
        position: relative;
        top: 30px;
    }

    #vtab > div {
        background-color: #fafafa;
        margin-left: 110px;
        border: 1px solid #ddd;
        min-height: 500px;
        padding: 12px;
        position: relative;
        z-index: 9;
        -moz-border-radius: 20px;
    }

        #vtab > div > h4 {
            color: #800;
            font-size: 1.2em;
            border-bottom: 1px dotted #800;
            padding-top: 5px;
            margin-top: 0;
        }
input.wide
{
    border: 1px solid #CCCCCC;
    width: 100%;
}
input.short 
{
    border: 1px solid #CCCCCC;
    width: 6em;
}
input.shorter 
{
    border: 1px solid #CCCCCC;
    width: 2em;
}
input.wide70
{
    border: 1px solid #CCCCCC;
    width: 70%;
}
input {
    border: 1px solid #CCCCCC;
}
select {
    border: 1px solid #CCCCCC;
}
#nametable td {
    padding-right: 4px;
}
td.right {
    text-align: right;
}
div.formerror {
    color: red;
}
.table-striped tbody > tr:nth-child(odd) > td,
.table-striped tbody > tr:nth-child(odd) > th {
    background-color: #eee;
}
td.right, th.right {
    text-align: right;
}
td.left, th.left {
    text-align: left;
}
td.center, th.center {
    text-align: center;
}
td.nowrap, th.nowrap
{
    white-space: nowrap;
}
td.top, th.top
{
    vertical-align: top;
}
td.middle, th.middle
{
    vertical-align: middle;
}
td.bottom, th.bottom
{
    vertical-align: bottom;
}
table.center {
    margin-left: auto;
    margin-right: auto;
}