@using CmsData;
@using CmsData.Classes.QuickBooks
@using CmsWeb.Models;
@using UtilityExtensions;
@{
	Layout = "/Views/Shared/SiteLayout.cshtml";
	ViewBag.Title = "QuickBooks Connect/Disconnect";
    var qbh = new QuickBooksHelper(Request);
    Bundles.AddInlineScript(
        @<script type="text/javascript" src="https://appcenter.intuit.com/Content/IA/intuit.ipp.anywhere.js"></script>
        );
    Bundles.AddInlineScript(
        @<script> intuit.ipp.anywhere.setup({ menuProxy: '@qbh.getBaseURL()/QuickBooks/BlueDotMenu', grantUrl: '@qbh.getBaseURL()/QuickBooks/RequestOAuthToken' }); </script>
        );
}
<center>
<br />
@if (qbh.hasActiveConnection())
{
	<b>You are currrently connected to QuickBooks.</b>
	<br />
	<br />
	<a href="/QuickBooks/Disconnect">Disconnect From QuickBooks</a>
}
else
{
	<ipp:connectToIntuit></ipp:connectToIntuit>
}

</center>