
/*
body, html {
    height: 100%;
}

body {
    font-family: @sansFontFamily;
    background: @grayLighter;
}

.wrap {
width: 1200px;
margin: 0 auto;
}

#top_nav {
    background: #333;
    color: #fff;
    font-size: 13px;
    ul {
        li {
            float: left;
            padding: 8px 20px;
        }
        li:after {
            content: url('../img/headernav_arrow.png') no-repeat right 50%;
            padding-left: 5px;
        }
        li:hover {
            background: #222;
        }
        li#top_nav_home {
            padding: 8px 15px;
            background: url(../img/headernav_home.png) no-repeat center center;
        }
        li#top_nav_home:after {
            content: none;
        }
        li#top_nav_home:hover {
            background: #222 url(../img/headernav_home.png) no-repeat center center;
        }
    }
}

header {
    background: #e4e1d5;
    padding: 20px 0;
    h1 {
        float: left;
        background: url('../img/header_logo.png') no-repeat left 50%;
        height: 39px;
        max-width: 300px;
    }
    #header_user {
        float: right;
        max-width: 600px;
        form {
            float: left;
            input {
                float: left;
            }
            #header_search {
                border: 1px solid #bdbdbd;
                height: 35px;
                width: 300px;
                padding: 0 56px 0 20px;
            }
            #header_search:active, #header_search:focus {
                outline: none;
            }
            #header_submit {
                background: url('../img/header_search.png') no-repeat right 50%;
                border: none;
                z-index: 3;
                margin: 8px 0 0 -60px;
                cursor: pointer;
            }
        }
        #header_profile {
            float: left;
            background: #fff url('../img/header_profile.png') no-repeat left 50%;
            border: 1px solid #bdbdbd;
            width: 210px;
            height: 35px;
            padding: 0 20px 0 67px;
            margin-left: 20px;
            li {
                padding-top: 5px;
                a {
                    display: block;
                    background: url('../img/header_arrow.png') no-repeat right 50%;
                }
            }
        }
    }
}

#main_content {
    margin-top: 40px;
    #sidebar {
        float: left;
        background: #e8e8e8;
        width: 280px;
        height: 100%;
        min-height: 100%;
        .sidebar_title {
            background: #c8c8c8;
            padding: 8px 20px;
            h2 {
                float: left;
                max-width: 180px;
                color: #404040;
                font-size: 14px;
                font-weight: 600;
            }
            a {
                float: right;
                display: block;
                width: 16px;
                height: 16px;
                margin-top: 2px;
            }
        }
        .sidebar_nav {
            padding: 20px 0;
        }
        #sidebar_family {
            li {
                margin-bottom: 5px;
                img {
                    float: left;
                    margin: 0 20px;
                }
                p {
                    float: left;
                    font-size: 14px;
                    color: #3f3f3f;
                    margin-top: 6px;
                }
            }
            li.sidebar_selected {
                background: #fdfdfd;
                p {
                    color: #404040;
                    font-weight: bold;
                }
            }
        }
        #sidebar_home {
            li {
                margin-bottom: 20px;
                p {
                    float: left;
                    max-width: 180px;
                    font-size: 12px;
                    margin-left: 20px;
                }
                a {
                    float: right;
                    margin-right: 20px;
                    margin-top: 7px;
                }
            }
            li.sidebar_address {
                p {
                    background: url('../img/sidebar_map.png') no-repeat left 50%;
                    padding-left: 36px;
                }
            }
            li.sidebar_phone {
                p {
                    background: url('../img/sidebar_phone.png') no-repeat left 50%;
                    padding-left: 36px;
                }
                a {
                    margin-top: 0;
                }
            }
            li:last-child {
                margin-bottom: 0;
            }
        }
        #sidebar_related {
            li {
                margin-bottom: 20px;
                p {
                    float: left;
                    max-width: 180px;
                    font-size: 12px;
                    margin-left: 20px;
                    font-weight: 700;
                }
                span {
                    display: block;
                    font-weight: 400;
                    text-transform: uppercase;
                    color: #666666;
                }
                a {
                    float: right;
                    margin-right: 20px;
                    margin-top: 5px;
                }
            }
            li:last-child {
                margin-bottom: 0;
            }
        }
    }
    #content {
        float: left;
        margin-left: 50px;
        width: 870px;
        #profile_header {
            #profile_personal {
                float: left;
                max-width: 295px;
                img {
                    float: left;
                    margin-right: 20px;
                }
                h1 {
                    float: left;
                    color: #1e1e1e;
                    font-size: 24px;
                }
                p {
                    float: left;
                }
                p#personal_title {
                    color: #3f3f3f;
                    font-size: 14px;
                    margin-top: -5px;
                    margin-bottom: 10px;
                }
                p.personal_meta {
                    font-weight: 700;
                    color: #3f3f3f;
                    font-size: 12px;
                    span {
                        font-weight: 400;
                    }
                }
            }
            #profile_options {
                float: right;
                max-width: 190px;
                #options_edited {
                    text-align: right;
                    color: #797979;
                    font-size: 12px;
                    margin-bottom: 10px;
                }
                div {
                    background-color: #33852d;
                    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#47b13e), to(#33852d));
                    background-image: -webkit-linear-gradient(top, #47b13e, #33852d);
                    background-image: -moz-linear-gradient(top, #47b13e, #33852d);
                    background-image: -ms-linear-gradient(top, #47b13e, #33852d);
                    background-image: -o-linear-gradient(top, #47b13e, #33852d);
                    border-radius: 5px;
                    border: 1px solid #33852d;
                    height: 35px;
                    a {
                        display: block;
                        float: left;
                        padding: 8px 6px 0 6px;
                    }
                    #options_email {
                        background: url('../img/profile_email.png') no-repeat 50% 50%;
                        border-right: 1px solid #2c6f27;
                        min-width: 44px;
                    }
                    #options_export {
                        background: url('../img/profile_export.png') no-repeat 50% 50%;
                        border-right: 1px solid #2c6f27;
                        min-width: 40px;
                    }
                    #options_edit {
                        background: url('../img/profile_edit.png') no-repeat 50% 50%;
                        min-width: 60px;
                    }
                }
            }
        }
        #contact_prefs {
            margin: 20px 0;
            p {
                display: inline;
                background: #b52010;
                color: #f1f1f1;
                font-size: 12px;
                text-transform: uppercase;
                border-radius: 3px;
                padding: 3px 7px;
                font-weight: 300;
            }
        }
        #profile_tabs {
            background-color: #e5e5e5;
            background-image: url(images/fallback-gradient.png);
            background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fafafa), to(#e5e5e5));
            background-image: -webkit-linear-gradient(top, #fafafa, #e5e5e5);
            background-image: -moz-linear-gradient(top, #fafafa, #e5e5e5);
            background-image: -ms-linear-gradient(top, #fafafa, #e5e5e5);
            background-image: -o-linear-gradient(top, #fafafa, #e5e5e5);
            border: 1px solid #b9b9b9;
            li {
                display: inline;
                text-align: center;
                font-size: 14px;
                color: #1e1e1e;
                border-right: 1px solid #b9b9b9;
                padding: 12px 0;
                a {
                    padding: 10px 38px;
                    display: inline-block;
                }
            }
            li:last-child {
                border-right: none;
            }
            li.tabs_selected {
                background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#e1e1e1), to(#cecece));
                background-image: -webkit-linear-gradient(top, #e1e1e1, #cecece);
                background-image: -moz-linear-gradient(top, #e1e1e1, #cecece);
                background-image: -ms-linear-gradient(top, #e1e1e1, #cecece);
                background-image: -o-linear-gradient(top, #e1e1e1, #cecece);
            }
        }
        #tab_personal {
            form {
                section {
                    padding: 50px 0;
                    border-bottom: 1px solid #989898;
                    ul {
                        li {
                            margin-bottom: 7px;
                            margin-right: 40px;
                            float: left;
                            width: 330px;
                            label {
                                color: #5c5c5c;
                                font-size: 10px;
                                font-weight: 700;
                                text-transform: uppercase;
                                float: left;
                                text-align: right;
                                width: 90px;
                                margin-right: 10px;
                                margin-top: 12px;
                            }
                            .label_radio {
                                float: none;
                                text-transform: none;
                                font-size: 14px;
                                font-weight: 400;
                            }
                            input {
                                width: 225px;
                                border: 1px solid #ababab;
                                border-radius: 2px;
                                padding: 10px;
                            }
                            input:active, input:focus {
                                outline: 2px solid #41a339;
                            }
                            input.personal_radio {
                                width: auto;
                            }
                        }
                        li#personal_prefs {
                            float: left;
                            width: 100%;
                            margin-bottom: 20px;
                            label:first-child {
                                width: auto;
                            }
                            input {
                                float: left;
                                width: auto;
                                margin-top: 8px;
                            }
                            label.label_radio {
                                float: left;
                                margin: 4px 20px 0 4px;
                                width: auto;
                            }
                        }
                    }
                }
                #personal_save {
                    float: right;
                    border-bottom: none;
                    width: 100%;
                }
            }
        }
    }
}

.button_cancel {
    a {
        background-color: #e5e5e5;
        background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fafafa), to(#e5e5e5));
        background-image: -webkit-linear-gradient(top, #fafafa, #e5e5e5);
        background-image: -moz-linear-gradient(top, #fafafa, #e5e5e5);
        background-image: -ms-linear-gradient(top, #fafafa, #e5e5e5);
        background-image: -o-linear-gradient(top, #fafafa, #e5e5e5);
        border: 1px solid #b9b9b9;
        border-radius: 5px;
        padding: 5px 10px;
        float: right;
        display: block;
        font-size: 14px;
    }
}

.button_save {
    a {
        background-color: #33852d;
        background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#47b13e), to(#33852d));
        background-image: -webkit-linear-gradient(top, #47b13e, #33852d);
        background-image: -moz-linear-gradient(top, #47b13e, #33852d);
        background-image: -ms-linear-gradient(top, #47b13e, #33852d);
        background-image: -o-linear-gradient(top, #47b13e, #33852d);
        border-radius: 5px;
        border: 1px solid #33852d;
        padding: 5px 10px;
        float: right;
        display: block;
        margin-left: 10px;
        color: #fff;
        font-size: 14px;
        text-shadow: 0 1px 1px rgba(0, 0, 0, .7);
    }
}

footer {
    margin: 40px 0;
    p {
        float: left;
        margin-top: 25px;
        font-size: 12px;
        color: #313131;
        margin-right: 15px;
    }
    p:first-child {
        font-weight: 700;
    }
    p#footer_copy {
        float: right;
        margin-top: 0;
        margin-right: 0;
        a {
            background: url('../img/footer_powered.png') no-repeat left 50%;
            width: 202px;
            height: 48px;
            display: block;
        }
    }
}*/