div.navbar > a {
    text-decoration: none;
}

div.navbar > ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    width: 100%;
    text-align: center;
    display: table;
}

    div.navbar > ul > li {
        text-align: left;
        display: table-cell;
    }

        div.navbar > ul > li > a {
            text-decoration: none;
            padding: .2em .4em;
            white-space: nowrap;
        }

a.trigger-dropdown,
a.trigger-dropdown:hover {
    text-decoration: none;
}


.dropdown-menu {
    font: 14px sans-serif;
    position: absolute;
    z-index: 9999999;
    display: none;
}

    .dropdown-menu UL {
        min-width: 160px;
        list-style: none;
        background: #FFF;
        border: solid 1px #DDD;
        border: solid 1px rgba(0, 0, 0, .2);
        border-radius: 6px;
        box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
        overflow: visible;
        padding: 4px 0;
        margin: 0;
    }

    .dropdown-menu.has-tip {
        margin-top: 8px;
    }

        .dropdown-menu.has-tip:before {
            position: absolute;
            top: -6px;
            left: 9px;
            content: '';
            border-left: 7px solid transparent;
            border-right: 7px solid transparent;
            border-bottom: 7px solid #CCC;
            border-bottom-color: rgba(0, 0, 0, 0.2);
            display: inline-block;
        }

        .dropdown-menu.has-tip.anchor-right:before {
            left: auto;
            right: 9px;
        }

        .dropdown-menu.has-tip:after {
            position: absolute;
            top: -5px;
            left: 10px;
            content: '';
            border-left: 6px solid transparent;
            border-right: 6px solid transparent;
            border-bottom: 6px solid #FFF;
            display: inline-block;
        }

        .dropdown-menu.has-tip.anchor-right:after {
            left: auto;
            right: 10px;
        }


    .dropdown-menu.has-scroll UL {
        max-height: 358px;
        overflow: auto;
    }

    .dropdown-menu li.header {
        margin-top: 9px;
        display: block;
        padding: 3px 15px;
        font-size: 11px;
        font-weight: bold;
        line-height: 20px;
        color: #999999;
        text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
        text-transform: uppercase;
    }

    .dropdown-menu li {
        list-style: none;
        padding: 0;
        margin: 0;
        line-height: 18px;
    }

        .dropdown-menu li > a {
            display: block;
            color: #555;
            text-decoration: none;
            line-height: 18px;
            padding: 3px 15px;
            white-space: nowrap;
        }

            .dropdown-menu li > a:hover {
                background-color: #08C;
                color: #FFF;
                cursor: pointer;
            }

    .dropdown-menu li.divider {
        height: 1px;
        background: #E5E5E5;
        margin: 5px 1px;
        overflow: hidden;
    }
