
/* Dave: I am adding these so there won't be so much head room
    todo: test remove this*/
#personal {
    margin-top: -2.4em;
}
#fieldset1 {
    margin-top: -3.5em;
}
#people {
    margin-bottom: 0;
}
#people .pagination {
    margin: 0;
    margin-top: .2em;
}