.section span {
    font-style: italic;
    font-size: 110%;
}

table.enrollments div.indent {
    padding-left: 2em;
}

table.enrollments a[rel="reveal"] {
    text-decoration: none;
}

table.enrollments tr.details td {
    border-top: none;
    padding: 0;
}

    table.enrollments tr.details td:first-child {
        padding-left: 1em;
    }

/* Dave: I am using this to do my own table striping in this special case 
    todo: test remove this*/
table.enrollments tr.oddrow > td {
    background-color: #f9f9f9;
}

/* Dave: I am adding these so there won't be so much head room
    todo: test remove this*/
#personal {
    margin-top: -2.4em;
}
#fieldset1 {
    margin-top: -3.5em;
}