.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 2.5em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#sidebar {
  height: 100%;
  min-height: 100%;
}
#sidebar ul {
  margin: 0;
}
#sidebar > ul > li {
  min-height: 39px;
}
#sidebar > ul > li.warning {
  color: #900;
}
#sidebar > ul > li p {
  padding: 8px 0;
  margin: 0;
}
#sidebar .sidebar_title {
  padding: 4px 0;
  border-bottom: 2px solid #DDD;
}
#sidebar .sidebar_title h2 {
  display: inline-block;
  max-width: 180px;
  color: #404040;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: normal;
  line-height: 14px;
  font-weight: 600;
}
#sidebar .sidebar_title .dropdown {
  float: right;
  margin-top: 6px;
}
#sidebar .sidebar_title .dropdown a.dropdown-toggle {
  font-size: 18px;
  color: #555555;
  text-decoration: none;
}
#sidebar .sidebar_content {
  background: #ededed;
}
#sidebar #contact {
  margin-bottom: 10px;
}
#sidebar #contact .nav-tabs {
  border-bottom-width: 0;
}
#sidebar #contact .nav-tabs li a {
  border-width: 0;
}
#sidebar #contact .nav-tabs li.active a {
  background: #EEE;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
#sidebar #contact .tab-content {
  margin: 0;
  background: #EFEFEF;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  padding: 6px 10px;
  text-align: left;
  overflow: visible;
}
#sidebar #contact .tab-content .tab-pane {
  position: relative;
  padding-left: 50px;
}
#sidebar #contact .tab-content h3 {
  font-size: 10px;
  text-transform: uppercase;
  font-weight: 400;
  margin: 0;
  line-height: 1;
  padding-top: 0.5em;
  color: #444;
}
#sidebar #contact .tab-content p {
  font-size: 12px;
  color: #222;
  margin: 0;
  font-weight: bold;
  line-height: 1.6;
  padding-top: 4px;
}
#sidebar #contact .tab-content .btn-group {
  position: absolute;
  left: 0;
  top: 4px;
}
#sidebar #contact .tab-content .btn-group .dropdown-toggle {
  padding: 4px 8px;
  color: #111;
  font-size: 14px;
}
#sidebar #contact .tab-content .btn-group .dropdown-toggle i {
  font-size: 14px;
}
#sidebar #family_members {
  border-left: 0;
  border-right: 0;
}
#sidebar #family_members li {
  clear: left;
  border-bottom: 1px solid #FFF;
}
#sidebar #family_members li.active a,
#sidebar #family_members li.active a:hover {
  background-color: #FFF;
  border-left: 2px solid #45A5F4;
}
#sidebar #family_members li a {
  color: #111;
  border: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  line-height: 1.2;
  overflow: display;
  padding-left: 10px;
  padding-right: 10px;
  min-height: 50px;
}
#sidebar #family_members li a img.headshot {
  width: 38px;
  float: left;
  margin-right: 10px;
}
#sidebar #family_members li a:hover {
  background-color: #E4EFF7;
}
#sidebar #family_members li .name {
  font-weight: 600;
  line-height: 1.2;
}
#sidebar #family_members li .meta {
  text-transform: uppercase;
  font-size: 80%;
  padding: 3px 0;
}
#sidebar #family_members li .email {
  font-size: 80%;
}
#sidebar #family_members li .badge {
  float: right;
}
#sidebar #family_members li .email {
  display: block;
}
#sidebar .sidebar_nav {
  padding: 20px 0;
}
#sidebar #sidebar_family li.sidebar_selected {
  background: #fdfdfd;
}
#sidebar #sidebar_family li.sidebar_selected p {
  color: #404040;
  font-weight: bold;
}
#sidebar #family_home > li p {
  max-width: 190px;
  font-size: 12px;
}
#sidebar #family_home li.address,
#sidebar #family_home li.phone {
  position: relative;
  padding-left: 65px;
}
#sidebar #family_home li.address span.street,
#sidebar #family_home li.phone span.street {
  display: block;
}
#sidebar #family_home li.address a.edit,
#sidebar #family_home li.phone a.edit {
  top: 0;
  position: absolute;
  right: 18px;
  text-decoration: none;
  color: #999;
}
#sidebar #family_home li.address div.btn-group,
#sidebar #family_home li.phone div.btn-group,
#sidebar #family_home li.address > i,
#sidebar #family_home li.phone > i {
  position: absolute;
  left: 10px;
  top: 8px;
}
#sidebar #family_home li.address > i,
#sidebar #family_home li.phone > i {
  top: 15px;
}
#sidebar #family_home li.address div.btn-group a.map,
#sidebar #family_home li.phone div.btn-group a.map,
#sidebar #family_home li.address div.btn-group a.phone,
#sidebar #family_home li.phone div.btn-group a.phone {
  display: block;
  text-decoration: none;
  width: 30px;
  height: 24px;
  background: url(../img/icon-map.png) center center no-repeat;
}
#sidebar #family_home li.address div.btn-group a.phone,
#sidebar #family_home li.phone div.btn-group a.phone {
  background-image: url(../img/icon-phone.png);
  background-position: top center;
}
#sidebar #family_home li.address > i,
#sidebar #family_home li.phone > i {
  left: 18px;
}
#sidebar #family_home li.address img,
#sidebar #family_home li.phone img {
  position: absolute;
  top: 15;
  right: 0;
}
#sidebar #family_home li.phone p {
  padding-top: 14px;
}
#sidebar #family_home li:last-child {
  margin-bottom: 0;
}
#sidebar #family_related > li {
  padding: 10px;
  position: relative;
  font-size: 90%;
  border-bottom: 1px solid #FFF;
}
#sidebar #family_related > li div.btn-group {
  top: 8px;
  position: absolute;
  left: 10px;
}
#sidebar #family_related > li span.summary {
  display: block;
  font-weight: 400;
  color: #888;
}
#sidebar #family_related li:last-child {
  margin-bottom: 0;
}
/* FORMS
----------------------------------*/
.form-actions {
  text-align: right;
  /* Align buttons to right */

  border-top: 0;
}
.form-columns .control-group {
  float: left;
  width: 48.93617021276595%;
  *width: 48.88297872340425%;
}
.form-columns .control-group.span12 {
  width: 100%;
}
.form-columns .control-group .controls {
  float: left;
  width: 65.95744680851064%;
  *width: 65.90425531914893%;
  margin-left: 2.127659574468085%;
}
.form-columns .control-group .control-label {
  float: left;
  white-space: nowrap;
  width: 23.404255319148934%;
  *width: 23.351063829787233%;
}
.display .control-group {
  margin-bottom: 0.5em;
}
.display .control-group .controls p {
  padding-top: 9px;
  line-height: 1.2;
}
.control-label {
  color: #555555;
  font-size: 10px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 24px;
}
.form-horizontal .controls p {
  margin: 0;
  line-height: 34px;
}
fieldset {
  padding: 20px 0;
  border-bottom: 1px solid #CCC;
}
/* TEXTCOMBO not currently in use
fieldset .control-group .textcombo {

    border: 1px solid #ccc;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    outline: none;
    font-size: 1.2em;
    padding: 2px 0 2px 6px;
    input.text {
        border: 0;
        padding: 0;
        outline: none;
        box-shadow: none;
        width: 89%;
    }
    input.checkbox {
        margin-top: -2px;
        margin-right: 6px;
    }
}
*/
.control-group .addon span {
  font-size: 80%;
}
.control-group {
  margin-bottom: auto;
}
.form-horizontal .control-group {
  margin-bottom: auto;
}
/*.form-horizontal.onecol .control-group {
    float: none;
    width: auto;
    *width: auto;
    margin-bottom: 1em;
}*/
.footer {
  margin-bottom: 50px;
  font-size: 12px;
  border-top: 4px solid #EEE;
  padding-top: 10px;
}
.footer ul li {
  margin-right: 20px;
  display: inline;
}
.form-actions {
  padding: 20px 0;
}
/* Person 
----------------------------------*/
#profile-header {
  padding: 10px 5px 5px 112px;
  height: 165px;
  position: relative;
  border-top: 5px solid #45A5F4;
  box-sizing: border-box;
}
#profile-header h2 {
  margin-top: 0;
  line-height: 1;
  padding-bottom: 8px;
  margin-bottom: 8px;
  font-weight: 300;
  border-bottom: 1px solid #DDD;
}
#profile-header .portrait {
  position: absolute;
  left: 0;
  top: 10px;
  width: 90px;
  height: 120px;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center top;
}
#profile-header .edit {
  color: #CCC;
}
#profile-header li.badges {
  padding-top: 6px;
}
#profile-header li.badges span.label {
  font-weight: 300;
  padding-left: 8px;
  padding-right: 8px;
}
#profile-header .muted {
  margin: 0;
}
#profile-header .record_added {
  position: absolute;
  right: 5px;
  bottom: 10px;
}
#contact-phone-primary {
  font-size: 12px;
  margin-top: 4px;
}
#profile-actions {
  text-align: right;
}
#profile-actions .dropdown-toggle {
  color: white;
  text-decoration: none;
}
#profile-actions .btn-group {
  margin-top: -10px;
}
#profile-actions .btn-group button:first-child {
  border-top-left-radius: 0;
}
#profile-actions .btn-group .dropdown:last-child {
  border-top-right-radius: 0;
}
#profile-actions .btn-group .btn {
  padding: 10px 20px;
}
#profile-actions .btn-group .btn i {
  font-size: 18px;
}
#profile-actions .btn-group .dropdown-menu {
  margin-left: -105px;
  text-align: left;
}
#profile_tabs {
  background-color: #e5e5e5;
  background-image: url(images/fallback-gradient.png);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fafafa), to(#e5e5e5));
  background-image: -webkit-linear-gradient(top, #fafafa, #e5e5e5);
  background-image: -moz-linear-gradient(top, #fafafa, #e5e5e5);
  background-image: -ms-linear-gradient(top, #fafafa, #e5e5e5);
  background-image: -o-linear-gradient(top, #fafafa, #e5e5e5);
  border: 1px solid #b9b9b9;
}
#profile_tabs li {
  display: inline;
  text-align: center;
  font-size: 14px;
  color: #1e1e1e;
  border-right: 1px solid #b9b9b9;
  padding: 12px 0;
}
#profile_tabs li.tabs_selected {
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#e1e1e1), to(#cecece));
  background-image: -webkit-linear-gradient(top, #e1e1e1, #cecece);
  background-image: -moz-linear-gradient(top, #e1e1e1, #cecece);
  background-image: -ms-linear-gradient(top, #e1e1e1, #cecece);
  background-image: -o-linear-gradient(top, #e1e1e1, #cecece);
}
#profile_tabs li a {
  padding: 10px 38px;
  display: inline-block;
}
tr.section td,
tr.section:hover td,
tr.section:focus td {
  background-color: #999;
}
tr.section td a,
tr.section:hover td a,
tr.section:focus td a {
  text-transform: uppercase;
  font-size: 90%;
}
tr.section td a,
tr.section:hover td a,
tr.section:focus td a,
tr.section td [class*=icon-],
tr.section:hover td [class*=icon-],
tr.section:focus td [class*=icon-] {
  color: #FFF;
}
#personal {
  margin-top: -2.4em;
}
#fieldset1 {
  margin-top: -3.5em;
}
.icon_margin {
  padding-top: 5px;
}
/* TABLES
---------------------------------*/
thead {
  border-bottom: 2px solid #CCC;
}
thead tr {
  padding-bottom: 5px;
}
thead th {
  font-size: 90%;
  padding-bottom: 5px;
}
thead th a {
  color: inherit;
}
thead th [class*=icon-] {
  color: #999;
}
tbody td {
  color: #222;
}
tbody td a {
  color: #212844;
}
tbody td [class*=icon-] {
  color: #999;
}
tbody tr:hover td {
  background-color: #ECE;
}
td.right,
th.right {
  text-align: right;
}
td.noborder,
th.noborder {
  border: none!important;
}
td.left,
th.left {
  text-align: left;
}
td.center,
th.center {
  text-align: center;
}
table.expanding div.indent {
  padding-left: 2em;
}
table.expanding a[rel="reveal"] {
  text-decoration: none;
}
table.expanding tr.details td {
  border-top: none;
  padding: 0;
}
table.enrollments tr.details td:first-child {
  padding-left: 1em;
}
table.expanding tr.oddrow > td {
  background-color: #f9f9f9;
}
table.enrollments div.indent {
  padding-left: 2em;
}
table.enrollments a[rel="reveal"] {
  text-decoration: none;
}
table.enrollments tr.details td {
  border-top: none;
  padding: 0;
}
table.enrollments tr.details td:first-child {
  padding-left: 1em;
}
table.enrollments tr.oddrow > td {
  background-color: #f9f9f9;
}
/* NAV
----------------------------------*/
.primary-tabs .nav-tabs {
  margin-bottom: 0;
}
.primary-tabs .nav-tabs.subnav {
  margin-top: 0;
  border-color: #CCC;
  background: #CDCDCD;
  font-size: 90%;
}
.primary-tabs .nav-tabs.subnav > li > a {
  color: #555;
}
.primary-tabs .nav-tabs.subnav > .active > a {
  color: #333;
  background-color: #FFF;
}
.primary-tabs .nav-tabs > li {
  margin-bottom: -1px;
}
.primary-tabs .nav-tabs > li > a {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 20px;
  padding-left: 20px;
  line-height: 1.5;
  border-right: 1px solid #bdbdbd;
  border-radius: 0px;
  margin-right: 0;
}
.primary-tabs .nav-tabs > li > a:hover,
.primary-tabs .nav-tabs > li > a:focus {
  border-color: #fdfdfd #fdfdfd #dddddd;
  border-right: 1px solid #bdbdbd;
  border-radius: 0px;
}
.primary-tabs .nav-tabs > .active a,
.primary-tabs .nav-tabs > .active a:hover,
.primary-tabs .nav-tabs > .active a:focus {
  color: #555555;
  background-color: #dddddd;
  cursor: default;
  border-radius: 0px;
}
.datepicker.dropdown-menu {
  background: #FFF;
}
.dropdown-menu .divider {
  margin: auto;
}
.datepicker {
  z-index: 2000;
}
.input-append .add-on i {
  line-height: 1.4em;
}
.controls2 label {
  display: inline-block;
  width: 100px;
}
