<appSettings>
  <add key="logoimg" value="/Content/Crosses.png"/>
  <add key="header" value="Demo Baptist Church"/>
  <add key="vbsheader" value="VBS Registration"/>
  <add key="vbsmail" value="vbs@bellevue.org"/>
  <add key="regheader" value="Church Database Registration"/>
  <add key="regmail" value="david@davidcarroll.name"/>
  <add key="regpassword" value="fgsltw"/>
</appSettings>