<?xml version="1.0"?>
<connectionStrings>
  <clear />
  <add name="CMS" connectionString="Data Source=bbc001\SqlServer;Initial Catalog=CMSDemo;Integrated Security=True"
       providerName="System.Data.SqlClient"/>
  <add name="CMSImage" connectionString="Data Source=bbc001\SqlServer;Initial Catalog=ImageData;Integrated Security=True"
       providerName="System.Data.SqlClient"/>
</connectionStrings>
