<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DbmlBuilder.Properties.Settings.BTea2ConnectionString"
            connectionString="Data Source=QOSMIO;Initial Catalog=BTea2;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DbmlBuilder.Properties.Settings.CMS2ConnectionString"
            connectionString="Data Source=.;Initial Catalog=CMS_bellevue;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>