<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DbmlBuilder.Properties.Settings.CMS2ConnectionString" connectionString="Data Source=.\SqlExpress;Initial Catalog=CMS_bellevue;Integrated Security=True" providerName="System.Data.SqlClient"/>
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
