@{
    Layout = "/Views/Shared/Site3.cshtml";
    ViewBag.Title = "Registered";
}
<h2>Registration Successful</h2>
<p>
    Thank you for enrolling.  
    You should receive an email confirmation shortly.
</p>
<p>
    <a href="/StepClass/Step1">Register another family member</a>
</p>
<a href="http://www.bellevue.org/pages/page.asp?page_id=66485" target="_top">Return to Member Development</a>