<appSettings>
  <add key="com.qas.proweb.serverURL" value="http://bbc001:2021/"/>
  <!--<add key="LinqLogFile" value="LogFile.txt"/>-->
  <add key="MaxExcelRows" value="10000"/>
  <add key="TagTypeId_Personal" value="1"/>
  <add key="TagTypeId_OrgMembersOnly" value="3"/>
  <add key="TagTypeId_CouplesHelper" value="4"/>
  <add key="TagTypeId_AddSelected" value="5"/>
  <add key="BFClassOrgTagId" value="101"/>
  <add key="ChangePasswordDays" value="360"/>
  <add key="SpecialPowers" value="true"/>
  <add key="BlogAppUrl" value="http://www.dcarroll.com/blog/Developer.aspx" />
  <add key="BlogFeedUrl" value="http://dcarroll.com/Rss/Developer.aspx" />
  <add key="SystemEmailAddress" value="bbcms01@bellevue.org"/>
  <add key="OrgMembersOnly" value="false"/>
  <add key="NoPasswordNeeded" value="false"/>
  <add key="DefaultHost" value="http://localhost:58724/"/>
  <add key="NewPeopleManagerId" value="828612"/>
</appSettings>