	<connectionStrings>
	  <remove name="CMS"/>	
	  <add name="CMS" connectionString="Data Source=.\SqlServer2008;Initial Catalog=CMS2;App=CMS;Integrated Security=True"
		providerName="System.Data.SqlClient" />
    <add name="CMSImage" connectionString="Data Source=.\SqlServer2008;Initial Catalog=ImageData;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>


