<connectionStrings>
  <remove name="CMS"/>
  <add name="CMS" connectionString="Data Source=.\SqlServer2008;Initial Catalog=CMS2;App=CMS;Integrated Security=True"
  providerName="System.Data.SqlClient" />
  <add name="CMSImage" connectionString="Data Source=.\SqlServer2008;Initial Catalog=ImageData;Integrated Security=True"
    providerName="System.Data.SqlClient" />
</connectionStrings>
<!--<connectionStrings>
	  <remove name="CMS"/>
    <add name="CMS" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|StarterDb.mdf;Integrated Security=True;User Instance=True"
		providerName="System.Data.SqlClient" />
    <add name="CMSImage" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|ImageDb.mdf;Integrated Security=True;User Instance=True"
      providerName="System.Data.SqlClient" />
    <add name="localhost:58724" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|StarterDb.mdf;Integrated Security=True;User Instance=True"
		providerName="System.Data.SqlClient" />
    <add name="localhost:57824.image" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|ImageDb.mdf;Integrated Security=True;User Instance=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>-->


