<connectionStrings>
  <remove name="CMS"/>
  <add name="CMSa" connectionString="Data Source=.;Initial Catalog=CMS_abchurch;Integrated Security=True"
  providerName="System.Data.SqlClient" />
  <add name="CMSr" connectionString="Data Source=.;Initial Catalog=CMS_thegrove;Integrated Security=True"
  providerName="System.Data.SqlClient" />
  <add name="CMSp" connectionString="Data Source=.;Initial Catalog=CMS_pointharbor;Integrated Security=True"
  providerName="System.Data.SqlClient" />
  <add name="CMSp2" connectionString="Data Source=.;Initial Catalog=CMS_pointharbor2;Integrated Security=True"
  providerName="System.Data.SqlClient" />
  <add name="CMS" connectionString="Data Source=.;Initial Catalog=CMS2;Integrated Security=True"
  providerName="System.Data.SqlClient" />
  <add name="CMSImage" connectionString="Data Source=.;Initial Catalog=ImageData;Integrated Security=True"
    providerName="System.Data.SqlClient" />
</connectionStrings>

