<connectionStrings>
  <remove name="CMS"/>
  <add name="CMS" connectionString="Data Source=.;Initial Catalog=CMS2;Integrated Security=True"
  providerName="System.Data.SqlClient" />
  <add name="CMSImage" connectionString="Data Source=.;Initial Catalog=ImageData;Integrated Security=True"
    providerName="System.Data.SqlClient" />
  <add name="Disc" connectionString="Data Source=.;Initial Catalog=Disciples;Integrated Security=True" 
    providerName="System.Data.SqlClient" />
</connectionStrings>

