@using CmsWeb
@model IEnumerable<CmsData.View.ContactTypeTotal>
@{
    ViewBag.Title = "ContactTypeTotals";
    Layout = "~/Views/Shared/SiteLayout.cshtml";
    CassetteBundleConfiguration.BundleRefJs();
    Bundles.AddInlineScript(
    @<script>
        $(function() {
            $("a.delete").click(function (ev) {
                ev.preventDefault();
                if (confirm("are you sure?"))
                    window.location = $(this).attr("href");
                return false;
            });
        });
    </script> );
}
<h2>Contact Type Totals</h2>
<table class="grid table-striped">
    <thead>
        <tr>
            <td>Description</td>
            <td>#Contacts</td>
            <td>#People</td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        @foreach (var i in Model)
        {
            <tr>
                <td>
                    <a href="/ContactSearch/ContactTypeSearchBuilder/@i.Id">@i.Description</a>
                </td>
                <td class="right">@i.Count</td>
                <td class="right">@i.CountPeople</td>
                <td>
                    @if (ViewBag.candelete && i.Description.StartsWith("-"))
                    {
                        <a class="delete" href="/ContactSearch/DeleteContactsForType/@i.Id"><img src="~/images/delete.gif"/></a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
