<appSettings>
  <add key="cmshost" value="https://cms.bellevue.org/" />
  <add key="errorsfromemail" value="errors@bvcms.com"/>
  <add key="sysfromemail" value="bbcms01@bellevue.org"/>
  <add key="senderrorsto" value="david@davidcarroll.name,kworrell@bellevue.org"/>
  <add key="UploadPath" value="\\10.16.0.11\e$\Upload\"/>
  <add key="UploadUrl" value="http://cms.bellevue.org/Upload/"/>
</appSettings>
