	<connectionStrings>
    <add name="CMS" connectionString="Data Source=bbc001\SqlServer;Initial Catalog=CMS2;user=sa;password=Thi5t1e;App=CMS2"
		  providerName="System.Data.SqlClient" />
    <add name="CMSImage" connectionString="Data Source=bbc001\SqlServer;Initial Catalog=ImageData;user=sa;password=Thi5t1e;App=CMSImage"
		  providerName="System.Data.SqlClient" />
    <add name="CMSTest" connectionString="Data Source=bbc001\SqlServer;Initial Catalog=CMS;user=sa;password=Thi5t1e;"
		  providerName="System.Data.SqlClient" />
    <remove name="LocalSqlServer"/>
    <add name="LocalSqlServer" connectionString="Server=bbc001\SqlServer;Database=CMSMembership;user=sa;password=Thi5t1e;" providerName="System.Data.SqlClient"/>
	</connectionStrings>
