@{
	ViewBag.Title = "Index";
	Layout = "~/Areas/m/Views/Shared/Mobile.cshtml";
}
<div data-role="page">
	<div data-role="header">
		<h1>Page Title</h1>
	</div>
	<div data-role="content">
		<div data-role="fieldcontain">
			<label for="password">Username:</label>
			<input type="text" name="username" id="username" value="" />
		</div>
	</div>
	<div data-role="content">
		<div data-role="fieldcontain">
			<label for="password">Password:</label>
			<input type="password" name="password" id="password" value="" />
		</div>
	</div>

	<div data-role="footer">
		<h4>Page Footer</h4>
	</div>
</div>