<?xml version="1.0"?>
<connectionStrings>
  <clear />
  <!--<add name="Disc" connectionString="Data Source=bbc001\SqlServer;Initial Catalog=Disciples;user=sa;password=Thi5t1e" />-->
  <add name="Disc" connectionString="Data Source=.;Initial Catalog=Disciples;Integrated Security=True" />
  <add name="CMS" connectionString="Data Source=.;Initial Catalog=CMS2;Integrated Security=True"
       providerName="System.Data.SqlClient"/>
</connectionStrings>
