<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="CMSBuilderService" type="CMSBuilder.CMSBuilderSection, CMSBuilder" requirePermission="false"/>
		<section name="rewriter" requirePermission="false" type="Intelligencia.UrlRewriter.Configuration.RewriterConfigurationSectionHandler, Intelligencia.UrlRewriter"/>
	</configSections>
	<rewriter>
		<rewrite url="~/podcast/feed/(.+).aspx" to="~/Podcast/Feed.aspx?u=$1"/>
		<rewrite url="~/view/(.+)" to="~/pageview.aspx?p=$1"/>
		<rewrite url="~/Blog/Default\.aspx" to="~/Blog/Default.aspx" processing="stop"/>
		<rewrite url="~/Blog/EditComment\.aspx" to="~/Blog/EditComment.aspx" processing="stop"/>
		<rewrite url="~/Blog/Edit\.aspx" to="~/Blog/Edit.aspx" processing="stop"/>
		<rewrite url="~/Blog/Posts\.aspx" to="~/Blog/Posts.aspx" processing="stop"/>
		<rewrite url="~/Blog/Feed\.aspx" to="~/Blog/Feed.aspx" processing="stop"/>
		<rewrite url="~/Blog/Post\.aspx" to="~/Blog/Post.aspx" processing="stop"/>
		<rewrite url="~/Blog/New\.aspx" to="~/Blog/New.aspx" processing="stop"/>
		<rewrite url="~/Blog/(\d+)\.aspx" to="~/Blog/Post.aspx?id=$1" processing="stop"/>
		<rewrite url="~/Blog/(.+)\.aspx\?(.+)" to="~/Blog/Posts.aspx?name=$1&amp;$2" processing="stop"/>
		<rewrite url="~/Blog/(.+)\.aspx" to="~/Blog/Posts.aspx?name=$1"/>
		<rewrite url="~/Blog/(.+)/(.+)\.aspx" to="~/Blog/Category.aspx?cat=$2&amp;name=$1"/>
		<rewrite url="~/Forum/(\d+)\.aspx" to="~/Forum/Topics.aspx?forumid=$1"/>
		<rewrite url="~/Forum/Thread/(\d+)\.aspx" to="~/Forum/Thread.aspx?threadid=$1"/>
		<rewrite url="~/Verse/Practice/(\d+)\.aspx" to="~/Verse/Practice.aspx?id=$1"/>
		<rewrite url="~/BlogPost/rsd\.aspx" to="~/BlogPost/rsd.aspx" processing="stop"/>
		<rewrite url="~/BlogPost/(.+)\.aspx" to="~/BlogPost/Default.aspx?blogid=$1" processing="stop"/>
	</rewriter>
  <appSettings>
    <add key="cmshost" value="http://localhost:58724/"/>
    <add key="sysfromemail" value="errors@bvcms.com"/>
    <add key="senderrorsto" value="david@davidcarroll.name,karen.bvcms@gmail.com"/>
  </appSettings>
<connectionStrings>
  <add name="CMS" connectionString="Data Source=.;Initial Catalog=CMS_bellevue;Integrated Security=True"
       providerName="System.Data.SqlClient"/>
</connectionStrings>

	<system.web>
		<!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/></assemblies>
		</compilation>
		<!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
		<authentication mode="Forms">
			<forms loginUrl="Default.aspx" timeout="50000000"/>
		</authentication>
		<authorization>
			<allow users="*"/>
		</authorization>
		<machineKey validationKey="C50B3C89CB21F4F1422FF158A5B42D0E8DB8CB5CDA1742572A487D9401E3400267682B202B746511891C1BAF47F8D25C07F6C39A104696DB51F17C529AD3CABE" decryptionKey="8A9BE8FD67AF6979E7D20198CFEA50DD3D3799C77AF2B72F" validation="SHA1"/>
		<membership defaultProvider="CMSMembershipProvider" userIsOnlineTimeWindow="15">
			<providers>
				<clear/>
				<add 
          name="CMSMembershipProvider" 
          type="CmsData.CMSMembershipProvider" 
          enablePasswordRetrieval="true" 
          enablePasswordReset="true" 
          requiresQuestionAndAnswer="false" 
          writeExceptionsToEventLog="false" 
          requiresUniqueEmail="false" 
          maxInvalidPasswordAttempts="15" 
          minRequiredPasswordLength="4" 
          minRequiredNonalphanumericCharacters="0" 
          passwordAttemptWindow="10"/>
			</providers>
		</membership>
		<roleManager defaultProvider="CMSRoleProvider" enabled="true">
			<providers>
				<clear/>
				<add name="CMSRoleProvider" type="CmsData.CMSRoleProvider" applicationName="cms" writeExceptionsToEventLog="false"/>
			</providers>
		</roleManager>
		<anonymousIdentification enabled="true"/>
		<!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
		<customErrors mode="Off">
		</customErrors>
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
			<controls>
				<add namespace="AjaxControlToolkit" assembly="AjaxControlToolkit" tagPrefix="ajx"/>
				<add src="~/Modules/ResultMessage.ascx" tagName="ResultMessage" tagPrefix="cms"/>
				<add src="~/Modules/Paragraph.ascx" tagName="Paragraph" tagPrefix="cms"/>
				<add src="~/Modules/ForumEntryDisplay.ascx" tagName="ForumEntryDisplay" tagPrefix="cc1"/>
				<add assembly="CustomControls" namespace="CustomControls" tagPrefix="cc1"/>
			</controls>
			<namespaces>
				<add namespace="UtilityExtensions"/>
			</namespaces>
		</pages>
		<httpModules>
			<add name="UrlRewriter" type="Intelligencia.UrlRewriter.RewriterHttpModule, Intelligencia.UrlRewriter"/>
			<add name="Routing" type="System.Web.Routing.UrlRoutingModule, System.Web.Routing, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
		</httpModules>
		<httpRuntime maxRequestLength="16384" requestValidationMode="2.0" executionTimeout="360"/>
	</system.web>
	<location path="admin">
		<system.web>
			<authorization>
				<allow roles="Administrator"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="Admin/BatchJob.aspx">
		<system.web>
			<authorization>
				<allow users="?"/>
			</authorization>
		</system.web>
	</location>
	<location path="admin/CmsParagraph.aspx">
		<system.web>
			<authorization>
				<deny users="?"/>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="Forum">
		<system.web>
			<authorization>
				<deny users="?"/>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="Verse">
		<system.web>
			<authorization>
				<deny users="?"/>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="Verse/DailyReading.aspx">
		<system.web>
			<authorization>
				<allow users="?"/>
			</authorization>
		</system.web>
	</location>
	<system.net>
		<mailSettings>
			<smtp configSource="Config\smtp.config"/>
		</mailSettings>
	</system.net>
	<!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false"/>
		<modules>
			<remove name="ScriptModule"/>
			<add name="ScriptModule" preCondition="managedHandler" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			<add name="UrlRewriter" type="Intelligencia.UrlRewriter.RewriterHttpModule"/>
		</modules>
		<handlers>
			<remove name="WebServiceHandlerFactory-Integrated"/>
			<remove name="ScriptHandlerFactory"/>
			<remove name="ScriptHandlerFactoryAppServices"/>
			<remove name="ScriptResource"/>
			<add name="ScriptHandlerFactory" verb="*" path="*.asmx" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			<add name="ScriptHandlerFactoryAppServices" verb="*" path="*_AppService.axd" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			<add name="ScriptResource" preCondition="integratedMode" verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
		</handlers>
	</system.webServer>
</configuration>
