<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="DbmlBuilderService" type="DbmlBuilder.DbmlBuilderSection, DbmlBuilder" requirePermission="false"/>
  </configSections>
  <DbmlBuilderService defaultProvider="CMSImage">
    <providers>
      <clear/>
      <add name="CMSImage" type="DbmlBuilder.SqlDataProvider, DbmlBuilder" connectionStringName="CMSImage" generatedNamespace="ImageData"/>
    </providers>
  </DbmlBuilderService>
  <appSettings/>
  <connectionStrings>
    <add name="CMSImage" connectionString="Data Source=.;Initial Catalog=ImageData;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
