<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="DbmlBuilderService" type="DbmlBuilder.DbmlBuilderSection, DbmlBuilder" requirePermission="false"/>
  </configSections>
  <DbmlBuilderService defaultProvider="Disc">
    <providers>
      <clear/>
      <add name="Disc" type="DbmlBuilder.SqlDataProvider, DbmlBuilder" connectionStringName="Disc" generatedNamespace="DiscData"/>
    </providers>
  </DbmlBuilderService>
  <appSettings/>
  <connectionStrings>
    <add name="Disc" connectionString="Data Source=.\SqlServer2008;Initial Catalog=Disciples;Integrated Security=True" />
  </connectionStrings>
</configuration>
