@using System.Web.Optimization
@using CmsWeb
@model CmsWeb.Models.OrgMembersModel
@{
    Layout = "/Views/Shared/SiteLayout.cshtml";
    ViewBag.Title = "Org Members Management";
}
@section scripts
{
@Scripts.Render("~/bundles/single/OrgMembers-js")
}
    <form id="form" method="post" action="/OrgMembers/Move">
     @Html.Partial("List", Model) 
    </form>


