@using CmsWeb
@model CmsWeb.Models.OrgMembersModel
@{
    Layout = "/Views/Shared/SiteLayout.cshtml";
    ViewBag.Title = "Org Members Management";
    CassetteConfiguration.BundleRefJs();
    Bundles.Reference("OrgMembers");
}
    <form id="form" method="post" action="/OrgMembers/Move">
     @Html.Partial("List", Model) 
    </form>


