@using UtilityExtensions
@using CmsWeb
@{
    ViewBag.Title = "EditRegSetting";
    Layout = "~/Views/Shared/SiteLayout.cshtml";
    CassetteBundleConfiguration.BundleRefJs();
    Bundles.AddInlineScript(
    @<script type="text/javascript">
        $(function () {
            $("textarea").css("height", this.scrollHeight + "px");
            $("textarea").tabby();
            $(".bt").button();
        });
    </script>);
}
<h2>
    Editing Registration Settings for <a href="/Organization/Index/@ViewData["OrganizationId"]">@ViewData["orgname"]</a></h2>
<form action="/RegSetting/Update/@ViewData["OrganizationId"]" method="post">
<a href="/RegSetting/Index/@ViewData["OrganizationId"]" class="bt">Cancel</a>
<input type="submit" class="bt blue" value="Save Changes" />
<p style="color: red">@TempData["error"]</p>
@Html.TextArea("text", new { rows = "40", style = "width:90%", wrap="off" })
</form>