@model CmsData.RegSettings.ExtraQuestion
@using CmsWeb
    @using (var ci = Html.BeginCollectionItem("ExtraQuestions"))
    {
      <li>@Html.Raw(ci.hiddenindex)
          @Html.HiddenFor(m => m.Id, new { @class = "renumberMe" }) 
          <img align="top" src="/images/Up-down.png" alt="" />
          @Html.TextBoxFor(m => m.Question, new { @class = "long" })
          <a class="del" href="#"><img align="top" src="/images/delete.gif" title="remove this item" /></a>
      </li>
    }
