<connectionStrings>
  <!--Comment out the CMSHosted connection string below when you want to host a single database-->
  <add name="CMSHosted" connectionString="Data Source=WIN8\SQLEXPRESS;Initial Catalog=CMS_bellevue;Integrated Security=True;App=test" providerName="System.Data.SqlClient" />
  <add name="CMS" connectionString="Data Source=.;Initial Catalog=CMS_bellevue;Integrated Security=True" providerName="System.Data.SqlClient" />
  <add name="CMSImage" connectionString="Data Source=.;Initial Catalog=CMS_bellevue_img;Integrated Security=True;App=test" providerName="System.Data.SqlClient" />
  <add name="Elmah.Sql" connectionString="Data Source=WIN8\SQLEXPRESS;Initial Catalog=ELMAH;Integrated Security=True" />
</connectionStrings>

