@using UtilityExtensions;
@using CmsWeb;
@model CmsData.EmailQueue
<html>
<head>
<style type="text/css">
#maindiv {
        max-width: 600px;
        width:expression(document.body.clientWidth > 600? "600px": "auto" );
        font-family:Arial;
        margin-left:auto; 
        margin-right:auto;
}
</style>
</head>
<body>          
<div style="">
<div id="maindiv">
<h3>Subject: @Html.Raw(Model.Subject)</h3>
@Html.Raw(Model.Body)
</div></div>
</body>
</html>