	<connectionStrings>
    <add name="CMSImage" connectionString="Data Source=.;Initial Catalog=ImageData;Integrated Security=True;App=CMSImageTest"
		  providerName="System.Data.SqlClient" />
    <add name="CMS" connectionString="Data Source=.;Initial Catalog=CMSDemo;Integrated Security=True"
		  providerName="System.Data.SqlClient" />
    <remove name="LocalSqlServer"/>
    <add name="LocalSqlServer" connectionString="Server=.;Database=CMSMembership;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
