@{
    ViewBag.Title = "About Us";
    Layout = "~/Views/Shared/SiteLayout.cshtml";
    var active = TempData["ActiveRecords"].ToInt();
}
<table class="roundbox center">
    <tr>
        <td class="center">
    <h2>
        @if (Util.IsHosted)
        {
            <text>Open Source Software,<br />Hosting and Support Provided By</text>
        }
        else
        {
            <text>Open Source Software Provided By</text>
        }
    </h2>
    <br /><br />
    <span class="center"><a href="http://www.bvcms.com"><img src="~/images/bvcms150.png" /></a></span>
    <br /><br />
    <div>Build Date: @Util.BuildDate()</div>
    <br /><br />
    <div>
        @if (active > 0)
        {
            @:Active Records: @active.ToString("N0")
        }
        else if (User.IsInRole("Admin"))
        {
            @Helper.AnchorLink("See Active Records", "javascript:$.block();window.location='/Home/ActiveRecords';")
        }
    </div>
        </td>
    </tr>
</table>



