@{
    ViewBag.Title = "About Us";
    Layout = "~/Views/Shared/SiteLayout.cshtml";
    var active = TempData["ActiveRecords"].ToInt();
}
<h2>About</h2>
<p>Build Date: @Util.BuildDate()
@if (active > 0)
{
    <div>Active Records: @active.ToString("N0")</div>
}



