@using CmsData.Registration
@model IEnumerable<Organization>
@{
    ViewBag.Title = "Test";
    Layout = "~/Views/Shared/SiteLayout.cshtml";
    CassetteBundleConfiguration.BundleRefJs();
    Bundles.Reference("Test");
}

<h2>Test</h2>

<table class="grid">
@foreach (var o in Model)
{
    <tr>
        <td>@o.OrganizationId&nbsp;&nbsp;&nbsp;</td>
        <td><a class="record" href="/Home/RecordTest/@o.OrganizationId?v=pass">pass</a></td>
        <td><a class="record" href="/Home/RecordTest/@o.OrganizationId?v=fail">fail</a></td>
        @if(o.OrganizationStatusId == CmsData.Codes.OrgStatusCode.Inactive)
        {
            <td style="color: gray">INACTIVE&nbsp;&nbsp;&nbsp;</td>
        }
        else
        {
            <td style="color: blue"><a href='/OnlineReg/Index/@o.OrganizationId'>register</a></td>
        }
        <td><a href='/Organization/Index/@o.OrganizationId'>@o.OrganizationName</a></td>
    </tr>
        try
        {
            var rs = new Settings(o.RegSetting, DbUtil.Db, o.OrganizationId);
            <tr>
                <td colspan="4"></td>
                <td>
                    <div style="margin-left: 2em;">
                        @foreach(var i in rs.AskItems)
                        {
                            @i.Type<br/>
                        }
                    </div>
                </td>
            </tr>
        }
        catch (Exception ex)
        {
            <tr>
                <td colspan="4"></td>
                <td>
                    &nbsp;<a href="/RegSetting/Index/@o.OrganizationId" style="color: red">@ex.Message</a>
                </td>
            </tr>
        }
}
</table>