@charset "utf-8";

body {
	font-family: Arial, Helvetica, sans-serif;
	background-image: none;
	height: 100%;
}
#container {
	margin-top: .7em;
	margin-left: 8%;
	margin-right: 8%;
}
#urgentNotice {
	background-color: #FF0;
	font-size: 120%;
	padding: .2em 1em .2em 1em;
}
#topNotice {
	background-color: #DDD;
	font-size: 120%;
	padding: .2em 1em .2em 1em;
}
a ,a:hover,a:visited,a:active{
	color: #666;
	text-decoration: none;
}

#header h1 {
	font-size:150%;
*/
}
#header h2 {
	font-size:80%;
	font-weight: normal;
	color: #666;
}
#userarea{
	font-size: 80%;
	margin-top: 0px;
}
#userarea strong {
	font-weight: normal;
}
#userarea a {
	color:#393;
}
#userarea input  {
	font-size: 110%;
	border-style: solid;
	border-width: 1px;
	border-color: #999;
	width: 8em;
	margin-top: 3px;
}
#welcome a:hover {
	text-decoration:none;
}
#logout {
	display:none;
	background-color:#f3f3f3;
	border: 1px solid #222;
	padding: 6px;
	position:absolute;
	left: auto;
	right: 8%;
	top: 2.2em;
	z-index: 1001;
}

#logout a:hover {
	text-decoration:underline;
}
#header td.left {
	vertical-align: text-top;
}
#header td.center {
	text-align: center;
	vertical-align: middle;
}
#header td.right {
	text-align: right;
	vertical-align: middle;
}
a:hover, a:active {
	color: #666;
	text-decoration: underline;
}
#main {
	margin-top: 8px;

}
#mainlayout    td{
	vertical-align: top;
	width: 33%;
	height: 100%;
}
#mainlayout {
	width: 100%;
}

#main div.roundbox {
	border: 2px solid #808183;
	-moz-border-radius: 10px;
	border-radius: 20px;
	padding: 8px;
	margin-bottom: 5px;
	margin-top: 5px;
	margin-left: 3px;
	margin-right: 3px;
	background-color: #F8F8F8;
}
#main div.roundbox  h2{
	color: #666;
	border-bottom-color: #97BE3E;
	border-bottom-width: 3px;
	border-bottom-style: solid;
	margin-top: .6em;
	margin-bottom: 6px;
}
#main div.roundbox  h3{
	font-size: 80%;
	font-weight: bold;
	margin-top: .3em;
	border-bottom: 1px solid #ccc;
	color: #666;
}
#col1 div.roundbox {
	border-radius: 20px;
	min-height: 480px;
}
#col2 div.roundbox {
	border-radius: 20px;
	min-height: 228px;
}
#col3 div.roundbox {
	border-radius: 20px;
	min-height: 480px;
}
#main div.roundbox  p{
	font-size: 90%;
}
