<connectionStrings>
  <add name="CMS" connectionString="Data Source=bbc001\SqlServer;Initial Catalog=CmsTest;user=sa;password=sys4123;App=CMS2"
    providerName="System.Data.SqlClient" />
  <add name="CMSImage" connectionString="Data Source=bbc001\SqlServer;Initial Catalog=ImageDataTest;user=sa;password=sys4123;App=CMSImage"
    providerName="System.Data.SqlClient" />
</connectionStrings>
