<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="CmsCheckin.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="CmsCheckin.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <startup>
    
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/></startup>
  <userSettings>
    <CmsCheckin.Settings1>
      <setting name="Printer" serializeAs="String">
        <value />
      </setting>
      <setting name="Campus" serializeAs="String">
        <value />
      </setting>
      <setting name="LeadHours" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="LateMinutes" serializeAs="String">
        <value>1440</value>
      </setting>
      <setting name="AskChurch" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AskGrade" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="KioskName" serializeAs="String">
        <value>Kiosk</value>
      </setting>
      <setting name="AskEmFriend" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="URL" serializeAs="String">
        <value />
      </setting>
      <setting name="username" serializeAs="String">
        <value />
      </setting>
      <setting name="AskChurchName" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="UseSSL" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="TwoInchLabel" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DisableJoin" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Kiosks" serializeAs="String">
        <value />
      </setting>
      <setting name="PrintMode" serializeAs="String">
        <value>Print To Printer</value>
      </setting>
      <setting name="SecurityLabelPerChild" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="BuildingMode" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Building" serializeAs="String">
        <value />
      </setting>
      <setting name="BaseFormLocX" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="BaseFormLocY" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="AttendantLocX" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="AttendantLocY" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="PrinterWidth" serializeAs="String">
        <value />
      </setting>
      <setting name="PrinterHeight" serializeAs="String">
        <value />
      </setting>
      <setting name="AdvancedPageSize" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DisableLocationLabels" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ExtraBlankLabel" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="OldLabels" serializeAs="String">
        <value>False</value>
      </setting>
    </CmsCheckin.Settings1>
  </userSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.4.0" newVersion="4.0.4.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
