@using CmsWeb
@model IEnumerable<CmsWeb.Areas.Manage.Controllers.RegSettingsController.RegSettingInfo>

@{
    ViewBag.Title = "RegSettings";
    Layout = "~/Views/Shared/SiteLayout.cshtml";
}
@section scripts
{
    <script type="text/javascript" src="@Fingerprint.Tag("/Scripts/js/RegSettings.js")"></script>
}
<h2>RegSettings</h2>

@foreach (var i in Model)
{
@*    <a id="a.@i.Id" rid="@i.Id" href="#" class="regopen">open</a>
*@    
      <a href="/OnlineReg/Index/@i.Id" target="regsetting">try it</a>
      <a href="/RegSetting/Index/@i.Id" target="regsetting">@i.Name</a><br />
@*    <div  id="d.@i.Id" >
    @i.RegSetting 
    </div >
*@}



