@using CmsWeb.Areas.People.Models.Person
@model AddressInfo
<div class="modal-header">
    <a class="close" data-dismiss="modal">x</a>
    <h3>Address Saved</h3>
</div>
<div class="modal-body">
    <p class="alert">
        @Html.Raw(Model.AddrCityStateZip().Replace("\n", "<br/>\n"))
    </p>
    <div id="addressnew" data-target="@(Model.Name == "FamilyAddr" ? "familyaddress" : "personaladdress")" style="display:none">
        @Html.Partial("DisplayTemplates/Address", Model)
    </div>
    <div id="primaryaddressnew" style="display: none">
        @Html.Partial("DisplayTemplates/Address", AddressInfo.GetAddressInfo(Model.PeopleId, "PrimaryAddr"))
    </div>
</div>
<div class="modal-footer">
    <a href="#" class="btn btn-succes close-saved-address" data-dismiss="modal">Close</a>
</div>
