@using CmsData
@using UtilityExtensions
@model CmsWeb.Areas.People.Models.Person.PersonModel
@{
    var p = Model.displayperson;
}
<div class="sidebar_title group">
    <h2>Family Contact</h2>
    @if (!p.PersonalAddr.Address1.HasValue())
    {
    <div class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <i class="icon-plus-sign"></i> </a>
        <ul class="dropdown-menu" role="menu">
            <li><a href="#">Add Personal Address</a></li>
        </ul>
    </div>
    }
</div>
<ul id="family_home" class="unstyled">
    <li class="address@(p.FamilyAddr.BadAddress == true? " warning" : "")">
        <div class="btn-group">
            <a href="#" class="btn dropdown-toggle" data-toggle="dropdown">
                <i class="icon-map-marker"></i>
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li><a href="http://www.google.com/maps?q=@p.FamilyAddr.AddrCityStateZip()" target="_blank">Google Map</a></li>
                <li><a href='http://www.google.com/maps?f=d&saddr=@DbUtil.StartAddress&pw=2&daddr=@p.FamilyAddr.AddrCityStateZip()' target="_blank">Driving Directions (Google)</a></li>
                <li><a href="http://www.bing.com/maps/?q=@p.FamilyAddr.AddrCityStateZip()" target="_blank">Bing Map</a></li>
                <li><a href='http://www.bing.com/maps/?rtp=adr.@DbUtil.StartAddress~adr.@p.FamilyAddr.AddrCityStateZip()' target="_blank">Driving Directions (Bing)</a></li>
                <li><a class="editaddr" href="/Person2/AddressEdit/FamilyAddr/@Model.displayperson.PeopleId">Edit</a></li>
            </ul>
        </div>
        @* Dave: How do we distinguish family address vs personal *@
        <p id="familyaddress">
            @Html.Partial("DisplayTemplates/Address", p.FamilyAddr)
        </p>
    </li>
    @* Dave: Should we put email address in this section? *@
    <li class="phone landline">
        <i class="icon-phone"></i>
        @* Dave: How do we distinguish between personal (cell) and home? *@
        <p>@p.basic.HomePhone.FmtFone()</p>
        <a href="#sample-modal" data-toggle="modal" class="edit"><i class="icon-pencil"></i></a>
    </li>

    @if (p.PersonalAddr.Address1.HasValue())
    {
    <li class="address@(p.PersonalAddr.BadAddress == true? " warning" : "")">
        <div class="btn-group">
            <a href="#" class="btn dropdown-toggle" data-toggle="dropdown">
                <i class="icon-map-marker"></i>
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li><a href="http://www.google.com/maps?q=@p.PersonalAddr.AddrCityStateZip()" target="_blank">Google Map</a></li>
                <li><a href='http://www.google.com/maps?f=d&saddr=@DbUtil.StartAddress&pw=2&daddr=@p.PersonalAddr.AddrCityStateZip()' target="_blank">Driving Directions (Google)</a></li>
                <li><a href="http://www.bing.com/maps/?q=@p.PersonalAddr.AddrCityStateZip()" target="_blank">Bing Map</a></li>
                <li><a href='http://www.bing.com/maps/?rtp=adr.@DbUtil.StartAddress~adr.@p.PersonalAddr.AddrCityStateZip()' target="_blank">Driving Directions (Bing)</a></li>
                <li><a class="editaddr" href="/Person2/AddressEdit/PersonalAddr/@Model.displayperson.PeopleId">Edit</a></li>
            </ul>
        </div>
        <p id="personaladdress">
            @Html.Partial("DisplayTemplates/Address", p.PersonalAddr)
        </p>
    </li>
    }
    @if (p.basic.Mobile.HasValue())
    {
    <li class="phone mobile">
        <div class="btn-group">
            <a href="#" class="btn dropdown-toggle" data-toggle="dropdown">
                <i class="icon-mobile-phone"></i>
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li><a href="#">Send SMS</a></li>
            </ul>
        </div>
        <p>@p.basic.Mobile.FmtFone()</p>
    </li>
    }
</ul>