
<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
<meta charset="utf-8">
<title>bvcms dev</title>
<link href="css/bvcms_base.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="font/font-awesome.min.css" type="text/css">
<link href="font/proximanova/fonts.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="chosen/chosen.css" type="text/css">
<link rel="stylesheet" href="css/style.css" type="text/css">
</head>
<body>
<header id="header" class="row">
    <nav id="nav-global" class="nav-horizontal">
      <div class="container" id="wrap-nav-global">
        <ul class="parent">
          <li><a href=""><i class="icon-home"></i></a></li>
          <li><a href="" class="trigger-dropdown">People <i class="icon-caret-down"></i></a>
            <div class="dropdown-menu">
              <ul>
                <li><a href="">Search</a></li>
                <li><a href="">Add People</a></li>
                <li><a href="">Manage Tags</a></li>
                <li><a href="">Tasks</a></li>
                <li><a href="">Contacts</a></li>
                <li class="divider"></li>
                <li><a href="">Edgar A. Poe</a></li>
              </ul>
            </div>
          </li>
          <li><a href="" class="trigger-dropdown">Organization <i class="icon-caret-down"></i></a></li>
          <li><a href="" class="trigger-dropdown">Reports <i class="icon-caret-down"></i></a></li>
          <li><a href="" class="trigger-dropdown">Contributions <i class="icon-caret-down"></i></a></li>
          <li><a href="" class="trigger-dropdown">Admin <i class="icon-caret-down"></i></a></li>
          <li><a href="" class="trigger-dropdown">Help <i class="icon-caret-down"></i></a></li>
        </ul>
      </div>
    </nav>
    <div class="container">
      <div id="wrap-brand">
        <h1 id="brand" class="eight columns"><a href=""></a></h1>
        <div class="five columns">
          <form action="" method="post" class="search">
            <input type="text" placeholder="Search" name="search">
            <button><i class="icon-search"></i></button>
          </form>
        </div>
        <div class="three columns">
          <nav id="nav-user">
            <a href="" class="trigger-dropdown">Edgar <i class="icon-caret-down"></i></a>
            <div class="dropdown-menu">
              <ul>
                <li><a href="">Clear Active Tag</a></li>
                <li><a href="">Manage Active Tag</a></li>
                <li class="divider"></li>
                <li><a href="">Activity Log</a></li>
                <li><a href="">Change Password</a></li>
                <li class="divider"></li>
                <li><a href="">Logout</a></li>
              </ul>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </header>
  <section id="main" class="container">
    <nav id="nav-family" class="four columns alpha">
      <div class="group">
      <h2>Family Members
          <a href="" class="add"><i class="icon-plus-sign"></i></a>
        </h2>
        <ul class="members">
          <li><a href=""><img src="" alt=""><span>John</span></a></li>
          <li class="active"><a href=""><img src="" alt=""><span>Elizabeth</span></a></li>
          <li><a href=""><img src="" alt=""><span>Samantha</span></a></li>
          <li><a href=""><img src="" alt=""><span>Elle</span></a></li>
        </ul>
      </div>
      <div class="group">
        <h2>
          Home
          <a href="" class="add"><i class="icon-plus-sign"></i></a>
        </h2>
        <ul class="home">
          <li class="address">
            <a href="" class="edit"><i class="icon-pencil"></i></a>
            <a href="" class="action"><i class="icon-map-marker"></i></a>
            <span class="address label">
              345 Maple Lane<br>
              Farmington, AL 35271
            </span>
          </li>
          <li class="phone">
            <a href="" class="edit"><i class="icon-pencil"></i></a>
            <a href="" class="action"><i class="icon-phone"></i> <span class="label">(345) 555-2901</span></a>
          </li>
        </ul>
      </div>
      <div class="group">
        <h2>Related Families
          <a href="" class="add" data-modal-id="addDialog"><i class="icon-plus-sign"></i></a>
        </h2>
        <ul class="related">
          <li><a href="" class="edit"><i class="icon-pencil"></i></a>
            <div class="label">Nicolas &amp; Jessica Brody</div>
            <div class="summary">Grandparents</div>
          </li>
          <li><a href="" class="edit"><i class="icon-pencil"></i></a>
            <div class="label">Bo &amp; Cassie Wiggin</div>
            <div class="summary">Cousins</div>
          </li>
        </ul>
      </div>
    </nav>

    <section id="person" class="twelve columns omega">
      <header class="container">
        <div id="snapshot" class="nine columns alpha">
          <img src="" alt="">
          <h1>Elizabeth Queen</h1>
          <span class="role">Primary Adult</span>
          <ul class="attributes">
            <li>
              <span class="attribute">Membership Status:</span>
              <span class="value">Member</span>
            </li>
            <li>
              <span class="attribute">Campus Affiliation:</span>
              <span class="value">--</span>
            </li>
          </ul>
        </div>
        <div class="three columns action">
          <p class="meta">Record added 08/12/07</p>
          <div class="btn-group">
            <button class="btn">
                <i class="icon-envelope"></i>
            </button>
            <button class="btn">
                <i class="icon-cloud-download"></i>
            </button>
            <button class="btn">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="icon-cog"></i>
                <i class="icon-caret-down"></i>
              </a>
              <ul class="dropdown-menu">
                <li><a href="">Add New User</a></li>
                <li><a href="">Impersonate</a></li>
                <li class="divider"></li>
                <li><a href="">Add New Address</a></li>
                <li><a href="">Mark As Deceased</a></li>
                <li class="divider"></li>
                <li><a href="">Split</a></li>
                <li><a href="">Merge</a></li>
                <li><a href="">Delete</a></li>
              </ul>
            </button>
          </div>
        </div>
        <ul id="badges">
          <li>Do Not Visit</li>
          <li>Do Not Call</li>
        <ul>
      </header>
      <nav id="nav-tabs">
        <ul>
          <li><a href="#personal">Personal</a></li>
          <li><a href="#involvement">Involvement</a></li>
          <li><a href="#member-profile">Member Profile</a></li>
          <li><a href="#giving">Giving</a></li>
          <li><a href="#account">Account</a></li>
          <li><a href="#comments" class="omega">Comments</a></li>
        </ul>
      </nav>

      <!--  Personal pane -->
      <div id="personal" class="pane">
    <form action="" method="post">
      <div class="submit-row">
        <button class="btn btn-neutral display">Edit</button>
        <button class="btn btn-neutral edit">Cancel</button>
        <button class="btn btn-primary edit">Save Changes</button>
      </div>
      <fieldset class="edit">
        <div class="control-group">
          <label for="">Title</label>
          <div class="controls">
            <select name="" id="" class="xs">
              <option value="">Mr</option>
              <option value="">Ms</option>
              <option value="">Miss</option>
              <option value="" selected>Mrs</option>
              <option value="">Lt</option>
              <option value="">Dr</option>
              <option value="">Rep</option>
              <option value="">Amb</option>
              <option value="">Fr</option>
              <option value="">Capt</option>
              <option value="">Sr</option>
            </select>
          </div>
        </div>
        <div class="control-group half">
          <label for="">First Name</label>
          <div class="controls"><input type="text" name="" id="id_" class="text" value="Elizabeth"></div>
        </div>
        <div class="control-group half">
          <label for="">Goes By</label>
          <div class="controls"><input type="text" name="" id="id_" class="text" value="Eliza"></div>
        </div>
        <div class="control-group half">
          <label for="">Middle Name</label>
          <div class="controls"><input type="text" name="" id="id_" class="text" value="Cassandra"></div>
        </div>
        <div class="control-group half">
          <label for="">Last Name</label>
          <div class="controls"><input type="text" name="" id="id_" class="text" value="Queen"></div>
        </div>
        <div class="control-group half">
          <label for="">Alt Name</label>
          <div class="controls"><input type="text" name="" id="id_" class="text"></div>
        </div>
        <div class="control-group half">
          <label for="">Former</label>
          <div class="controls"><input type="text" name="" id="id_" class="text" value="Shepherd"></div>
        </div>
        <div class="control-group em">
          <label for="">Suffix</label>
          <div class="controls"><input type="text" name="" id="id_" class="text m strict"></div>
        </div>
        <div class="control-group half">
          <label for="">Gender</label>
          <div class="controls"><label><input type="radio" name="gender" id="id_" class="radio"> Male</label> <label><input type="radio" name="gender" id="id_" class="radio" checked> Female</label></div>
        </div>
        <div class="control-group half">
          <label for="">Birthdate</label>
          <div class="controls"><input type="text" name="" id="id_" class="text date" value="4/11/1976"></div>
        </div>
        <div class="control-group half">
          <label for="">Marital Status</label>
          <div class="controls">
            <select name="" id="id_">
              <option value="">Single</option>
              <option value="" selected>Married</option>
              <option value="">Separated</option>
              <option value="">Divorced</option>
            </select>
          </div>
        </div>
        <div class="control-group half">
          <label for="">Wedding Date</label>
          <div class="controls"><input type="text" name="" id="id_" class="text date" value="1/12/2000"></div>
        </div>
        <div class="control-group half">
          <label for="">Occupation</label>
          <div class="controls"><input type="text" name=""  id="id_" class="text" value="Analyst"></div>
        </div>
        <div class="control-group half">
          <label for="">Employer</label>
          <div class="controls"><input type="text" name=""  id="id_" class="text" value="National Society of Arondissements"></div>
        </div>
        <div class="control-group half">
          <label for="">School</label>
          <div class="controls"><input type="text" name=""  id="id_" class="text" value="Brown"></div>
        </div>
        <div class="control-group half">
          <label for="">Grade</label>
          <div class="controls"><input type="text" name=""  id="id_" class="text"></div>
        </div>
      </fieldset>
      <fieldset class="edit">
        <div class="control-group em">
          <label for="" class="lg">Do Not Contact&nbsp;By</label>
          <div class="controls">
            <label for=""><input type="checkbox" name="no_contact" value="email"> Email</label>
            <label for=""><input type="checkbox" name="no_contact" value="phone" checked> Telephone</label>
            <label for=""><input type="checkbox" name="no_contact" value="mail"> Mail</label>
            <label for=""><input type="checkbox" name="no_contact" value="person" checked> In Person</label>
          </div>
        </div>
        <div class="control-group half halfsy">
          <label for="">Primary Email</label>
          <div class="controls">
            <div class="textcombo">
              <input type="text" name="email_primary" class="text email">
              <input type="checkbox" name="email_primary_active">
            </div>
          </div>
        </div>
        <div class="control-group half">
          <label for="">Mobile</label>
          <div class="controls">
            <input type="text" name="mobile" class="text phone">
          </div>
        </div>
        <div class="control-group half halfsy">
          <label for="">Alt Email</label>
          <div class="controls">
            <div class="textcombo">
              <input type="text" name="email_secondary" class="text email lg">
              <input type="checkbox" name="email_secondary_active">
            </div>
          </div>
        </div>
        <div class="control-group half">
          <label for="">Work</label>
          <div class="controls">
            <input type="text" name="mobile" class="text phone">
          </div>
        </div>
      </fieldset>
      <fieldset class="display">
        <div class="control-group">
          <label for="">Title</label>
          <div class="controls"><p>
                      Mrs.
                    </p></div>
        </div>
        <div class="control-group half">
          <label for="">First Name</label>
          <div class="controls"><p>Elizabeth</p></div>
        </div>
        <div class="control-group half">
          <label for="">Goes By</label>
          <div class="controls"><p>Eliza</p></div>
        </div>
        <div class="control-group half">
          <label for="">Middle Name</label>
          <div class="controls"><p>Cassandra</p></div>
        </div>
        <div class="control-group half">
          <label for="">Last Name</label>
          <div class="controls"><p>Queen</p></div>
        </div>
        <div class="control-group half">
          <label for="">Alt Name</label>
          <div class="controls"><p></p></div>
        </div>
        <div class="control-group half">
          <label for="">Former</label>
          <div class="controls"><p>Shepherd</p></div>
        </div>
        <div class="control-group em">
          <label for="">Suffix</label>
          <div class="controls"><p></p></div>
        </div>
        <div class="control-group half">
          <label for="">Gender</label>
          <div class="controls"><p>Female</p></div>
        </div>
        <div class="control-group half">
          <label for="">Birthdate</label>
          <div class="controls"><p>April 11, 1976</p></div>
        </div>
        <div class="control-group half">
          <label for="">Marital Status</label>
          <div class="controls">
            <p>Married</p>
          </div>
        </div>
        <div class="control-group half">
          <label for="">Wedding Date</label>
          <div class="controls"><p>January 12, 2000</p></div>
        </div>
        <div class="control-group half">
          <label for="">Occupation</label>
          <div class="controls"><p>Analyst</p></div>
        </div>
        <div class="control-group half">
          <label for="">Employer</label>
          <div class="controls"><p>National Society for Arondissements</p></div>
        </div>
        <div class="control-group half">
          <label for="">School</label>
          <div class="controls"><p>Brown</p></div>
        </div>
        <div class="control-group half">
          <label for="">Grade</label>
          <div class="controls"></div>
        </div>
      </fieldset>
      <fieldset class="display">
        <div class="control-group em">
          <label for="" class="lg">Do Not Contact&nbsp;By</label>
          <div class="controls"><p>
                      In Person, Telephone
                    </p></div>
        </div>
        <div class="control-group half halfsy">
          <label for="">Primary Email</label>
            <div class="controls"><p>
                          e.queen@nsa.us.gov 
                          <i class="icon-check"></i>
                        </p></div>
        </div>
        <div class="control-group half">
          <label for="">Mobile</label>
          <div class="controls"><p>
                      (122) 555-4419
                    </p></div>
        </div>
        <div class="control-group half halfsy">
          <label for="">Alt Email</label>
          <div class="controls">
            <p>
              peliza.queen@gmail.com 
              <i class="icon-check"></i>
            </p>
          </div>
        </div>
        <div class="control-group half">
          <label for="">Work</label>
          <div class="controls"><p>
                      (101) 555-1234
                    </p></div>
        </div>
      </fieldset>
      <div class="submit-row">
        <button class="btn btn-neutral display">Edit</button>
        <button class="btn btn-neutral edit">Cancel</button>
        <button class="btn btn-primary edit">Save Changes</button>
      </div>
    </form>
  </div>
  <!-- end personal pane -->


  <!-- involvement pane -->

    <div id="involvement" class="pane">
        <ul class="nav nav-tabs">
            <li><a href="">Current</a></li>
            <li><a href="">Pending</a></li>
            <li><a href="">Previous</a></li>
            <li class="active"><a href="">Attendance History</a></li>
            <li><a href="">Registration</a></li>
        </ul>

        <table class="table table-bordered">
            <thead>
                <tr>
                    <th class="active asc"><a href="">Meeting</a></th>
                    <th><a href="">Organization</a></th>
                    <th><a href="">Member Type</a></th>
                    <th><a href="">Attend Type</a></th>
                    <th><a href="">Other</a></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>02/24/2012</td>
                    <td>Community Group</td>
                    <td>Member</td>
                    <td>In Person</td>
                    <td></td>
                </tr>
                <tr>
                    <td>04/17/2012</td>
                    <td>Mailing List</td>
                    <td>Member</td>
                    <td>Virtual</td>
                    <td></td>
                </tr>
                <tr>
                    <td>07/09/2012</td>
                    <td>Community Group</td>
                    <td>Member</td>
                    <td>In Person</td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>

  <!-- end involvement pane -->


  <!-- member profile pane -->
      <div id="member-profile" class="pane">
        <div class="submit-row">
            <button class="btn">Add Growth Request</button>
            <button class="btn">Add Group</button>
        </div>
        <div class="accordion">
            <h3>Membership</h3>
            <div>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Status</th>
                            <th>Joined</th>
                            <th>Attends</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Member</td>
                            <td>01/13/2008</td>
                            <td>West Side</td>
                            <td><a href="" class="edit"><i class="icon-pencil"></i></a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <h3>Volunteer &amp; Leadership Status</h3>
            <div></div>
            <h3>Entry</h3>
            <div></div>
            <h3>Joined</h3>
            <div></div>
            <h3>New Member Class</h3>
            <div></div>
            <h3>Baptism</h3>
            <div></div>
        </div>
    </div>
    <!-- end member profile pane -->\

    </section>
  
  </section>
  <footer class="container">
    <p class="vcard ten columns alpha">
      <span class="org">Bellevue Baptist Church</span>
      <span class="address">2000 Appling Road, Cordova TN 38016</span>
      <span class="phone">(901) 347-2000</span>
      <span class="email">webmaster@bellevue.org</span>
    </p>
    <p class="powered six columns omega">Powered by BVCMS</p>
  </footer>
  <div id="addDialog" class="modal">
    <iframe src="https://pullswitch.bvcms.com/SearchAdd?type=addpeople" frameborder="0" id="addDialogiFrame"></iframe>
    <a class="close-modal">&#215;</a>
  </div>
  <script src="js/bvcms_base.js"></script>
  <script src="chosen/chosen.jquery.min.js"></script>
  <script src="js/dropdown.js"></script>
  <script src="js/jquery.simplemodal.1.4.4.min.js"></script>
  <script>
    $(function() {
      $(".trigger-dropdown").dropdown();
      $("form select").chosen();
      $("input.date").datepicker();
      /* accordion */
      $(".accordion h3").click(function(){
        var h = $(".accordion h3.active");
        if (h)
          h.removeClass("active").next("div").slideUp("fast");
        if (!h || h.get(0) != this)
          $(this).addClass("active").next("div").slideDown("fast");
      });
      /* end accordion */
      /* set up modals/dialogs */
      $('a[data-modal-id]').live('click', function(e) {
        e.preventDefault();
        var modalLocation = $(this).attr('data-modal-id');
        $('#'+modalLocation).dialog();
      });
      /* end modal */
      /* edit button for form
          will need more advanced config for form save/cancel */
      $("button.display").click(function(e) {
        e.preventDefault();
        $("fieldset.display").hide();
        $("fieldset.edit").show();
        $(this).hide().siblings(".edit").show();
      }).siblings("button.btn-neutral").click(function(e) {
        e.preventDefault();
        $("fieldset.display").show();
        $("fieldset.edit").hide();
        $(this).hide().siblings(".btn-primary").hide().siblings(".display").show();
      });
      /* end edit button */

      /* local environment js */
      /*                                  */
      if (window.location.hash) displayPane(window.location.hash, false);
      else displayPane("#personal", false);
      $("#nav-tabs a").click(function (e) {
        e.preventDefault();
        if (!$(this).parents(".active").size()) {
          $($(this).attr("href")).addClass("loading");
          $(".pane:visible").fadeOut("fast", function() {
            displayPane("#"+$(".pane.loading").removeClass("loading").attr("id"), true);
          });
        }
      });
      /* demo sorting styles */
      $("th a").live("click", function(e) {
        e.preventDefault();
        if (!$(this).parents("th.active").size()) {
          var th = $(this).parents("th").eq(0);
          th.addClass("active asc");
          th.siblings("th").removeClass("asc desc active");
        } else {
          if ($(this).parents("th.asc").size()) $(this).parents("th").removeClass("asc").addClass("desc");
          else $(this).parents("th").removeClass("desc").addClass("asc");
        }
      });

    });
    function displayPane(hash, pushURL) {
      $(hash).fadeIn("fast", function() {
        $("#nav-tabs li.active").removeClass("active");
        $("a[href=#"+$(".pane:visible").attr("id")+"]").parents("li:eq(0)").addClass("active");
        if (pushURL && window.history && window.history.pushState && window.history.replaceState) {
          window.location.replace(hash);
          window.history.pushState(null, null, window.location.href);
        }
      });
    }
  </script>
</body>
</html>