<div id="involvement" class="pane">
    <ul class="nav nav-tabs">
        <li><a href="">Current</a></li>
        <li><a href="">Pending</a></li>
        <li><a href="">Previous</a></li>
        <li class="active"><a href="">Attendance History</a></li>
        <li><a href="">Registration</a></li>
    </ul>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th class="active asc"><a href="">Meeting</a></th>
                <th><a href="">Organization</a></th>
                <th><a href="">Member Type</a></th>
                <th><a href="">Attend Type</a></th>
                <th><a href="">Other</a></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>02/24/2012</td>
                <td>Community Group</td>
                <td>Member</td>
                <td>In Person</td>
                <td></td>
            </tr>
            <tr>
                <td>04/17/2012</td>
                <td>Mailing List</td>
                <td>Member</td>
                <td>Virtual</td>
                <td></td>
            </tr>
            <tr>
                <td>07/09/2012</td>
                <td>Community Group</td>
                <td>Member</td>
                <td>In Person</td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>
