<div class="submit-row">
    <button class="btn">Add Growth Request</button>
    <button class="btn">Add Group</button>
</div>
<div class="accordion">
    <h3>Membership</h3>
    <div>
        <table class="table">
            <thead>
                <tr>
                    <th>Status</th>
                    <th>Joined</th>
                    <th>Attends</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Member</td>
                    <td>01/13/2008</td>
                    <td>West Side</td>
                    <td><a href="" class="edit"><i class="icon-pencil"></i></a></td>
                </tr>
            </tbody>
        </table>
    </div>
    <h3>Volunteer &amp; Leadership Status</h3>
    <div></div>
    <h3>Entry</h3>
    <div></div>
    <h3>Joined</h3>
    <div></div>
    <h3>New Member Class</h3>
    <div></div>
    <h3>Baptism</h3>
    <div></div>
</div>
