@using CmsWeb.Areas.People.Models.Person
@model PersonModel
@{
    var fm = new FamilyModel(Model.displayperson.PeopleId);
}
    <div class="group">
        <h2>Related Families
            <a href="" class="add" data-modal-id="addDialog"><i class="icon-plus-sign"></i></a>
        </h2>
        <ul class="related">
            @foreach (var f in fm.RelatedFamilies())
            {
                <li><a href="" class="edit"><i class="icon-pencil"></i></a>
                    <div class="label">@f.Name</div>
                    <div class="summary">@f.Description</div>
                </li>
            }
        </ul>
    </div>
