<connectionStrings>
  <add name="CMS" connectionString="Data Source=bbc001\SqlServer;Initial Catalog=CMS2Test;user=sa;password=Thi5t1e;App=CMS2"
    providerName="System.Data.SqlClient" />
  <add name="CMSImage" connectionString="Data Source=bbc001\SqlServer;Initial Catalog=ImageDataTest;user=sa;password=Thi5t1e;App=CMSImage"
    providerName="System.Data.SqlClient" />
  <add name="CMSTest" connectionString="Data Source=bbc001\SqlServer;Initial Catalog=CMS2Test;user=sa;password=Thi5t1e"
    providerName="System.Data.SqlClient" />
</connectionStrings>
