@using CmsWeb;
@model CmsWeb.Models.TransactionsModel
@{
    Layout = "/Views/Shared/SiteLayout.cshtml";
    ViewBag.Title = "Transactions";
}
    <script type="text/javascript">
        $(document).ready(function () {
            $(".datepicker").datepicker();
            $('td.tip').tooltip({
                delay: 0,
                showURL: false,
                showBody: "|"
            });
            $('#filter').live('click', function (ev) {
                ev.preventDefault();
                var f = $(this).closest('form');
                var q = f.serialize();
                $.post("/Manage/Transactions/List", q, function (ret) {
                    $(f).html(ret);
                    $('table.grid > tbody > tr:even').addClass('alt');
                    $(".bt").button();
                    $(".datepicker").datepicker();
                });
                return false;
            });
            $('#export').live('click', function (ev) {
                ev.preventDefault();
                var f = $(this).closest('form');
                f.attr("action", "/Manage/Transactions/Export");
                f.submit();
                f.attr("action", "/Manage/Transactions/List");
                return false;
            });
            $('table.grid > tbody > tr:even').addClass('alt');
            $(".bt").button();
        });
</script>
<script src="/Scripts/Pager.js" type="text/javascript"></script>
<form id="form" method="post" action="/Manage/Transactions/List">
@{Html.RenderPartial("List", Model);}
</form>
