@using CmsWeb;
@model CmsWeb.Models.TransactionsModel
@{
    Layout = "/Views/Shared/SiteLayout.cshtml";
    ViewBag.Title = "Transactions";
}
@section scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            $.preptable = function () {
                $('table.grid > tbody > tr:even').addClass('alt');
                $(".bt").button();
                $(".datepicker").datepicker();
                $('td.tip').tooltip({
                    delay: 0,
                    showURL: false,
                    showBody: "|"
                });
            };
            $.preptable();
            $('#filter').live('click', function (ev) {
                ev.preventDefault();
                var f = $(this).closest('form');
                var q = f.serialize();
                $.post("/Manage/Transactions/List", q, function (ret) {
                    $(f).html(ret);
                    $.preptable();
                });
                return false;
            });
            $('#export').live('click', function (ev) {
                ev.preventDefault();
                var f = $(this).closest('form');
                f.attr("action", "/Manage/Transactions/Export");
                f.submit();
                f.attr("action", "/Manage/Transactions/List");
                return false;
            });
            $("a.voidcredit").live("click", function (ev) {
                ev.preventDefault();
                var a = $(this);
                if (a.hasClass("noadmin")) {
                    alert("must be admin");
                    return false;
                }
                var f = $(this).closest('form');
                var q = f.serialize();
                if (confirm("are you sure?")) {
                    $.post(a.attr("href"), q, function (ret) {
                        if (ret.substring(5, 0) == "error")
                            alert(ret);
                        else {
                            $(f).html(ret);
                            $.preptable();
                        }
                    });
                }
                return false;
            });
            $('table.grid > tbody > tr:even').addClass('alt');
            $(".bt").button();
        });
</script>
}
<form id="form" method="post" action="/Manage/Transactions/List">
@{Html.RenderPartial("List", Model);}
</form>
