@using CmsWeb;
@model CmsWeb.Models.TransactionsModel
@{
    Layout = "/Views/Shared/SiteLayout.cshtml";
    ViewBag.Title = "Transactions";
}
@section scripts
{
@Html.Script("/Scripts/Transactions.js")
}
<form id="form" method="post" action="/Manage/Transactions/List">
@{Html.RenderPartial("List", Model);}
</form>
<div id="AdjustForm" style="display:none">
    <p><label>Amount:</label><input id="amt" type="text" /></p>
    <p><label>Description:</label><input id="desc" type="text" /></p>
    <input type="button" id="post" value="Post Transaction" /> 
    <input type="button" id="cancel" value="Cancel" /> 
    <input type="hidden" id="voidurl" />
</div>
