@model CmsWeb.Models.TransactionsModel
@using CmsWeb
@using UtilityExtensions
@{ 
    var tt = Model.TotalTransactions(); 
}
    @if (tt == null)
    {
        <tr><td colspan="3">Nothing to report</td></tr>
    }
    else
    {
	<thead>
		<tr><td align="right" colspan="2">Total:</td>
			<td align="right">@tt.Amt.ToString("N2")</td>
		</tr>
        <tr><td colspan="3"><hr/></td></tr>
		<tr>
			<td>Description</td>
			<td align="right">Count</td>
			<td align="right">Total</td>
		</tr>
	</thead>
   <tbody>
		@foreach (var r in Model.FetchTransactionsByDescription())
		{
			<tr>
				<td>@r.Description</td>
				<td align="right">@r.count</td>
				<td align="right">@r.Total.ToString("N2")</td>
			</tr>
		}
	</tbody>
    } 
