@{
    Layout = "/Views/Shared/onlinereg.cshtml";
    ViewBag.Title = "Online Registration";
}


   <h2>Transaction Completed</h2>
    <p>
        Thank you for your Commitment to @ViewData["Organization"]<br />
        You should receive a confirmation email shortly.
    </p>

