@model CmsData.Transaction
@{
    Layout = "/Views/Shared/onlinereg.cshtml";
    ViewBag.Title = "Online Registration";
}
<div class="confirm">

   <h2>Transaction Completed</h2>
    <p>
        Thank you for your payment of @Model.Amt.Value.ToString("N") for @Model.Description.<br />
        Your balance is @Model.Amtdue.Value.ToString("N").<br/>
        You should receive a confirmation email shortly.
    </p>
</div>
