@using UtilityExtensions
    <p style="color: Black">
    Email sent to @Util.ObscureEmail((string)ViewData["email"]) (email obscured on purpose)
    </p>
    <p>
    <strong>One-Time Link</strong><br>
    We have sent you a One-Time Link to manage your recurring giving which you should receive shortly.
    </p>
@if ((bool?)ViewData["CreatedAccount"] == true)
{ 
    <p>
    <strong>Account Created</strong><br />
    We have created an account for you on our church database. You should receive your credentials shortly.
    </p>
} 
@if (((string)ViewBag.Url).HasValue())
{ 
    <p style="color: Blue"><a href='@ViewBag.Url'>Go back to your registration</a></p>
} 

