@{
    Layout = "/Views/Shared/onlinereg.cshtml";
    ViewBag.Title = "Online Transaction";
}
<h2>Registration Timed Out</h2>
<p style="color: Blue"><a href='@ViewBag.Url'>Start a New Transaction</a></p>