@using CmsData
@{
    ViewBag.Title = "Twilio Management";
    Layout = "/Views/Shared/SiteLayout.cshtml";
    
    var gl = from e in DbUtil.Db.SMSGroups
             select e;
    int count = 0;
    CassetteBundleConfiguration.BundleRefJs();
    Bundles.AddInlineScript(
        @<script type="text/javascript">
             $(document).ready(function() {
                 $(".bt").button();

                 $("a[dialogurl]").on("click", function(e) {
                     e.preventDefault();

                     $("#dialog").attr("title", $(this).attr("dialogtitle"));
                     $("#dialog").load($(this).attr("dialogurl"), contentLoaded);
                 });

             });

             function contentLoaded(responseText, statusText, xmlRequest) {
                 $("#dialog").dialog({ width: "auto", modal: true });
                 $(".bt").button();
                 enableClose();
             }

             function enableClose() {
                 $("input[cancelbutton]").on("click", function(e) {
                     $("#" + $(this).attr("cancelbutton")).dialog("destroy");
                 });
             }
         </script>);
}
<br />
<center><a href="#" dialogurl="/Setup/Twilio/Dialog?name=GroupDialog" dialogtitle="Create New Group" class="bt">New Group</a></center><br />
<table width="100%">
<tr>

@foreach( var item in gl )
{
    var numbers = from e in DbUtil.Db.SMSNumbers
                  where e.GroupID == item.Id
                  select e;

    var people = from e in DbUtil.Db.SMSGroupMembers
                 where e.GroupID == item.Id
                 select e;
    
    <td width="25%" valign="top">
        <div style="border:1px solid black; border-radius:7px; margin:1%;">
            <div style="border-radius:7px 7px 0 0; border-bottom:1px solid black; background-color:#E4E2D5; padding:5px;">
                <b><a href="#" dialogurl="/Setup/Twilio/Dialog/@(item.Id)?name=GroupDialog" dialogtitle="Edit Group">@item.Name</a></b>
                <div style="float:right;">
                    (<a href="#" dialogurl="/Setup/Twilio/Dialog/@(item.Id)?name=RemoveDialog" dialogtitle="Remove Group">Remove</a>)
                </div>
            </div>
            <div style="padding:5px;">
                <table width="100%" border="0">
                    <tr>
                        <td colspan="2"><b>Description</b></td>
                    </tr>
                    <tr>
                        <td colspan="2" style="padding-left:10px;">@item.Description<br /><br /></td>
                    </tr>
                    <tr>
                        <td><b>Numbers</b></td>
                        <td align="right">
                            <a href="#" dialogurl="/Setup/Twilio/Dialog/@(item.Id)?name=NumberDialog" dialogtitle="Add New Number">Add</a>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" style="padding-left:10px;">
                            @foreach (var number in numbers)
                            {
                                @number.Number @:(<a href="/Setup/Twilio/NumberRemove/@number.Id">Remove</a>)<br />
                            }
                            &nbsp;<br />
                        </td>
                    </tr>
                    <tr>
                        <td><b>Users</b></td>
                        <td align="right">
                            <a href="#" dialogurl="/Setup/Twilio/Dialog/@(item.Id)?name=UserDialog" dialogtitle="Add New User">Add</a>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" style="padding-left:10px;">
                            @foreach (var person in people)
                            {
                                @person.User.Name @:(<a href="/Setup/Twilio/UserRemove/@person.Id">Remove</a>)<br />
                            }
                            &nbsp;<br />
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </td>
    count++;
    if (count > 3)
    {
        count = 0;
        @:</tr><tr>
    }
}
@{
    int iCount = gl.Count();
    int iLeft =  iCount % 4;
    if ( iLeft != 0)
    {
        for (int iX = 0; iX < (4-iLeft); iX++)
        {
            @:<td width="25%">&nbsp;</td>
        }
    }
}
</tr>
</table>

<!-- New Group Creation Dialog -->
<div id="dialog" style="display:none">
	
</div>