@using CmsData
@{
    int groupID = ViewBag.ID;
    SMSGroup group = (from e in DbUtil.Db.SMSGroups
                      where e.Id == groupID
                      select e).Single();
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>RemoveDialog</title>
</head>
<body>
    <center>
	    <form action="/Setup/Twilio/GroupRemove" method="post">
            <input type="hidden" name="id" value="@groupID" />
	        <table cellspacing="10">
	        <tr>
		        <td align="center">
                    Are you sure you want to remove this group?<br />
                    <br />
                    <b>@group.Name</b><br />
                    @group.Description

		        </td>
	        </tr>
	        <tr>
		        <td align="center" colspan="2">
                    <br />
			        <input type="submit" class="bt" value="Yes" /> &nbsp;&nbsp; <input type="button" class="bt" cancelbutton="dialog" value="No" />
		        </td>
	        </tr>
	        </table>
	    </form>
	</center>
</body>
</html>