@using UtilityExtensions
@using CmsData
@model CmsData.Person
<table class="grid">
<thead>
    <tr>
        <th colspan="4">Changes</th>
    </tr>
    <tr>
        <th>User</th>
        <th>Field</th>
        <th>Time</th>
        <th>Value</th>
    </tr>
</thead>
<tbody>
@{ var q = from c in DbUtil.Db.ChangeLogs
           let userp = DbUtil.Db.People.Single(u => u.PeopleId == c.UserPeopleId)
           where c.PeopleId == Model.PeopleId || c.FamilyId == Model.FamilyId
           orderby c.Created descending
           select new { User = userp.Name, Field = c.Field, Data = c.Data, Time = c.Created };
}
@foreach (var c in q)
{ 
    <tr>
        <td valign="top">@c.User</td>
        <td valign="top">@c.Field</td>
        <td valign="top">@c.Time.ToString("M/d/yy h:mm tt")</td>
        <td>@Html.Raw(c.Data)</td>
    </tr>
} 
</tbody>
</table>

