@using UtilityExtensions

@if (User.IsInRole("Edit"))
   { 
<a class="displayedit" href="/Person/CommentsEdit/@ViewData["PeopleId"]">Edit</a>
 } 
<strong>Comments:</strong><br />
@Html.Raw((string)ViewData["Comments"])


