@model int
<table>
<tr>
<td valign="top">
<div class="roundbox pad10"><h2>Contacts Given</h2>
    <div><a href="/Person/AddContactMade/@Model" 
        confirm="Are you sure you want to add a new contact record?" 
        class="CreateAndGo bt sz1">Add New</a>
    <a href="/Manage/Emails/SentBy/@Model">Sent emails</a></div>
    <form class="gridf" action="/Person/ContactsMadeGrid/@Model">
    </form>
</div>
</td>
<td>&nbsp;</td>
<td valign="top"><div class="roundbox pad10">
    <h2>Contacts Received</h2>
    <div><a href="/Person/AddContactReceived/@Model" 
        confirm="Are you sure you want to add a new contact record?" 
        class="CreateAndGo bt sz1">Add New</a>
    <a href="/Person/AddAboutTask/@Model" 
        confirm="Are you sure you want to add a new task about this person?" 
        class="CreateAndGo bt sz1">Add New Task</a>
    <a href="/Manage/Emails/SentTo/@Model">Received emails</a></div>
    <form class="gridf" action="/Person/PendingTasksGrid/@Model">
    </form>
    <form class="gridf" action="/Person/ContactsReceivedGrid/@Model">
    </form>
</div>
</td></tr>
</table>         
