@model CmsWeb.Models.PersonPage.PersonContactsReceivedModel
@if(Model.Count()>0)
{
<table class="grid">
<thead>
    <tr>
        <th>Contact Date</th>
        <th>Type</th>
        <th>Reason</th>
    </tr>
</thead>
<tbody>
    @foreach (var c in Model.Contacts())
    { 
    <tr>
        <td><a href="/Contact.aspx?id=@c.ContactId">@c.ContactDate.ToShortDateString()</a></td>
        <td>@c.TypeOfContact</td>
        <td>@c.ContactReason</td>
    </tr>
    }
</tbody>
</table>
@Html.Partial("Pager2", Model.Pager) 
}
else
{
    <div>No Tasks</div>
}


