@model IQueryable<CmsWeb.Areas.Main.Controllers.PersonController.CurrentRegistration>
@{
	ViewBag.Title = "Current Registrations";
    Layout = "/Views/Shared/SiteLayout.cshtml";
}

<h2>Current Registrations</h2>

@foreach(var v in Model)
{
	<a href="/OnlineReg/Index/@v.OrgId">@v.Name</a><br/>
    @v.Description<br/>
}
