@using UtilityExtensions
@using CmsData
@model CmsData.Person
<h3>Extra Values</h3>
@if (User.IsInRole("Edit"))
{
<a id="newextravalue" href="#" class="bt">Add New Field</a>
}
<table id="extravalues" class="grid">
<thead>
    <tr>
    </tr>
    <tr>
        <th>Field</th>
        <th>Value</th>
        <th></th>
    </tr>
</thead>
<tbody>
@foreach(var f in CmsWeb.Code.StandardExtraValues.GetExtraValues(Model.PeopleId))
{
    @Html.EditorFor(m => f)
}
</tbody>
</table>

<div>
    <hr/>
    <h4>Status Flags</h4>
    @Html.Raw(DbUtil.Db.StatusFlagsAll(Model.PeopleId).Replace(",", "<br/>\n"))
</div>