@using UtilityExtensions
@model CmsWeb.Models.PersonPage.MemberNotesInfo
<table class="Design2">
    <tr>
        <th colspan="2" class="Design2Head">Letter</th>
    </tr>
    <tr>
        <th>Status:</th>
        <td>@Html.DropDownList("LetterStatusId", CmsWeb.Models.PersonPage.MemberNotesInfo.LetterStatuses())</td>
    </tr>
    <tr>
        <th>Date Requested:</th>
        <td>@Html.TextBox("LetterRequested", Model.LetterRequested.FormatDate(), new { @class = "datepicker" })</td>
    </tr>
    <tr>
        <th>Date Received:</th>
        <td>@Html.TextBox("LetterReceived", Model.LetterReceived.FormatDate(), new { @class = "datepicker" })</td>
    </tr>
<tr><td></td></tr>
    <tr>
        <th>Notes:</th>
        <td>
            @Html.TextArea("LetterNotes")
        </td>
    </tr>
<tr><td></td></tr>

        <td><a href="/Person/MemberNotesUpdate/@Model.PeopleId" class="submitbutton">Save Changes</a>
            <a class="displayedit bt" href="/Person/MemberNotesDisplay/@Model.PeopleId">cancel</a>
        </td>
    </tr>
</table>

