@model CmsData.Person
@using CmsData
@using UtilityExtensions
<a href="/Manage/Emails/Failed/@Model.PeopleId">Failed Sent Emails</a>
<h3>Email Optouts</h3>
<label for="optoutemail">Optout of Email Address:</label>
<input type="text" id="optoutemail" style="width: 20em"/>
<a href="/Person/AddOptout/@Model.PeopleId" id="addoptoutemail" class="bt">Add Optout</a>
@if (Model.EmailOptOuts.Count > 0)
{
<table class="grid" cellspacing="5">
<thead>
    <tr>
		<td><b>From Email</b></td>
        <td>Date</td>
        <td></td>
    </tr>
</thead>
<tbody>
    @foreach (var oo in Model.EmailOptOuts)
    { 
    <tr>
        <td>@oo.FromEmail</td>
        <td>@oo.DateX.FormatDate()</td>
        <td><a class="deloptout" href="/Person/DeleteOptout/@oo.ToPeopleId?email=@oo.FromEmail"><img src="/images/delete.gif" /></a></td>
    </tr>
    } 
</tbody>
</table>
} 

