@using UtilityExtensions
@using CmsData
@model CmsData.Person
@if (User.IsInRole("Admin"))
{ 
<a href="/Person/UserDialog" class="bt membertype">Add New User</a>
} 
@if (Model.Users.Count > 0)
{ 
<table class="grid">
<thead>
    <tr>
        @if (User.IsInRole("Admin"))
		{
        <th></th>
		}
        <th>Username</th>
        <th>Roles</th>
    </tr>
</thead>
<tbody>
    @foreach (var u in Model.Users)
    { 
    <tr>
        @if (User.IsInRole("Admin"))
        { 
		<td valign="top"> <a href="/Person/Impersonate/@u.Username" class="bt">impersonate</a> </td>
		<td valign="top"><a href="/Person/UserDialog/@u.UserId" class="membertype bt">@u.Username</a></td>
        }
	
        else
        { 
        <td valign="top">@u.Username</td>
        } 
        <td>
        <table>
        @foreach (var r in u.Roles)
        { 
           <tr><td>@r</td></tr>
        } 
        </table>
        </td>
    </tr>
    } 
</tbody>
</table>
} 

