@using UtilityExtensions
@model CmsWeb.Models.PersonPage.VolunteerModel

<table class="grid" style="border-style: groove; border-width: thin;" >
    <tr>
        <th>Approvals:</th>
        <td><input type="checkbox" @(Model.vol.Standard ? "checked='checked'" : "") disabled="disabled" />
            Standard (references only)<br />
            <input type="checkbox" @(Model.vol.Leader ? "checked='checked'" : "") disabled="disabled" />
            Leadership (background check)
        </td>
        <td>
@if (User.IsInRole("ApplicationReview"))
{ 
        //<a href="/AppReview/VolunteerApp.aspx?id=@Model.vol.PeopleId">Volunteer Application Review</a>
        <a href="/Volunteering/Index/@Model.vol.PeopleId">Volunteer Application Review</a>
} 
        </td>
    </tr>
    <tr>
        <th>Background Check:</th>
        <td colspan="2">@Model.vol.ProcessedDate.FormatDate()</td>
    </tr>
@*    <tr>
        <td valign="top">Volunteer Opportunities</td>
        <td colspan="2">
@foreach (var vv in Model.VolOpportunities())
{
        <a href='/Volunteer/Picklist2?view=@vv&pid=@Model.vol.PeopleId' target="volunteerop">@vv</a><br />
}
     </td></tr>
*@    </table>