@model IEnumerable<CmsWeb.Areas.Setup.Controllers.LookupController.Row>
@{
    Layout = "/Views/Shared/SiteLayout.cshtml";
    ViewBag.Title = "Lookups";
}
@section head
{
    <style>
    li.item {
        margin-top: .7em;
        margin-left: 1em;
}
        
    </style>
}
<h2>Lookup Tables</h2>
<ul style="float:left">
	<li class="item"><a href="/Setup/Lookup/Index/AddressType">AddressType</a></li>
	<li class="item"><a href="/Setup/Lookup/Index/AttendCredit">AttendCredit</a></li>
	<li class="item"><a href="/Setup/Lookup/Index/AttendType">AttendType</a></li>
    <li class="item"><a href="/Setup/Lookup/Index/BackgroundCheckLabels">BackgroundCheckLabels</a></li>
	<li class="item"><a href="/Setup/Lookup/Index/BaptismStatus">BaptismStatus</a></li>
	<li class="item"><a href="/Setup/Lookup/Index/BaptismType">BaptismType</a></li>
	<li class="item"><a href="/Setup/Lookup/Index/BundleHeaderTypes">BundleHeaderTypes</a></li>
	<li class="item"><a href="/Setup/Lookup/Index/BundleStatusTypes">BundleStatusTypes</a></li>
	<li class="item"><a href="/Setup/Lookup/Index/Campus">Campus</a></li>
	<li class="item"><a href="/Setup/Lookup/Index/ContributionStatus">ContributionStatus</a></li>
	<li class="item"><a href="/Setup/Lookup/Index/ContributionType">ContributionType</a></li>
	<li class="item"><a href="/Setup/Lookup/Index/DecisionType">DecisionType</a></li>
    <li class="item"><a href="/Setup/Lookup/Index/NewMemberClassStatus">NewMemberClassStatus</a></li>
</ul>
<ul style="float:left">
    <li class="item"><a href="/Setup/Lookup/Index/DropType">DropType</a></li>
    <li class="item"><a href="/Setup/Lookup/Index/EntryPoint">EntryPoint</a></li>
	<li class="item"><a href="/Setup/Lookup/Index/EnvelopeOption">EnvelopeOption</a></li>
	<li class="item"><a href="/Setup/Lookup/Index/FamilyPosition">FamilyPosition</a></li>
	<li class="item"><a href="/Finance/Fund">Funds</a></li>
	<li class="item"><a href="/Setup/Lookup/Index/Gender">Gender</a></li>
	<li class="item"><a href="/Setup/Lookup/Index/InterestPoint">InterestPoint</a></li>
	<li class="item"><a href="/Setup/Lookup/Index/JoinType">JoinType</a></li>
	<li class="item"><a href="/Setup/Lookup/Index/MaritalStatus">MaritalStatus</a></li>
	<li class="item"><a href="/Setup/Lookup/Index/MemberLetterStatus">MemberLetterStatus</a></li>
	<li class="item"><a href="/Setup/Lookup/Index/MemberStatus">MemberStatus</a></li>
	<li class="item"><a href="/Setup/MemberType">Member Types</a></li>
    <li class="item"><a href="/Setup/Ministry">Ministries</a></li>
</ul>
<ul style="float:left">
    <li class="item"><a href="/Setup/Lookup/Index/NameTitle">NameTitle</a></li>
    <li class="item"><a href="/Setup/Lookup/Index/ContactReason">ContactReason</a></li>
    <li class="item"><a href="/Setup/Lookup/Index/ContactType">ContactType</a></li>
    <li class="item"><a href="/Setup/Lookup/Index/OrganizationStatus">OrganizationStatus</a></li>
    <li class="item"><a href="/Setup/Lookup/Index/OrganizationType">OrganizationType</a></li>
    <li class="item"><a href="/Setup/Lookup/Index/Origin">Origin</a></li>
    <li class="item"><a href="/Setup/Lookup/Index/ResidentCode">ResidentCode</a></li>
    <li class="item"><a href="/Setup/Roles">Roles</a></li>
    <li class="item"><a href="/Setup/Lookup/Index/ShirtSizes">ShirtSizes</a></li>
    <li class="item"><a href="/Setup/Lookup/Index/TaskStatus">TaskStatus</a></li>
    <li class="item"><a href="/Setup/Lookup/Index/VolApplicationStatus">VolApplicationStatus</a></li>
    <li class="item"><a href="/Setup/Lookup/Index/VolunteerCodes">VolunteerCodes</a></li>
</ul>
<div style="clear: both"></div>