@using UtilityExtensions;
@using CmsWeb;
@model CmsWeb.Models.EmailModel
<table>
<tr><th>Name</th><th>Address</th><th>Opens</th></tr>
@foreach(var p in Model.Recipients())
{
<tr><td><a href="/Manage/Emails/SentTo/@p.peopleid">@p.name</a></td>
    <td>@p.address</td>
    <td>@p.nopens</td></tr>    
}
</table>
@{Html.RenderPartial("Pager2", Model.Pager);}