<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PostPodcast.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PostPodcast.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <PostPodcast.Properties.Settings>
            <setting name="Title" serializeAs="String">
                <value />
            </setting>
            <setting name="Description" serializeAs="String">
                <value />
            </setting>
            <setting name="Date" serializeAs="String">
                <value>01/01/1980 08:00:00</value>
            </setting>
            <setting name="Directory" serializeAs="String">
                <value />
            </setting>
        </PostPodcast.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <PostPodcast.Properties.Settings>
            <setting name="PostPodcast_WebSvc_WebService1" serializeAs="String">
                <value>http://localhost:53135/WebService1.asmx</value>
            </setting>
        </PostPodcast.Properties.Settings>
    </applicationSettings>
</configuration>