	<connectionStrings>
    <add name="CMS" connectionString="Data Source=bbc001\SqlServer;Initial Catalog=CMS2;password=sys4123;user=sa" providerName="System.Data.SqlClient"/>
    <add name="CMSImage" connectionString="Data Source=bbc001\SqlServer;Initial Catalog=ImageData;password=                 sys4123;user=sa" providerName="System.Data.SqlClient"/>
    <add name="CMS2Test" connectionString="Data Source=bbc001\SqlServer;Initial Catalog=CMS2Test;Integrated Security=True;App=CMSImage"
		  providerName="System.Data.SqlClient" />
    <remove name="LocalSqlServer"/>
    <add name="LocalSqlServer" connectionString="Server=bbc001\SqlServer;Database=CMSMembership;Integrated Security=True" providerName="System.Data.SqlClient"/>
	</connectionStrings>
