@inherits System.Web.Mvc.WebViewPage
<ol id="addPersonTutorial" style="display:none">
  <li data-id="name">This is <b><u>experimental</u></b> feature coming soon.<br /><br /></li>
  <li data-id="phone">Upcoming birthdays here<br /><br /></li>
  <li data-id="address">This is where your tags are.<br /><br /></li>
  <li data-id="dob" data-text="Click Here To Continue">This is how you get help<br /><br /></li>
</ol>