@using UtilityExtensions
@using CmsWeb
@model CmsWeb.Models.MeetingModel
@{
    ViewBag.Title = "Meeting Tickets";
    Layout = "~/Views/Shared/SiteLayout.cshtml";
}
@section head
{
    <style>
        div.bgred {
            background-color: pink;
        }

        div.bgyellow {
            background-color: yellow;
        }
    </style>
}
@section scripts
{
    <script type="text/javascript" src="@Fingerprint.Tag("/Scripts/meeting/meeting-ticket.js")"></script>
}
<embed src="/Content/zylo.wav" autostart="false" width="0" height="0" id="zylo" enablejavascript="true">
<embed src="/Content/ding.wav" autostart="false" width="0" height="0" id="ding" enablejavascript="true">
<form id="markform" method="Post">
    <table>
        <tr>
            <td id="meeting">
                @Html.Partial("TicketMeeting", Model)
            </td>
            <td class="bottom">
                <div style="margin-left: 1em;">
                    Find Name<br />
                    @Html.TextBox("name")
                    <br />
                    <br />
                    Wand Target<br />
                    @Html.TextBox("wandtarget")
                </div>
            </td>
        </tr>
    </table>
</form>
<hr />
<div id="mark">
</div>
