	<connectionStrings>
    <add name="pointharbor.bvcms.com" connectionString="Data Source=.;Initial Catalog=CMS_pointharbor;Integrated Security=True"
  providerName="System.Data.SqlClient" />
    <add name="pointharbor.bvcms.com.image" connectionString="Data Source=.;Initial Catalog=CMS_pointharbor_img;Integrated Security=True;App=CMSImageTest"
      providerName="System.Data.SqlClient" />
    <add name="starter.bvcms.com" connectionString="Data Source=.;Initial Catalog=CMS_starter;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="starter.bvcms.com.image" connectionString="Data Source=.;Initial Catalog=CMS_starter_img;Integrated Security=True;App=CMSImageTest"
      providerName="System.Data.SqlClient" />
    <add name="faithbaptistwamo.bvcms.com" connectionString="Data Source=.;Initial Catalog=CMS_faithbaptistwamo;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="faithbaptistwamo.bvcms.com.image" connectionString="Data Source=.;Initial Catalog=CMS_faithbaptistwamo_img;Integrated Security=True;App=CMSImageTest"
      providerName="System.Data.SqlClient" />
    <add name="gracelouisville.bvcms.com" connectionString="Data Source=.;Initial Catalog=CMS_gracelouisville;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="gracelouisville.bvcms.com.image" connectionString="Data Source=.;Initial Catalog=CMS_gracelouisville_img;Integrated Security=True;App=CMSImageTest"
      providerName="System.Data.SqlClient" />
    <add name="edgechurch.bvcms.com" connectionString="Data Source=.;Initial Catalog=CMS_edgechurch;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="edgechurch.bvcms.com.image" connectionString="Data Source=.;Initial Catalog=CMS_edgechurch_img;Integrated Security=True;App=CMSImageTest"
      providerName="System.Data.SqlClient" />

    <add name="demo.bvcms.com" connectionString="Data Source=.;Initial Catalog=CMSDemo;Integrated Security=True"
		  providerName="System.Data.SqlClient" />
    <add name="demo.bvcms.com.image" connectionString="Data Source=.;Initial Catalog=ImageData;Integrated Security=True;App=CMSImageTest"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
