	<connectionStrings>
    <add name="pointharbor.bvcms.com" connectionString="Data Source=.;Initial Catalog=CMS_pointharbor;Integrated Security=True"
  providerName="System.Data.SqlClient" />
    <add name="pointharbor.bvcms.com.image" connectionString="Data Source=.;Initial Catalog=CMS_pointharbor_img;Integrated Security=True;App=CMSImageTest"
      providerName="System.Data.SqlClient" />
    <add name="starter.bvcms.com" connectionString="Data Source=.;Initial Catalog=CMS_starter;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="starter.bvcms.com.image" connectionString="Data Source=.;Initial Catalog=CMS_starter_img;Integrated Security=True;App=CMSImageTest"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
