@using CmsWeb.Models
@model TitleItems
<hr />
<table>
    <tr><th colspan="2" class="left">@Model.title</th></tr>
    <tr><td><b>Code</b></td><td><b>Description</b></td></tr>
@foreach (var i in Model.items)
{
    <tr><td>@i.Id</td><td>@i.Value</td></tr>
}
</table>
