@model dynamic

@{
    Layout = null;
}
<!DOCTYPE html>
<html>
    <head>
        <title>title</title>
    </head>
    <body>
        <div>

<h2>query</h2>
<form action="/Batch/SQLSelectResults" method="post">
    <input type="submit" class="bt" value="Submit" />
    @Html.TextArea("text", "", new { rows = "20", cols = "100", wrap = "off", style = "width:90%" })<br />
</form>
              
        </div>
    </body>
</html>