@{
    ViewBag.Title = "TagPeopleIds";
    Layout = "~/Views/Shared/SiteLayout.cshtml";
}
<h2>Tag PeopleIds</h2>
<em>One row per PeopleId</em>
<form action="/Batch/TagUploadPeopleIds" method="post" enctype="multipart/form-data">
    <label>Tag name: </label> @Html.TextBox("name")
    <label>@Html.CheckBox("newtag")Force New Tag</label>&nbsp;&nbsp;&nbsp;
    <input type="submit" class="bt" value="Submit" />
    @Html.TextArea("text", "", new { rows = "20", cols = "100", wrap = "off", style = "width:90%" })<br />
</form>