<!DOCTYPE html>
<html>
<head>
    <title>Test</title>
    <style type="text/css">
        #statusBorder
        {
            position:relative;
            height:5px;
            width:100px;
            border:solid 1px gray;
            display:none;
        }
        #statusFill
        {
            position:absolute;
            top:0;
            left:0;
            width:0px;
            background-color:Blue;
            height:5px;
        }
    </style>
    @Helper.IncludeJs()
    <script type="text/javascript">
        $(document).ready(function (ev) {
            $('#start').click(function () {
                ev.preventDefault();
                $.post("/Batch/TestStart", { id: $("#guid").val() }, function (ret) {
                    $('#total').val(ret);
                    getStatus();
                });
                $('#statusBorder').show();
            });
        });

        function getStatus() {
            $.post('/Batch/TestProgress/', { id: $("#guid").val() }, function (data) {
                if (data > 0) {
                    var t = $("#total").val();
                    var p = (t - data) / t * 100;
                    $('#status').html(data);
                    $('#statusFill').width(p);
                    window.setTimeout('getStatus();', 100);
                }
                else {
                    $('#status').html("Done");
                    $('#statusBorder').hide();
                    alert("The Long process has finished");
                };
            });
        }
    </script>
</head>
<body>
@Html.Hidden("guid")
@Html.Hidden("total")
    <div>
       <a id="start" href="#">start</a> 
    </div>
    <div id="status"></div>
    <div id="statusBorder">
        <div id="statusFill">
        </div>
    </div>
</body>
</html>
