@model CmsWeb.Models.UpdateFieldsModel
@{
    ViewBag.Title = "Update Fields for Tag";
    Layout = "~/Views/Shared/SiteLayout.cshtml";
}

<h2>Update Fields for Tag</h2>
<h4>@ViewData["success"]</h4>
<form method="post" action="/Batch/UpdateFields/Run">
<table>
<tr><td><b>Tag:</b></td><td><b>Field:</b></td></tr>
<tr><td>@Html.DropDownList("Tag", Model.Tags())</td>
    <td>@Html.DropDownList("Field", Model.Fields())</td></tr>
<tr><td align="right"><b>New Value:</b>@Html.TextBox("NewValue")</td><td></td></tr>
<tr><td></td><td><input type="submit" class="bt" value="Run" /></td></tr>
</table>
</form>

@{Html.RenderPartial("LookupData", Model.TitleItems());}

<blockquote>
<hr />
<table>
    <tr><th colspan="2" align="left">Grade</th></tr>
    <tr><td><b>Code</b></td><td><b>Description</b></td></tr>
    <tr><td>-1</td><td>Pre K</td></tr>
    <tr><td>&nbsp;0</td><td>Kindergarten</td></tr>
    <tr><td>1-12</td><td>Grade</td></tr>
    <tr><td>13</td><td>Freshman</td></tr>
    <tr><td>14</td><td>Sophmore</td></tr>
    <tr><td>15</td><td>Junior</td></tr>
    <tr><td>16</td><td>Senior</td></tr>
    <tr><td>99</td><td>Special Class</td></tr>
    <tr><td>YYYY</td><td>Graduation Year</td></tr>
    <tr><td>+1</td><td>Add 1 to the Grade</td></tr>
</table>
<hr />
</blockquote>