@{
    ViewBag.Title = "Update People";
    Layout = "~/Views/Shared/SiteLayout.cshtml";
}
<h2>Batch Update People</h2>
    
<form action="/Batch/UpdatePeople" method="post" enctype="multipart/form-data">
  UpdatePeople.xls file:   <input type="file" name="file" id="file" />
  <input type="submit"  class="bt"/>
</form>