@using UtilityExtensions
@using CmsData
@model CmsData.Family
<a id="newextravalue" href="#" class="bt">Add New Field</a>
<table id="extravalues" class="grid">
<thead>
    <tr>
        <th colspan="2">Extra Values</th>
    </tr>
    <tr>
        <th>Field</th>
        <th>Value</th>
        <th></th>
    </tr>
</thead>
<tbody>
@foreach(var f in CmsWeb.Code.FamilyExtraValues.GetExtraValues(Model.FamilyId))
{
    @Html.EditorFor(m => f)
}
</tbody>
</table>
