
Comments:<br />
@Html.TextArea("Comments", new { rows = "16", style = "width:90%" })<br />
<a class="displayedit bt" href="/Person/CommentsDisplay/@ViewData["PeopleId"]">Cancel</a>
<a href="/Person/CommentsUpdate/@ViewData["PeopleId"]" class="submitbutton bt blue">Save Changes</a>

