@using UtilityExtensions
@model CmsWeb.Models.PersonPage.MemberNotesInfo
@if (User.IsInRole("Edit"))
{ 
<a class="displayedit bt edit" href="/Person/MemberNotesEdit/@Model.PeopleId">Edit</a>
} 
<table>
    <tr>
        <td class="top">
            <table class="Design2">
                <tr>
                    <th colspan="6" class="Design2Head">Letter</th>
                </tr>
                <tr>
                    <th>Status:</th>
                    <td>@Model.LetterStatus</td>
                    <th>Date Requested:</th>
                    <td>@Model.LetterRequested.FormatDate()</td>
                    <th>Date Received:</th>
                    <td>@Model.LetterReceived.FormatDate()</td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td class="top">
            <strong>Notes:</strong><br />
            @Model.LetterNotes
        </td>
    </tr>
</table>

