@model IEnumerable<CmsData.View.OrphanedImage>
@{
    Layout = "/Views/Shared/SiteLayout.cshtml";
    ViewBag.Title = "OrphanedImage";
    CassetteConfiguration.BundleRefJs();
    Bundles.AddInlineScript(
        @<script type="text/javascript">
             $(function() {
                 $("a.delete").click(function(ev) {
                     $.post("/Setting/DeleteImage/" + $(this).attr("id"), {}, function(ret) {
                         $(ret).remove();
                     });
                     return false;
                 });
             });
         </script>);
}
<h2>OrphanedImages</h2>
<table>
    <tr>
        <th> Id </th>
        <th> Length </th>
        <th></th>
        <th> Mimetype </th>
    </tr>
@foreach (var item in Model)
{ 
    <tr id="r@(item.Id)">
        <td> <a href="/Image.aspx?id=@item.Id" target="image">@item.Id</a> </td>
        <td> @item.Length </td>
        <td><a href="#" class="delete" id="d@item.Id">delete</a></td>
        <td> @item.Mimetype </td>
    </tr>

}
</table>



@section head {


}


