<?xml version="1.0"?>
<connectionStrings>
  <clear />
  <!--<add name="Disc" connectionString="Data Source=.;Initial Catalog=Disciples;Integrated Security=True" />-->
  <!--<add name="Disc" connectionString="Data Source=.;AttachDbFilename=|DataDirectory|StarterDiscDb.mdf;Integrated Security=True;Connect Timeout=30;User Instance=False" />-->
  <add name="CMSs" connectionString="Data Source=.;Initial Catalog=CMS_StarterDb;Integrated Security=True"
       providerName="System.Data.SqlClient"/>
  <add name="CMS" connectionString="Data Source=.;Initial Catalog=CMS2;Integrated Security=True"
       providerName="System.Data.SqlClient"/>

</connectionStrings>
