@model CmsWeb.Areas.Main.Models.MassEmailer
@{
    Layout = "/Views/Shared/SiteLayout.cshtml";
    ViewBag.Title = "Timeout";
}

<p style="font-size:130%;color:red">
Your session timed out. Please copy your email content below the line and start over.
</p>
<h2>@Model.Subject</h2>
<hr />
<div style="max-width:600px">
@Html.Raw(Model.Body)
</div>