@model CmsWeb.Models.SGMapModel
@using CmsWeb
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Index</title>
    <style type="text/css">
        body
        {
            font-family: Verdana;
            font-size: 9pt;
            font-weight: normal;
        }
        .map
        {
            width: 400px;
            height: 600px;
            border: 1px solid #000;
            margin-bottom: 20px;
        }
    </style>
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
    <script type="text/javascript" src="/Content/js/jquery-1.5.2.min.js"></script>
    <script type="text/javascript" src="/Content/js/jquery.gmap.min.js"></script>
    @Html.Raw(Html.Json("markers", Model.Locations()))
    <script type="text/javascript">
        $(function () {
            $('#map').gMap({
                zoom: 13,
                markers: markers
            });
        });
    </script>
</head>
<body>
<h2>Prototype BVCMS Small Group Mapper and selector</h2>
    <table>
        <tr>
            <td>
                <div id="map" class="map">
                </div>
            </td>
            <td width="180">
                <ul style="overflow: auto; height: 600px">
                    @foreach (var i in Model.Locations())
                    {
                        <li>@Html.Raw(i.html)</li>
                    }
                </ul>
            </td>
        </tr>
    </table>
</body>
</html>
