@model CmsWeb.Models.SearchModel
@using CmsWeb
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
@Html.Partial("CombindedCss")
</head>

<body>
@Html.Partial("CombinedJs")
@Html.Script("/Scripts/SearchAdd.js")
<form action="/SearchAdd/Complete/" method="post" class="DisplayEdit">
 @Html.Partial("SearchPerson", Model) 
</form>
</body>
</html>
