@model CmsData.Registration.Ask
@using CmsWeb
@using (var ci = Html.BeginCollectionItem(Model.Name))
{
	<li class="type-@Model.Type">@Html.Raw(ci.hiddenindex)
        @Html.HiddenFor(m => m.Type)
		<span class="keyword big tip" title="AskAllergies
|Displays a multi-line text box to enter any medical information">
			AskAllergies
					<a class="delt" href="#"><img align="top" src="/images/delete.gif" title="remove this item" /></a></span>
	</li>
}
