@model CmsData.Registration.AskExtraQuestions
@using CmsWeb
@using (var ci = Html.BeginCollectionItem(Model.Name))
{
    var listname = Html.NameFor(m => m.list);
	<li class="type-@Model.Type">@Html.Raw(ci.hiddenindex)
        @Html.HiddenFor(m => m.Type)
		<div class="text big tip" title="ExtraQuestions
    |These questions can be answered with text">
			ExtraQuestions:
					<a class="delt" href="#"><img align="top" src="/images/delete.gif" title="remove this item" /></a></div>
		<ul id="ExtraQuestions" class="sort">
			@foreach(var item in Model.list)
			{
                item.Name = listname;
				@Html.EditorFor(m => item)
			}
		</ul>
		<div class="newitem"><a href="/Organization/NewExtraQuestion/@listname"><img src="/images/plus1.png" /> Add Item</a></div>
	</li>
}

