@model CmsData.Registration.AskGradeOptions
@using CmsWeb
@using (var ci = Html.BeginCollectionItem(Model.Name))
{
	var listname = Html.NameFor2(m => m.list);
	<li class="type-@Model.Type">@Html.Raw(ci.hiddenindex)
		@Html.HiddenFor(m => m.Type)
		<div class="text big tip" title="AskGradeOptions
        |This allows you to specify the grade being registered for">
		    AskGradeOptions:
					<a class="delt" href="#"><img align="top" src="/images/delete.gif" title="remove this item" /></a></div>
		<ul id="GradeOptions">
			<li><span class="keyword2">Label:</span>
				@Html.TextBoxFor(m => Model.Label, new {@class = "long"})
				<ul id="GradeOptions" class="sort">
					@foreach(var item in Model.list)
					{
					    item.Name = listname;
						@Html.EditorFor(m => item)
					}
				</ul>
				<div class="newitem"><a href="/Organization/NewGradeOption/@listname"><img src="/images/plus1.png" /> Add Item</a></div>
			</li>
		</ul>
	</li>
}