@model CmsData.Registration.AskGradeOptions
@using CmsWeb
@using (var ci = Html.BeginCollectionItem(Model.Name))
{
	<li>@Html.Raw(ci.hiddenindex)
		@Html.HiddenFor(m => m.Type)
		<span class="keyword big tip" title="AskGradeOptions
        |This allows you to specify the grade being registered for">
			AskGradeOptions:</span> 
		<ul>
			<li><span class="keyword2">Label:</span>
				@Html.TextBoxFor(m => Model.Label, new {@class = "long"})
				<ul id="GradeOptions" class="sort">
					@foreach(var item in Model.list)
					{
                        item.Name = Html.NameFor2(m => m.list);
						@Html.EditorFor(m => item)
					}
				</ul>
				<div class="newitem"><a href="/Organization/NewGradeOption"><img src="/images/plus1.png" /> Add Item</a></div>
			</li>
		</ul>
	</li>
}