@model CmsData.Registration.AskInstruction
@using CmsWeb
@using (var ci = Html.BeginCollectionItem(Model.Name))
{
	<li class="type-@Model.Type">@Html.Raw(ci.hiddenindex)
		@Html.HiddenFor(m => m.Type)
		<span class="keyword big tip" title="Instruction
    |Displays the label text (can include HTML) on the registration page
    |to provide some brief instruction.">
			Instruction
					<a class="delt" href="#"><img align="top" src="/images/delete.gif" title="remove this item" /></a></span>
		<ul>
			<li> <span class="keyword2">Label:</span> @Html.TextBoxFor(m => m.Label, new {@class = "long"})</li>
		</ul>
	</li>
}