@model CmsData.Registration.Ask
@using CmsWeb
@using (var ci = Html.BeginCollectionItem(Model.Name))
{
	<li class="type-@Model.Type">@Html.Raw(ci.hiddenindex)
		@Html.HiddenFor(m => m.Type)
		<span class="keyword big tip" title="AskInsurance
    |Displays two questions: Insurance name and policy #
    |Good for camp or ball teams where you might a participant might get hurt.">
			AskInsurance
					<a class="delt" href="#"><img align="top" src="/images/delete.gif" title="remove this item" /></a></span>
	</li>
}