@model CmsData.Registration.Ask
@using CmsWeb
@using (var ci = Html.BeginCollectionItem(Model.Name))
{
	<li class="type-@Model.Type">@Html.Raw(ci.hiddenindex)
		@Html.HiddenFor(m => m.Type)
		<span class="keyword big tip" title="AskParents
    |Displays two text boxes asking for mother and/or father's names.">
			AskParents
					<a class="delt" href="#"><img align="top" src="/images/delete.gif" title="remove this item" /></a></span>
	</li>
}