@model CmsData.Registration.AskSuggestedFee
@using CmsWeb
@using (var ci = Html.BeginCollectionItem(Model.Name))
{
	<li class="type-@Model.Type">@Html.Raw(ci.hiddenindex)
		@Html.HiddenFor(m => m.Type)
		<span class="keyword big tip" title="AskSuggestedFee
    |Allows the final fee to be adjusted to any amount (including zero)">
			AskSuggestedFee
					<a class="delt" href="#"><img align="top" src="/images/delete.gif" title="remove this item" /></a></span>
		<ul>
			<li> <span class="keyword2">Label:</span> @Html.TextBoxFor(m => m.Label, new {@class = "long"})</li>
		</ul>
	</li>
}