@model CmsData.Registration.AskYesNoQuestions
@using CmsWeb
@using (var ci = Html.BeginCollectionItem(Model.Name))
{
    var listname = Html.NameFor(m => m.list);
	<li class="type-@Model.Type">@Html.Raw(ci.hiddenindex)
		@Html.HiddenFor(m => m.Type)
		<div class="keyword big tip" title="YesNoQuestions
    |These are questions that will force a yes or no answer
    |The results will be in small groups 
    |with a -Yes or -No appended to the name">
			YesNoQuestions:
					<a class="delt" href="#"><img align="top" src="/images/delete.gif" title="remove this item" /></a></div>
		<ul id="YesNoQuestions" class="sort">
			@foreach (var item in Model.list)
			{
				item.Name = listname;
				@Html.EditorFor(m => item)
			}
		</ul>
		<div class="newitem"><a href="/Organization/NewYesNoQuestion/@listname"><img src="/images/plus1.png" /> Add Item</a></div>
	</li>
}
