@model CmsData.Registration.Settings
@using CmsWeb
@using UtilityExtensions

@foreach(var ask in Model.AskItems)
{
    ask.Name = Html.NameFor(m => m.AskItems);
    switch (ask.Type)
    {
        case "AskParents":
        case "AskDoctor":
        case "AskInsurance":
        case "AskEmContact":
        case "AskAllergies":
        case "AskChurch":
        case "AskTylenolEtc":
        case "AskCoaching":
            @Html.EditorFor(m => ask, ask.Type)
             break;
        default:
            @Html.EditorFor(m => ask)
            break;
	  }
}
	<li class="yes6"><span class="keyword big tip" title="Lock Commitment Days
    |This will cause the volunteers commitment to be locked in
    |for a number of days in the future and require them to ask for a sub">
						 Lock Commitment Days:</span>
		<span> @Html.TextBox("TimeSlotLockDays", Model.TimeSlots.TimeSlotLockDays)</span>
	</li>
	<li class="yes6">
		<div class="text big tip" title="TimeSlots
    |These allow you to specify a series of Day / Times for registration.">
			TimeSlots:</div>
		<ul id="TimeSlots" class="sort">
			@foreach (var i in Model.TimeSlots.list.OrderBy(cc => cc.Id))
			{
				@Html.EditorFor(m => i)
			}
		</ul>
		<div class="newitem"><a href="/Organization/NewTimeSlot"><img src="/images/plus1.png" alt="" /> Add Item</a></div> 
	</li>