@model CmsData.Registration.TimeSlots
@using CmsWeb
<li class="yes6"><span class="keyword big tip" title="Lock Commitment Days
    |This will cause the volunteers commitment to be locked in
    |for a number of days in the future and require them to ask for a sub">
						 Lock Commitment Days:</span>
		<span> @Html.TextBox("TimeSlotLockDays", Model.TimeSlotLockDays)</span>
</li>
    @{ var listname = Html.NameFor(m => m.list); } 
<li class="yes6">
    <div class="text big tip" title="TimeSlots
    |These allow you to specify a series of Day / Times for registration.">
        TimeSlots:</div>
    <ul id="TimeSlots" class="sort">
        @foreach (var item in Model.list.OrderBy(cc => cc.Id))
        {
            item.Name = listname;
            @Html.EditorFor(m => item)
        }
    </ul>
    <div class="newitem"><a href="/Organization/NewTimeSlot/@listname"><img src="/images/plus1.png" alt="" /> Add Item</a></div> 
</li>