@model CmsWeb.Areas.People.Models.Person.CellPhoneInfo
<div class="control-group">
    @Html.LabelFor(m => m, new { @class="control-label"})
    <div class="controls">
        <div class="textcombo">
            @Html.TextBoxFor(m => m.Number, new { @class = "text phone" })<br/>
            <label class="addon">@Html.CheckBoxFor(m => m.ReceiveText, new { @class="checkbox" }) <span>SMS Opt-in</span></label>
        </div>
    </div>
</div>
