@model CmsWeb.Areas.People.Models.Person.CellPhoneInfo
<div class="control-group">
    @Html.LabelFor(m => m, new { @class="control-label"})
    <div class="controls">
        <div class="textcombo">
            @Html.TextBoxFor(m => m.Number, new { @class = "text phone" })
            @Html.CheckBoxFor(m => m.ReceiveText, new { @class="checkbox" })
        </div>
    </div>
</div>
