@model CmsWeb.Areas.People.Models.Person.BasicPersonInfo
<div class="control-group">
    <label class="control-label">Do Not Contact</label>
    <div class="controls">
        <div class="textcombo">
            @Html.CheckBoxFor(m => m.DoNotCallFlag) <span>by phone</span><br/>
            @Html.CheckBoxFor(m => m.DoNotMailFlag) <span>by mail</span><br/>
            @Html.CheckBoxFor(m => m.DoNotVisitFlag) <span>in person</span>
        </div>
    </div>
</div>
