@model CmsWeb.Areas.People.Models.Person.EmailInfo
<div class="control-group">
    @Html.LabelFor(m => m, new { @class="control-label"})
    <div class="controls">
        <div class="textcombo">
            @Html.TextBoxFor(m => m.Address, new { @class = "text email lg" })
            @Html.CheckBoxFor(m => m.Send, new { @class="checkbox" })
        </div>
    </div>
</div>
