@model string
@{
    var label = ViewData.ModelMetadata.AdditionalValues["label"];
    var size = ViewData.ModelMetadata.AdditionalValues["size"];
}
<div class="control-group @size">
    <label for="">@label</label>
    <div class="controls">
        <input type="text" name="" id="@ViewData.TemplateInfo.HtmlFieldPrefix" class="text" value="@Model">
    </div>
</div>
