@using CmsWeb
@model CmsWeb.Areas.Main.Models.Report.WeeklyDecisionsModel
@{
    Layout = "~/Views/Shared/SiteLayout.cshtml";
    ViewBag.Title = "Decision Summary Report";
}
@section head {
    <style type="text/css">
        body {
            font-size: 110%;
        }

        .totalrow td {
            border-top: 2px solid black;
            font-weight: bold;
            text-align: right;
        }

        .headerrow th {
            border-bottom: 2px solid black;
            text-align: center;
        }

        input#SundayDate {
            width: 100px;
            font-size: 100%;
        }
    </style>
}
@section scripts
{
    <script type="text/javascript">
        $(function () {
            $(".datepicker").datepicker();
            $("a.run").button();
            $("a.run").click(function (ev) {
                ev.preventDefault();
                if (!$.DateValid($("#Sunday").val(), true))
                    return;
                window.location = "/Reports/Decisions/" + $.SortableDate($("#Sunday").val());
            });
        });
    </script>
}
<div style="text-align: center">
    <h1>Decision Summary Report</h1>
</div>
@*
<div style="text-align: center">
    <h1>Decision Summary Report</h1>
    <table style="font-size: 110%; text-align: left; margin-left: auto; margin-right: auto;">
        <tr>
            <td style="text-align: right">From Date:
            </td>
            <td>
                <asp:textbox id="FromDate" cssclass="datepicker" runat="server" autopostback="false" style="font-size: 110%"
                    width="100"></asp:textbox>
            </td>
            <td>&nbsp;
            </td>
        </tr>
        <tr>
            <td style="text-align: right">To Date:
            </td>
            <td>
                <asp:textbox id="ToDate" cssclass="datepicker" runat="server" autopostback="false" style="font-size: 110%"
                    width="100"></asp:textbox>
            </td>
            <td>
                <asp:button id="btnSubmit" tooltip="Press to run report" causesvalidation="true"
                    runat="server" text="Run" cssclass="noPrint" validationgroup="vgDates" onclick="btnSubmit_Click" />
            </td>
        </tr>
    </table>
    <asp:comparevalidator id="ToDateValidator" runat="server" errormessage="CompareValidator"
        controltovalidate="ToDate" controltocompare="FromDate" operator="GreaterThanEqual"
        setfocusonerror="True" validationgroup="vgDates" type="Date" text="To Date must be after From Date."
        cssclass="noPrint"></asp:comparevalidator>
    <hr />
    <table cellspacing="18" class="center">
        <tr>
            <td colspan="2" class="center">
                <asp:listview id="DecisionsView" runat="server" datasourceid="ODSDecisions"
                    onitemcommand="ItemCommand">
                        <LayoutTemplate>
                            <table id="itemPlaceholderContainer" runat="server" border="0" class="center">
                                <tr id="Tr7" runat="server" style="">
                                    <th class="HeaderLine" id="Th13" runat="server" colspan="2">
                                        Decisions
                                    </th>
                                </tr>
                                <tr id="itemPlaceholder" runat="server">
                                </tr>
                            </table>
                        </LayoutTemplate>
                        <ItemTemplate>
                            <tr>
                                <td class='left <%# Eval("CssClass") %>'>
                                    <asp:LinkButton ID="DetailButton" CommandName="ForDecisionType" CommandArgument='<%# Eval("Id") %>' Text='<%# Eval("Desc") %>' runat="server"></asp:LinkButton>
                                </td>
                                <td class='right <%# Eval("CssClass") %>'>
                                    <asp:Label ID="CountLabel" runat="server" Text='<%# Eval("Count", "{0:n0}") %>' />
                                </td>
                            </tr>
                        </ItemTemplate>
                        <EmptyDataTemplate>
                            <table id="Table1" runat="server" style="" class="center">
                                <tr>
                                    <th>
                                        No Decisions
                                    </th>
                                </tr>
                            </table>
                        </EmptyDataTemplate>
                    </asp:listview>
            </td>
        </tr>
        <tr>
            <td class="top center">
                <asp:listview id="BaptismsByAgeView" runat="server"
                    datasourceid="ODSBaptismsByAge" onitemcommand="ItemCommand">
                        <LayoutTemplate>
                            <table id="itemPlaceholderContainer" runat="server" border="0" style="">
                                <tr id="Tr9" runat="server" style="">
                                    <th class="HeaderLine" id="Th15" runat="server" colspan="2">
                                        Baptisms by Age
                                    </th>
                                </tr>
                                <tr id="itemPlaceholder" runat="server">
                                </tr>
                            </table>
                        </LayoutTemplate>
                        <ItemTemplate>
                            <tr>
                                <td class='left <%# Eval("CssClass") %>'>
                                    <asp:LinkButton ID="DetailButton" CommandName="ForBaptismAge" CommandArgument='<%# Eval("Id") %>' Text='<%# Eval("Desc") %>' runat="server"></asp:LinkButton>
                                </td>
                                <td class='right <%# Eval("CssClass") %>'>
                                    <asp:Label ID="CountLabel" runat="server" Text='<%# Eval("Count", "{0:n0}") %>' />
                                </td>
                            </tr>
                        </ItemTemplate>
                        <EmptyDataTemplate>
                            <table id="Table3" runat="server" style="">
                                <tr>
                                    <th>
                                        No Baptisms
                                    </th>
                                </tr>
                            </table>
                        </EmptyDataTemplate>
                    </asp:listview>
            </td>
            <td class="top center">
                <asp:listview id="BaptismsByTypeView" runat="server"
                    datasourceid="ODSBaptismsByType" onitemcommand="ItemCommand">
                        <LayoutTemplate>
                            <table id="itemPlaceholderContainer" runat="server" border="0"  class="center">
                                <tr id="Tr10" runat="server" style="">
                                    <th class="HeaderLine" id="Th16" runat="server" colspan="2">
                                        Baptisms by Type
                                    </th>
                                </tr>
                                <tr id="itemPlaceholder" runat="server">
                                </tr>
                            </table>
                        </LayoutTemplate>
                        <ItemTemplate>
                            <tr>
                                <td class='left <%# Eval("CssClass") %>'>
                                    <asp:LinkButton ID="DetailButton" CommandName="ForBaptismType" CommandArgument='<%# Eval("Id") %>' Text='<%# Eval("Desc") %>' runat="server"></asp:LinkButton>
                                </td>
                                <td class='right <%# Eval("CssClass") %>'>
                                    <asp:Label ID="CountLabel" runat="server" Text='<%# Eval("Count", "{0:n0}") %>' />
                                </td>
                            </tr>
                        </ItemTemplate>
                    </asp:listview>
            </td>
        </tr>
        <tr>
            <td class="top center">
                <asp:listview id="NewMemberView" runat="server"
                    datasourceid="ODSNewMemberByType" onitemcommand="ItemCommand">
                        <LayoutTemplate>
                            <table id="itemPlaceholderContainer" runat="server" border="0" class="center">
                                <tr id="Tr11" runat="server" style="">
                                    <th class="HeaderLine" id="Th17" runat="server" colspan="2">
                                        New Members by Type
                                    </th>
                                </tr>
                                <tr id="itemPlaceholder" runat="server">
                                </tr>
                            </table>
                        </LayoutTemplate>
                        <ItemTemplate>
                            <tr>
                                <td class='left <%# Eval("CssClass") %>'>
                                    <asp:LinkButton ID="DetailButton" CommandName="ForNewMemberType" CommandArgument='<%# Eval("Id") %>' Text='<%# Eval("Desc") %>' runat="server"></asp:LinkButton>
                                </td>
                                <td class='right <%# Eval("CssClass") %>'>
                                    <asp:Label ID="CountLabel" runat="server" Text='<%# Eval("Count", "{0:n0}") %>' />
                                </td>
                            </tr>
                        </ItemTemplate>
                        <EmptyDataTemplate>
                            <table id="Table4" runat="server" style="">
                                <tr>
                                    <th>
                                        No New Members
                                    </th>
                                </tr>
                            </table>
                        </EmptyDataTemplate>
                    </asp:listview>
            </td>
            <td class="top center">
                <asp:listview id="DroppedMemberView" runat="server"
                    datasourceid="ODSDroppedMemberByType" onitemcommand="ItemCommand">
                        <LayoutTemplate>
                            <table id="itemPlaceholderContainer" runat="server" border="0" class="center">
                                <tr id="Tr12" runat="server" style="">
                                    <th class="HeaderLine" id="Th18" runat="server" colspan="2">
                                        Dropped Members by Type
                                    </th>
                                </tr>
                                <tr id="itemPlaceholder" runat="server">
                                </tr>
                            </table>
                        </LayoutTemplate>
                        <ItemTemplate>
                            <tr>
                                <td class='left <%# Eval("CssClass") %>'>
                                    <asp:LinkButton ID="DetailButton" CommandName="ForDropType" CommandArgument='<%# Eval("Id") %>' Text='<%# Eval("Desc") %>' runat="server"></asp:LinkButton>
                                </td>
                                <td class='right <%# Eval("CssClass") %>'>
                                    <asp:Label ID="CountLabel" runat="server" Text='<%# Eval("Count", "{0:n0}") %>' />
                                </td>
                            </tr>
                        </ItemTemplate>
                        <EmptyDataTemplate>
                            <table id="Table5" runat="server" style="">
                                <tr>
                                    <th>
                                        No Dropped Members
                                    </th>
                                </tr>
                            </table>
                        </EmptyDataTemplate>
                    </asp:listview>
            </td>
        </tr>
        <tr>
            <td colspan="2" class="center">
                <asp:listview id="DroppedMemberChurchView" runat="server"
                    datasourceid="ODSDroppedMembersByChurch" onitemcommand="ItemCommand">
                        <LayoutTemplate>
                            <table id="itemPlaceholderContainer" runat="server" border="0" class="center">
                                <tr id="Tr13" runat="server" style="">
                                    <th class="HeaderLine" id="Th19" runat="server" colspan="2">
                                        Dropped Members by Church
                                    </th>
                                </tr>
                                <tr id="itemPlaceholder" runat="server">
                                </tr>
                            </table>
                        </LayoutTemplate>
                        <ItemTemplate>
                            <tr>
                                <td class='left <%# Eval("CssClass") %>'>
                                    <asp:LinkButton ID="DetailButton" CommandName="DroppedForChurch" CommandArgument='<%# Eval("Desc") %>' Text='<%# Eval("Desc") %>' runat="server"></asp:LinkButton>
                                </td>
                                <td class='right <%# Eval("CssClass") %>'>
                                    <asp:Label ID="CountLabel" runat="server" Text='<%# Eval("Count", "{0:n0}") %>' />
                                </td>
                            </tr>
                        </ItemTemplate>
                    </asp:listview>
            </td>
        </tr>
    </table>
</div>
*@
