@model System.Data.SqlClient.SqlDataReader
@using CmsData
@using CmsWeb
@using UtilityExtensions
@{
    ViewBag.Title = "ExtraValuesGrid";
    Layout = "~/Views/Shared/SiteLayout.cshtml";
    var target = Util2.TargetLinkPeople ? "target='people'" : "";
    CassetteConfiguration.BundleRefJs();
    Bundles.AddInlineScript(
    @<script src="/Content/js/FixedHeader.js" type="text/javascript"></script>);
    Bundles.AddInlineScript(
@<script type="text/javascript">
    $(function () {
        $('table.grid > tbody > tr:even').addClass('alt');
        $("#targetpeople").click(function (ev) {
            ev.preventDefault();
            if ($('a.target[target="people"]').length == 0)
                $("a.target").attr("target", "people");
            else
                $("a.target").removeAttr("target");
            return false;
        });
        new FixedHeader(document.getElementById('extragrid'), {
            "left": true
        });
    });
</script>
        );
}
@section head
{
		<style type="text/css" title="currentStyle">
			.FixedHeader_Cloned th { background-color: white; }
			.FixedHeader_Cloned td { background-color: white; }
		</style>
}
<h2>ExtraValuesGrid</h2>
<table id="extragrid" class="grid">
<thead>
<tr>
@for(var c = 1; c < Model.FieldCount; c++)
{
    <th><a href="/Reports/ExtraValuesGrid/@(ViewBag.queryid + "?sort=" + Model.GetName(c))">@Model.GetName(c)</a></th>
}
</tr>
</thead>
<tbody>
@while (Model.Read())
{
    <tr>
        <td><a class="target" href="/Person/Index/@Model.GetValue(0)" @target>@Model.GetValue(1)</a></td>
    @for (var c = 2; c < Model.FieldCount; c++)
    {
        var v = Model.GetValue(c).ToString();
        <td>@(v.HasValue() ? Html.Raw(v) : Html.Raw("&nbsp;"))</td>
    }
    </tr>
}
</tbody>
</table>
<div style="float:clear"></div>
<p> <a id="targetpeople" href="#">toggle link target</a> </p>