@model System.Data.SqlClient.SqlDataReader
@{
    ViewBag.Title = "ExtraValuesGrid";
    Layout = "~/Views/Shared/SiteLayout.cshtml";
}
@section scripts
{
<script type="text/javascript">
    $(function () {
        $('table.grid > tbody > tr:even').addClass('alt');
        $("#targetpeople").click(function (ev) {
            ev.preventDefault();
            if ($('a.target[target="people"]').length == 0)
                $("a.target").attr("target", "people");
            else
                $("a.target").removeAttr("target");
            return false;
        });
    });
</script>
}
<h2>ExtraValuesGrid</h2>
<table class="grid">
<tr>
<thead>
@for(var c = 1; c < Model.FieldCount; c++)
{
    <td><a href="/Reports/ExtraValuesGrid/@(ViewBag.queryid + "?sort=" + Model.GetName(c))">@Model.GetName(c)</a></td>
}
</thead>
</tr>
<tbody>
@while (Model.Read())
{
    <tr>
        <td><a class="target" href="/Person/Index/@Model.GetValue(0)" target="person">@Model.GetValue(1)</a></td>
    @for (var c = 2; c < Model.FieldCount; c++)
    {
        <td>@Model.GetValue(c)</td>
    }
    </tr>
}
</tbody>
</table>
<p> <a id="targetpeople" href="#">toggle link target</a> </p>