@model IEnumerable<CmsWeb.Areas.Main.Controllers.ReportsController.ShirtSizeInfo>
@{
    ViewBag.Title = "ShirtSizes";
    Layout = "~/Views/Shared/SiteLayout.cshtml";
}
<h2>ShirtSizes</h2>
<table cellspacing="5">
<tr><th class="left">Size</th><th class="left">Count</th></tr>
@foreach (var ss in Model)
{
    <tr><td>@ss.Size</td><td>@ss.Count</td></tr>
}
</table>