
/* generics */

body 
{
	font: 0.84em/1.333 Arial, sans-serif; 
  color: #202020; background: #FFF;
  min-width: 40em; margin: 0;
}
a:link {color: #339;}
a:visited {color: #848;}
a img {border: none;}
h1 {font-size: 2em; padding: 0.25em 0;}
h2 {font-size: 1.5em; margin: 2em 0 0.33em; padding: 0.25em 0;}
h3 {font-size: 1.33em; margin: 2em 0 0.25em; padding: 0.125em 0;}
h4 {font-size: 1.1em; margin: 0.5em 0 0;}
h5 {font-size: 1em; margin: 0.5em 0 0;}
h6 {font-size: 0.85em; margin: 0.5em 0 0;}
p {margin: 0.33em 0 1em 0;}
ul, ol {margin: 1em 0; padding-left: 2.5em;}
dt {margin: 0.5em 0 0;}
dd {margin: 0.25em 0 0.5em 2.5em;}
pre, code, tt {font: 100% "Andale Mono", "Lucida Console", "Bitstream Vera Sans Mono", "Courier New", monospace; margin: 1em 0;}
code, tt {border-bottom: 1px solid #E3E3E3; padding: 0 1px;}
small {font-size: 85%;}
big {font-size: 115%;}
sup {font-size: smaller; vertical-align: 0.5em; line-height: 1px;}
img.pic {float: right; position: relative; margin: 0.25em 0 0.66em 1.5em;}
img.border {border: 3px double;}
img.standalone {display: block; margin: 0.5em auto; width: auto; max-width: 100%;}
p.standalone {text-align: center;}
p.standalone img {display: inline;}
.warning {background: #FF8; color: red; border: 2px solid; padding: 1em;}
.highlight {background: #B4D5FF; font-weight: bold;}

/* masthead */

#sitemast 
{
	width: 100%; 
	position: relative; 
	z-index: 1;
	padding: .5em 0 10px 0;
	margin: 0;
	border-top: solid 8px #3A477A;
	background-image: url(../images/common/header-gradient.png);
	background-repeat: repeat-x;
	background-position: left top;
}
#sitemast h1
{
	font-size: 2em;
	line-height: 1em;
	padding: 0;
	margin-top: 1em;
	color: #a0ae5a;
}
#sitemast h2 {font-size: 1em; line-height: 1em; 
  padding: 0; margin: 0;
}
#sitemast h1 a {padding: 0 0.25em;}
#sitemast h1 a, .panel a {text-decoration: none;}
#sitemast #headerimage
{
	float:left;
	margin: 0 2em 2px 1em;
}
#sitemast #headertitle
{
	float:left;
}
#sitemast #headertitle a {
	color: #a0ae5a;
}

/* main content */

#main {margin: 0 20em 0 12em; padding: 0;
  min-height: 30em;}
#main h2 {border-bottom: 1px solid #888; margin: 0; padding: 0;
  font-size: 1.75em; line-height: 1;}
#main p.contact {margin: 0 1em; text-align: right; font-size: 90%;}

#main p {line-height: 1.4;}
#main li {line-height: 1.33; margin-bottom: 0.33em;}
#main .compact li {line-height: normal; margin-bottom: 0;}
#main ul li {list-style: square;}
#main ol li {list-style: decimal;}

#main blockquote {font-style: normal; margin: 1em 1em 1em 2em;}
#main blockquote em {font-style: italic; font-weight: inherit;}
#main blockquote p {margin: 0.33em 2.5% 0.33em 0 !important;
  line-height: 1.2; text-indent: 2em;}
#main blockquote.book p {margin: 0 2.5% 0 0 !important;}
#main blockquote.lyric {font-style: italic; white-space: pre;
  border: none; margin-left: 1em;}
#main blockquote.lyric p {text-indent: 0;}
.quoteattrib {margin: -0.75em 3em 0.66em; font-size: 87.5%;}
.quoteattrib cite {font-style: italic;}
#main.wide
{
	margin: 0 5em 0 1em;
}

/* 'sidebar' */

#extra {position: absolute; top: 100px; right: 0; z-index: 50; width: 18em; 
  font-size: 1em; line-height: 1.2;
  padding: 2.25em 0 0; margin: 3em 0 0;
  color: #5A5A5F;}
#extra a:link {color: #66A;}
#extra a:visited {color: #858;}

#extra .panel {margin: 0.75em 0 0; padding: 0.75em 0.75em 0 3em; border: 1px dotted #FFF;}
#extra .panel h4, #extra .panel h5 {margin: 0 0 0.25em; padding: 0 0.5em 0 0;
  font-size: 90%; line-height: 1;
  border-bottom: 1px solid #AAA;}
#extra .panel ul {list-style: none; margin: 0 1em 0 0; padding: 0; font-size: 90%;}
#extra .panel li {margin-left: 1em; text-indent: -1em;}
#extra .panel .more {float: right; margin: -1.5em 1px 0 0.5em;
  font-style: italic; text-align: right; font-size: smaller;}
#extra .panel .more a {padding-left: 15px; background: url(pix/morearr.gif) 0 66% no-repeat;}

#extra #flickrs .flickr_badge_image {display: inline;}
#extra #flickrs .flickr_badge_image img {margin: 0 5px 5px 0;
  background: url(/ui/pix/flickr-wait.gif) center no-repeat;}

#extra #advisory {margin: 35px 0 25px;}
#extra #advisory div {background-color: silver; text-align: center;}
#extra #advisory div.low {background-color: #A8CA63;}
#extra #advisory div.guarded {background-color: #77A5D0;}
#extra #advisory div.elevated {background-color: #FEDA37;}
#extra #advisory div.high {background-color: #FCAE47;}
#extra #advisory div.asshat {background-color: #EC665C;}
#extra #advisory img {margin: -35px 0 -22px; width: auto;}

#extra #blogroll h5 {padding-right: 95px;}
#extra #blogroll ul {margin: 0.5em 1em 0 0;}
#extra #xfn-btn {float: right; margin: -20px 1px 0 5px;}

#extra #excuse {text-align: center; padding: 0 0.25em 0.66em; margin:  2em 1em -2em 3em;
  border: 1px solid #CCC;}
#extra #excuse h4 {display: inline; position: relative; top: -0.6em;
  border: 0; padding: 0 0.25em; margin: 0;
  background: #FFF; color: #666;
  text-transform: capitalize; font-size: 1em; font-weight: normal;}
#extra #excuse p {margin: 0; padding: 0; color: #444;}

#extra #extras {padding: 1em 0.5em 1em; margin: 2em 1em 0 3em; width: 13em;
  color: #666; border: 1px solid #AAA; border-width: 1px 0;}
#extra #extras h4 {display: none;}
#extra #extras ul {margin: 0; text-align: center; list-style: none;}
#extra #extras li {margin-left: 0.25em; display: inline;}
#extra #extras a {margin-right: 0.25em;}

/* 'sidebar2' */

#main.front {margin-left: 3em; margin-right: 335px;}
#extra.front { width: 312px; }
#extra.front .panel
{
	border-left: solid 1px;
	border-right: solid 1px;
	padding: 0 8px 8px 8px;
	overflow: hidden;
	background-image: url(../images/common/sidebar-gradient.png);
	background-repeat: repeat-x;
	background-position: left bottom;
	min-height: 109px;
	margin: 1em;
	padding-top: 1em;
	padding-bottom: 1em;
	background-color: #d7d7ce;
}
#extra.front .panel img
{
	margin: 4px 0;
	padding: 3px;
	text-align: center;
}
#extra.front .panel h4
{
	margin: 0 0 8px 0;
	padding: 2px 0 4px 0;
	border-bottom: solid 1px #fff;
	font-weight: bolder;
	font-size: 160%;
	color: #333;
}

/* miscellaneous */

#footer {margin: 3em 18em 0 12em; padding: 0.5em 0 3.5em;
  border-top: 1px solid gray;
  text-align: center;
  color: gray; background: #FFF;}
#footer a {color: #558;}
#footer a:visited {color: #858;}
#footer p {line-height: 1; margin: 0; padding: 0.5em 0.25em 0; font-size: 0.85em; }

#reading img {border: 1px solid silver;}
#extra #reading img {margin: 0.5em;}

.book #main img.cover {float: right; margin: 1em 0 1em 2em;
  border: 1px solid; border-color: #AAA #444 #444 #AAA;}

/* Hack-o-rama! */

* html #navigate {padding-top: 0;}

/*\*//*/
body #search {width: 20em;}
/**/

/*

html body {background: #FDC;}
html #sitemast h1 {right: 0; left: auto;}
html #sitemast h1 a {color: maroon;}
html #thoughts ul.meta {float: right;
  text-align: right;}
html #thoughts h3 {font-size: 1.6em; line-height: 1em;
  padding: 0 6.25em 0.25em 0;}
html #thoughts .text {margin-left: 0; margin-right: 10em;}
html #main {margin: 2.25em 2em 0 20em;}
html #extra {right: auto; left: 0;}

*/
.CommonBreadCrumbArea
{
	margin: 0;
	padding: 8px 0 8px 0;
	font-size: 85%;
	color: #000;
}

.CommonBreadCrumbArea a:link, .CommonBreadCrumbArea a:visited, .CommonBreadCrumbArea a:active
{
	color: #000;
}
#CommonNavigation
{
	width: 100%;
	font-size: medium;
	font-family: Tahoma;
	background-color: #444;
	color: White;
	height: 1.6em;
}

#CommonNavigationShadow
{
	background-image: url(../images/common/navigation-shadow.png);
	background-repeat: repeat-x;
	background-position: left top;
	min-height: 6px;
	margin: 0;
	padding: 0;
	clear: both;
}
#CommonHeaderUserArea
{
	margin: 0;
	padding: 0;
	float: right;
	margin-right: -5px;
	position: relative;
	z-index: 100;
}

#CommonHeader
{
	padding: 0 0 10px 0;
	margin: 0;
	width: 100%;
	overflow: hidden;
	border-top: solid 10px #3A477A;
	background-image: url(../images/common/header-gradient.png);
	background-repeat: repeat-x;
	background-position: left top;
}
