#main {margin-left: 2em;}

.entry {padding: 1px 0 0; margin: 0 0 0;
  clear: both;}
.columnar, .columnar li {float: left; margin: 0; padding: 0;
  list-style: none !important;}
.columnar {width: 100%; padding: 0 0 0.75em;}
.two li {width: 45%;}
.three li {width: 30%;}

#main h2 {margin-left: 5.66em; border: none;}

#thoughts h3 {font-size: 1.6em; line-height: 1em;
  padding: 0 0 0.25em 6.25em; margin-top: 0.5em; clear: both;
  border-bottom: 1px solid #999;}
#thoughts h3 a {text-decoration: none; color: #226;}
#thoughts h3 a:hover {border-bottom: 3px dotted #FFF; padding-bottom: 0.125em;}
#thoughts h3 a:hover:after {content: " \B6"; padding-left: 0.33em; color: #778;}

#thoughts ul.meta, #thoughts ul.meta li {margin: 0; padding: 0;
  list-style: none; line-height: 1.2; color: #778;}
#thoughts ul.meta {float: left; width: auto;
  margin: 0; padding: 0.2em 0;
  text-align: left;}
#thoughts ul.meta li {font-size: 0.85em;}
#thoughts ul.meta .cat {margin: 0.75em 0; padding: 0.75em 0;
  border: 1px solid silver; border-width: 1px 0;}
#thoughts ul.meta .cat, #thoughts ul.meta .cmt {line-height: 1.5;}
#thoughts .meta a {color: #557; border-bottom: 1px solid #BBC;
  text-transform: none; text-decoration: none;}
#thoughts ul.meta li.editpost {margin-top: 1em; line-height: 1em; font-size: 2em;}
#thoughts ul.meta li.editpost a {border: none; color: #999;
  font: 1em "Zapf Dingbats", Arial, sans-serif;}

#thoughts .text {margin-left: 10em; margin-bottom: 1.5em; padding-left: 2px;
  clear: none;}

#thoughts p {margin: 0.33em 0 0.75em; line-height: 1.4em;}
#thoughts .aside {float: right; clear: right; width: 10em;
  border: 3px double #ABABAB; background: #EFEFEF; color: #888;
  padding: 0.5em 0.5em 0.5em 1em; margin: 0.25em 0 0.75em 1.5em;
  font-size: 95%; font-style: italic; line-height: 1.2em;}

#thoughts pre {margin-left: 0.5em; padding-left: 1em;
  border-left: 0.5em double #EEE;}
#thoughts blockquote {margin-left: 0; padding-left: 1em; 
  border-left: 1em solid #E0D8D8;}

#thoughts #rss-tb {margin: 0 0 1.5em; padding: 0 1px 0.25em 13em;
  font-size: 0.85em;}
#thoughts #rss-tb li {list-style: none; float: right;
  margin: 0 0 2em; padding: 0; font-style: italic;}
#thoughts #rss-tb #tb {margin-left: 2em;}
#thoughts #rss-tb a {color: #558;}

/*#main #comments h3 {padding-left: 0; margin-left: 6.25em;}*/
#comments ol {margin: 0; padding: 0;}
#comments h3 { border-bottom: none;}

#comments li.response {clear: both; border-top: 1px solid #999;
  list-style: none;}
#comments li.response h5 {margin-bottom: 1em;}
#comments li.response div.text {margin-left: 5em;}
#comments ul.meta {color: #999; padding-top: 0.55em; font-style: normal;}
#comments ul.meta a {color: #669;}
#comments ul.meta li {margin: 0 0 0 2.33em; padding: 0;}
#comments ul.meta li.cn {float: left; width: 1.5em ;margin: 0; padding-right: 0.5em;
  font-size: 1em; text-align: right;}
#comments ul.meta li.ci {font-size: 1em; margin: 0;}
#comments ul.meta li.cd {margin-top: 1.5em;}
#comments ul.meta li.editpost {margin: 0 0 0 1.15em;}

#comments .pingback, #comments .trackback {color: #999; font-style: italic;}
#comments .pingback a, #comments .trackback a {color: #666;}

#comments li.kahuna {background: url(images/kahuna-fade.gif) 50% 0 repeat-x;}
#comments li.kahuna ul.meta li {color: #556; font-weight: bold;}
#comments li.kahuna ul.meta a {color: #337;}

#comments, #postcomment {padding: 2.5em 0; clear: both;}

#postcomment {margin-left: 10em;}
#postcomment h3 {padding-left: 0;}
#commentform #fields {float: left; width: 23em;}
#commentform #form-info {margin: 1em 0 0 25em;}
#form-info code {display: block; line-height: 1.5em;}
#commentform #challenger {margin: 0.5em 0;}

.prev-next {margin: 0 0 0 10em; padding: 0.25em 0 0; 
  height: 1.5em;}
.prev-next li {list-style: none !important; float: left; width: 40%;}
.prev-next li.main {text-align: center; width: 19%;}
.prev-next li.next {text-align: right;}
.prev-next#pn-top {margin-bottom: 3em;}
.prev-next#pn-bot {margin-top: 3em;}

#commentPreview {border: 1px solid silver; padding: 0.75em; margin: 2em 0;
  position: relative;}
#commentPreview h4 {position: absolute; top: -0.75em; margin: 0;
  background: white; padding: 0 0.25em;}

/* Hack-o-rama! */

/*\*//*/
.entry, .response {position: relative;}
#thoughts ul.meta {position: absolute; width: 8em !important;}
#thoughts .entry ul.meta {margin-top: 0.25em;}
/**/
