@using UtilityExtensions
@using CmsWeb
@model CmsWeb.Models.VolunteerCommitmentsModel
@{
    Layout = "/Views/Shared/SiteLayout.cshtml";
    ViewBag.Title = "Volunteer Calendar";
}
@section scripts
{
    <script type="text/javascript" src="@Fingerprint.Tag("/Scripts/Volunteer/Calendar.js")"></script>
}
@section head
{
<style type="text/css">
#container { margin: 3em auto  0 3em; padding-bottom: 3em; background-color: #fff; }
#month { border-collapse: collapse; margin-left: 2em; }
#month th, #month td { border: 1px solid #000; }
#month thead { background-color:#9c9; }
#month td { min-width: 7em; padding: .2em; vertical-align: top; overflow: auto; }
#month td .day { min-width: 7em; min-height: 1em;  }
#month thead th { font: 150% bold Arial, Helvetica, sans-serif; padding: .2em; }
.wk-1 { background-color: #C5ECC5; }
.wk-2 { background-color: #E2E2FF; } 
.wk-3 { background-color: #FFE5E5; }
.wk-4 { background-color: #FFFFE2; }
.wk-5 { background-color: #EAEAEA; }
div.drop { border:1px dashed gray; background-color:lightgray;color:gray;cursor:pointer;padding:3px; }
.selected { background: #F39814 !important; color: white !important; }
.pidHighlight { background: #F3CB92 !important; }
.pidHighlight2 { background: #F3BEA9;}
div.selectable { cursor:cell;padding:3px; border: 1px solid transparent }
div.selectable:hover { border: 1px dotted gray;}
div.selectable h3 { color: blue; }
 /* Coming */
.commit-1 { color: black;  }
 /* Regrets */
.commit-0 { text-decoration: line-through; color: gray; font-size: 90%; }
 /* Finding Sub */
.commit-2 { font-weight:bold; color:blue; font-size:90%; font-style: italic; border: 1px dashed red !important;  }
 /* Sub Found */
.commit-3 { text-decoration: line-through; color: blue;font-size: 90%; }
 /* Substitute */
.commit-4 { color: #008000; }
</style>
}
<div id="managearea">
    @Html.Partial("ManageArea", Model)
</div>