<appSettings>
  <add key="logoimg" value="/Content/Crosses.png"/>
  <add key="header" value="Bellevue Forms"/>
  <add key="vbsheader" value="VBS Registration"/>
  <add key="vbsmail" value="vbs@bellevue.org"/>
  <add key="regheader" value="Church Database Registration"/>
  <add key="regmail" value="newpeople@bellevue.org"/>
  <add key="regpassword" value="fgsltw"/>
</appSettings>
